[2022-09-15 03:44] zhujintao opened #1382 "how to set mac address"
### Description

	 --net net1 \
	--ip 172.16.16.111 \
	--mac-address 00:18:21:82:83:17 \

FATA[0000] unknown flag: --mac-address

### Steps to reproduce the issue

_No response_

### Describe the results you received and expected

FATA[0000] unknown flag: --mac-address

### What version of nerdctl are you using?

Client:
 Version:	v0.23.0
 OS/Arch:	linux/amd64
 Git commit:	660680b7ddfde1d38a66ec1c

[2022-09-15 05:42] manugupt1 commented on #1378
I was able to reproduce normally also.
[code]
I would like to try it out

[2022-09-15 07:21] TonyKingdom commented on #1274
Any updates? I got the same error.

[2022-09-18 10:15] afbjorklund commented on #798
@mniak made an initial release of "[nerdctld](https://github.com/afbjorklund/nerdctld)", with some binaries and systemd units

[2022-09-18 10:23] afbjorklund commented on #1082
This is now implemented (since 0.22.0), showing the **client** version:

[code]

[2022-09-18 10:23] #1082 closed

[2022-09-19 15:40] Zheaoli opened #1387 "Proposal: Change the DNS impl for the nerdctl network"
### What is the problem you're trying to solve

For now, the nerdctl uses the `/etc/hosts` file to record the DNS for the different containers.

But in some circumstances, we need to maintain the different hosts file for different containers (add a record when a container create successfully, delete a record when a container delete successfully)

If the file is not right, there should be some DNS

[2022-09-19 15:50] yuchanns commented on #1382
Let me handle it @Zheaoli

[2022-09-19 21:13] yardenshoham commented on #1368
I'll take this

[2022-09-20 09:25] l1douhua commented on #1363
I don't have any other good solutions. The question is why can't nerdctl use build in the pod to pull up the image specified by "from" in the dockerfile?

[2022-09-20 09:25] l1douhua commented on #1363
I don't have any other good solutions. The question is why can't nerdctl use build in the pod to pull up the image specified by "from" in the dockerfile?

[2022-09-21 06:20] AkihiroSuda opened #1390 "`ParseFlagMount` should not depend on `ParseFlagV` (but `ParseFlagV` may depend on `ParseFlagMount`)"
https://github.com/containerd/nerdctl/blob/7dbbc311506c70edcfea9e4f300b4e1309c3ddda/pkg/mountutil/mountutil_linux.go#L426

[2022-09-21 06:21] #1378 closed

[2022-09-21 15:54] messiah10 opened #1391 "Failed to execute nerdctl commit command at the same time"
k8s 1.21.9 containerd 1.3.7

If two commit command are performed at the same time, one succeeds but the other one fails with a digest already exists error message.

Committed different pods created with the same base image, and assigned different image names and tag.

time="2022-08-29T16:40:14+09:00" level=warning msg="Image lacks label \"nerdctl/platform\", assuming the platform to be \"linux/amd

[2022-09-23 03:27] xuegege5290 commented on #1318
Change the iptables version,the problem solved.But do not know why nerdctl  has relation to the iptables

[2022-09-23 10:16] #1368 closed

[2022-09-23 10:22] callahad commented on #1368
Thank you very much, @yardenshoham and @AkihiroSuda

[2022-09-23 15:21] yardenshoham commented on #325
I looked a bit into this. In the Docker implementation, only one call to the daemon happens. Here:
https://github.com/docker/cli/blob/3dad26ca2d418092b8c4e01b03d0455d583bec86/cli/command/container/list.go#L122

In the nerdctl implementation, we make `O(n)` calls to `c.Spec` to achieve the same. My question: is `c.Spec` a call to containerd? If it's not, it shouldn't slow this operation down. The o

[2022-09-25 08:40] 2000yeshu commented on #1391
There is another use-case where we see the same error which happens when we commit a contianer and the commit is interrupted and when we retry the commit we see the error `failed to export layer: snapshot \\"sha256:5ca359d74c4d65ad7dc2fc1013b3cccfa921f9000395ac846fd06a37c9a1a67e-parent-view\\": already exists`. I think this happens because there is no garbage collection of the bolt KVs and the err

[2022-09-25 08:41] 2000yeshu commented on #1391
I think if we listen for any interrupt or kill signals and gc any useless KVs when any commit is interrupted before completion, this error can be prevented

[2022-09-25 17:58] Zheaoli commented on #1387
@AkihiroSuda would you mind helping me to add a label `kind/proposal` for this project?

[2022-09-25 21:28] fahedouch commented on #1387
SGTM,  think it is a good idea to delegate dns recording to the dnsmasq rather than nerdctl

[2022-09-25 22:43] AkihiroSuda commented on #1387
SGTM as an opt-in.

The default should remain files, as `dnsname` is not a part of https://github.com/containernetworking/plugins

[2022-09-26 12:41] Zheaoli commented on #1387
Yes, the people can choose DNS engine theirself

[2022-09-27 03:40] #1353 closed

[2022-09-27 05:10] AkihiroSuda opened #1396 "Release v1.0"
I think we are in a good state to release v1.0 (or v24).

I was initially planning to include the following issue in v1.0, but none of them is a blocker:
- #317
- #1187

cc @containerd/nerdctl-maintainers

[2022-09-27 05:31] ktock commented on #1396
SGTM

[2022-09-27 07:25] yardenshoham commented on #1396
I'd say #317 is not a blocker but #1187 is a blocker. I have used `-d` with `--rm` before.

[2022-09-27 08:39] fahedouch commented on #1396
SGTM

[2022-09-27 10:20] Zheaoli commented on #1396
I perfer release v1.0 after #1187

[2022-09-27 12:54] Kevin-De-Koninck opened #1397 "Nerdctl shows the digest ID instead of the image ID"
### Description

When running subcommand `images`, the output shows the digest ID (instead of the image ID) in the image ID column:

[code]

[code]

When inspecting the image, the correct ID is shown.

[code]

When using argument `--digests`, both the 'image ID' and 'digest' column show the same ID:

[code]

**Note**
When removing an image, the digest ID is required, not the real image ID.

[code]

[2022-09-27 20:19] fahedouch commented on #1397
It is a desired behavior https://github.com/containerd/nerdctl/pull/442

[2022-09-27 20:20] #1397 closed

[2022-09-27 23:22] vsiravar opened #1398 "nerdctl built images, without a tag don't show up when running nerdctl images command"
### Discussed in https://github.com/containerd/nerdctl/discussions/1392

<div type='discussions-op-text'>

<sup>Originally posted by **vsiravar** September 26, 2022</sup>
When I build an image using `nerdctl build .` without `-t/--tag` option, the image does not show up on running `nerdctl images`

Steps to reproduce this issue.

[code]

[code]
siravara@lima-default:/Users/siravara/vishwas-tests/t

[2022-09-28 06:19] yardenshoham commented on #1334
Is this closed since #1375 was merged?

[2022-09-28 06:20] #1334 closed

[2022-09-28 06:20] yardenshoham commented on #1337
Is this closed since #1377 was merged?

[2022-09-28 06:23] yardenshoham commented on #1310
Does #1304 fix this?

[2022-09-28 06:47] #1337 closed

[2022-09-28 16:18] AkihiroSuda commented on #1396
@yardenshoham @Zheaoli

How is `-d --rm` expected to be used?
How to get the logs and the exit code with `-d --rm` ?

[2022-09-28 16:48] Zheaoli commented on #1396
Actually, we don't.

The `--rm -d` is used in some one-time containers. We don't need to reuse this container, and we need to run it in the background. We always collect the log using some log drivers such as fluentd or others.

[2022-09-29 00:14] manugupt1 commented on #1187
@AkihiroSuda @Zheaoli  I tried this issue a few weeks back, where I got stuck was on how to clean up the resources. The approach that I tried was invoking the nerdctl postStop oci hook but the postStop hook executes before deleting the container which is not what we want today.

Do you have suggestions?

[2022-09-29 00:40] Kitanotori commented on #1310
Still not working with nerdctl 0.23.0:

[code]

[code]

[2022-09-29 09:31] estesp commented on #1396
This was an early request in the Docker engine and finally was added in v1.13.0 (2016) by moving the handling of `--rm` to the daemon side; curious whether an implementation in `nerdctl` would effectively require containerd core changes to mark a container resource as "please delete me when I exit": https://github.com/moby/moby/pull/20848

[2022-10-02 16:15] tmurakam opened #1404 ""nerdctl load" can't read data from stdin"
### Description

When runs "nerdctl load" with stdin, it does not read stdin and show following error.

`stdin is empty and input flag is not specified`

I think this is related to #1137

### Steps to reproduce the issue

1. Prepare any container image (tarball).
2. Run `cat container_image.tar | nerdctl load`

### Describe the results you received and expected

Error: `stdin is empty and input fl

[2022-10-03 01:49] zzsoszz opened #1406 "nerdctl build failed to build image and showing nothing output"
### Description

nerdctl build failed image and showing nothing output,
how to troubleshoot in this senario?

### Steps to reproduce the issue

$ containerd-rootless-setuptool.sh install

$ containerd-rootless-setuptool.sh install-buildkit

$ cat Dockerfile
[code]

$ nerdctl build --no-cache  -t test .  (not working)

$ nerdctl images
[code]

$ docker  build --no-cache  -t test .       (working)
[

[2022-10-03 05:45] AkihiroSuda commented on #1406
Please try `nerdctl --debug build`.

Also please try sudo

[2022-10-03 05:46] AkihiroSuda commented on #1406
Does `nerdctl run hello-world` work?

[2022-10-04 04:16] zzsoszz commented on #1406
nerdctl run and pull works fine

[2022-10-04 06:12] #1404 closed

[2022-10-04 08:21] YuriGeinishO opened #1408 "`build --build-arg KEY` with no explicit value considered an invalid value"
### Description

[code]

That is, `--build-arg HTTP_PROXY` is considered invalid without an explicit value, but according to https://docs.docker.com/engine/reference/commandline/build/#set-build-time-variables---build-arg it should be valid.

### Steps to reproduce the issue

_No response_

### Describe the results you received and expected

Got an error, expected no error.

### What version of ne

[2022-10-04 11:09] Sungjun-Ohh opened #1410 "a difference in the output of namespace moby and k8s.io."
### Description

There is a difference in the output of namespace moby and k8s.io.

### Steps to reproduce the issue

* case1.  namespace=k8s.io
-------------------------------------
[user@hostname sungjun]$ sudo ./nerdctl --namespace=k8s.io ps -a
CONTAINER ID    IMAGE                                                                                                                 COMMAND

[2022-10-04 11:46] zzsoszz commented on #1406
$ nerdctl --debug  build -t demo .
DEBU[0000] stateDir: /run/user/500/containerd-rootless
DEBU[0000] rootless parent main: executing "/usr/bin/nsenter" with [-r/ -w/home/ubuntu/projects/containerd_learning --preserve-credentials -m -n -U -t 9733 -F nerdctl --debug build -t demo .]
DEBU[0000] Choosing the buildkit host "buildkit-default/buildkitd.sock", candidates=[buildkit-default/buildkitd.sock b

[2022-10-04 12:56] zzsoszz commented on #1406
$  buildctl build     --frontend=dockerfile.v0     --local context=.     --local dockerfile=.
[+] Building 1.0s (5/5) FINISHED
 => [internal] load build definition from Dockerfile                                                           0.0s
 => => transferring dockerfile: 124B                                                                           0.0s
 => [internal] load .dockerignore

[2022-10-04 21:03] pcramasamy opened #1413 "[Rootful + SELinux] [BuildKit] RUN command throws error code 139 on centos"
### Description

Cannot build using containerfile with RUN command on centos. The same containerfile works fine on ubuntu.

### Steps to reproduce the issue

1. Have a simple Containter file:

FROM alpine
RUN ls

2. Build it

### Describe the results you received and expected

nerdctl build -t test:1 .
[+] Building 1.5s (4/5)
[+] Building 1.6s (5/5) FINISHED
 => [internal] load build definition fr

[2022-10-05 17:11] azhouwd opened #1415 "-a for stats command is not working when there is an exited container"
### Description

When using `stats` command with -a, no output is generated and the terminal stuck there forever.

[code]

[code]

`[user@lima-default default]$ nerdctl stats -a`

### Steps to reproduce the issue

1. create and shell into lima instance (Fedora).
2. run nerdctl stats -a.
3. The terminal stuck there and doesn't generate any output.

### Describe the results you received and expected

[2022-10-06 06:35] #1382 closed

[2022-10-06 09:47] yuchanns commented on #1187
That's weird.

How about hanging discontinuous responses until periodically checking has ensured containers are deleted?
[code]

[2022-10-06 09:53] AkihiroSuda commented on #1187
Can we rather just extend the restart monitor?
https://github.com/containerd/containerd/tree/main/runtime/restart

[2022-10-07 12:43] yardenshoham commented on #1396
As this seems like a very big effort, I'm OK with dropping #1187 for v1.0

[2022-10-09 13:56] lqstan opened #1419 "nerdctl在创建容器过程中，会产生大量 /usr/local/bin/nerdctl _NERDCTL_INTERNAL_LOGGING /var/lib/nerdctl/1935db59 进程，占用大量内存"
### Description

nerdctl在创建容器过程中，会产生大量 /usr/local/bin/nerdctl _NERDCTL_INTERNAL_LOGGING /var/lib/nerdctl/1935db59 进程，占用大量内存

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

不会产生这类进程： /usr/local/bin/nerdctl _NERDCTL_INTERNAL_LOGGING /var/lib/nerdctl/1935db59
因为这类进程实在是太多了，占用了大量进程

### What version of nerdctl are you using?

Client:
 Version:       v0.2

[2022-10-09 13:58] Zheaoli commented on #1419
Would you mind describing the problem using English?

[2022-10-09 14:02] lqstan commented on #1419
When nerdctl creates a container, a large number of /usr/local/bin/nerdctl _NERDCTL_INTERNAL_LOGGING /var/lib/nerdctl/1935db59 processes will be generated, occupying a lot of memory

[2022-10-09 14:04] lqstan commented on #1419
At the same time, a large number of useless processes such as /usr/local/bin/containerd-shim-runc-v2 -namespace default -id 1bd8240eed267bdacf0670649908da30d6f05529a1d69f5ed1d9d8f8694e0bd7 -address /run/containerd/containerd.sock have exited.       because 1bd8240eed267bdacf0670649908da30d6f05529a1d69f5ed1d9d8f8694e0bd7 corresponding container have exited

[2022-10-09 14:11] Zheaoli commented on #1419
I think it's not a bug. It's a special callback to let contained push logs to the nerdctl. See https://github.com/containerd/nerdctl/blob/master/cmd/nerdctl/run.go#L882-L895

[2022-10-09 17:45] 2000yeshu opened #1421 "Retrying failed/interruped commit gives error"
### Description

When we commit a contianer and the commit is interrupted and when we retry the commit we see the error failed to export layer: snapshot \\"sha256:5ca359d74c4d65ad7dc2fc1013b3cccfa921f9000395ac846fd06a37c9a1a67e-parent-view\\": already exists. I think this happens because there is no garbage collection of the bolt KVs and the error is thrown here [in containerd's bolt module](https

[2022-10-09 23:32] AkihiroSuda opened #1422 "`nerdctl build` should accept `--output <DIR`> as an alias of `--output type=local,dest=<DIR>`"
### Description

`nerdctl build` should accept `--output <DIR`> as an alias of `--output type=local,dest=<DIR>`, as in `docker build`.

### Steps to reproduce the issue

`nerdctl build --output . .`

### Describe the results you received and expected

Received: `error: invalid value .`
Expected: Should work as `--output type=local,dest=$(pwd)`

### What version of nerdctl are you using?

nerdctl v

[2022-10-10 10:27] Zheaoli commented on #1422
I think this can be a good first issue?  cc @AkihiroSuda

[2022-10-10 10:46] Zheaoli commented on #1421
I can not reproduce the bug, would you mind giving us more specific reproduce steps?

[2022-10-10 17:57] gcb commented on #560
docker updated to show a help message:

[code]

Which is the correct "fix" for the problem.

[2022-10-11 06:51] yuchanns commented on #1422
Assign me plz

[2022-10-11 11:57] 2000yeshu commented on #1421
I have updated the issue description with steps I followed to reproduce the bug.

[2022-10-11 15:05] AkihiroSuda commented on #1344
Docker's behavior is correct, and eventually we have to fix the behavior of nerdctl, but that can be worked out later.

Could you find a test case that works with Docker, and confirm that it works with nerdctl too?
Thanks

[2022-10-12 02:04] stillfox-lee commented on #1344
Sure.

[2022-10-12 02:30] stillfox-lee opened #1425 "`nerdctl compose down` with orphan container should keep the same behavior with docker"
### What is the problem you're trying to solve

When we execute `nerdctl compose down`. nerdctl does not check is three any other containers still in the network and just remove it.

### Describe the solution you'd like

While `docker compose down` will return error and not remove the network. We should keep the same behavior with it.

### Additional context

The orphan container [scenario](https:

[2022-10-12 04:13] FollieHiyuki opened #1426 "`failed to extract layer: operation not permitted: unknown` in rootless mode using btrfs snapshotter"
### Description

I'm unable to pull container images or running them, using `btrfs` snapshotter in rootless mode (my system is set up with Btrfs on root).

This issue seems to be relevant: https://github.com/moby/moby/pull/42203. I did try mounting my root subvolume with `user_subvol_rm_allowed` but still get nearly the same result. I didn't try using `docker` rootless yet, but `podman` works fine

[2022-10-12 16:04] user00000001 commented on #1048
At the same host, execute `nerdctl run` as root, published port can't be accessible from LAN; but execute as another normal user, port is accessible.
Uncomment `net.ipv4.ip_forward=1`  in **/etc/sysctl.conf** or **/etc/sysctl.d/*.conf**, which works for me.

[2022-10-16 09:19] ehsanpo opened #1439 "cant install with brew"
### Description

Was trying to install nerdcli on Macos Monterey 12.6 using the command

`brew install nerdctl`

Got this error massage :
[code]

### Steps to reproduce the issue

_No response_

### Describe the results you received and expected

Be able to install on osx.

### What version of nerdctl are you using?

--

### Are you using a variant of nerdctl? (e.g., Rancher Desktop)

_No response

[2022-10-16 09:20] kodyssss opened #1440 "It is hoped that nerdctl will maintain its own trust repository and will not require certificates."
### What is the problem you're trying to solve

I want to solve the problem that nerdctl can pull the private repository image like docker without adding some parameters.
That's the argument. insecure-registry

I'm used to using nerdctl, but I have to use docker for push packaging and push mirroring to private repositories. Let's hope someone big solves it.

### Describe the solution you'd like

O

[2022-10-16 09:47] AkihiroSuda commented on #1439
Expected behavior.
Please try Lima, Rancher Desktop, or Colima to run nerdctl on macOS (via a Linux virtual machine)

[2022-10-16 09:47] #1439 closed

[2022-10-17 11:53] zagaria opened #1442 "Nerdctl can't use locally built images in Dockerfile's"
### Description

Nerdctl can't use locally built images, every time trying to pull image from remote source.

### Steps to reproduce the issue

1. Create Dockerfile
[code]
2. Build ```nerdctl build -t my-image:1.0.0 .```
3. Check images using ```nerdctl images```
4. Create new file ```test.Dockerfile``` that will use previously created image
[code]
5. Try to build ```nerdctl build -t my-image-2:1.

[2022-10-17 13:18] fahedouch commented on #1440
Hello @kodyssss ,

We have to trust cert at nerdctl/containerd level event if it is trusted at the OS level. So to trust an address you have to provide the given cert https://github.com/containerd/nerdctl/blob/master/docs/registry.md#specifying-certificates
can you elaborate more you idea please.

[2022-10-17 15:28] fahedouch opened #1444 "[Planned on Nov 4, 2022] switch to main as default branch"
### What is the problem you're trying to solve

Hello,

Most of  nerdctl related project(s) default branches have been changed to `main` eg..: `containerd core project`. So it is confusing  to work with `master` branch

### Describe the solution you'd like

rename default branch to `main`

### Additional context

Why renaming to main ?  https://github.com/github/renaming#why-main
take consideratio

[2022-10-17 19:47] jimAtLoyal opened #1445 "Difference in .env file environment variables injected via docker run vs docker compose"
### Description

Looks like `docker run` puts single quotes around variables in .env regardless. `docker compose` does not, which is more like the Docker .env file. spec https://docs.docker.com/compose/env-file/

### Steps to reproduce the issue

1. Create .env file with the following content
[code]

2. Create docker-compose.yml
[code]
3. Run `nerdctl compose up` and see this output:
[code]
4. Run

[2022-10-17 19:59] Zheaoli commented on #1445
I think it's not a bug? I guess.

The nerdctl has the same behavior as Docker(`docker run` and `docker-compose up` have different env file inject behavior

[2022-10-17 20:00] Zheaoli commented on #1444
SGTM

[2022-10-18 05:28] junnplus commented on #1444
LGTM

[2022-10-18 13:44] AkihiroSuda commented on #1413
Thanks for reporting.

This issue seems specific to rootful + SELinux.

Using rootless, or disabling SELinux seems work as a workaround.

[2022-10-18 13:52] AkihiroSuda commented on #1413
Also, `nerdctl run` does not seem affected

[2022-10-18 17:56] Sebor opened #1450 "[compose] Add argument to build/push specific service(s)"
### What is the problem you're trying to solve

Some docker-compose files may have multiple services, but you don't want to build/push all of them

### Describe the solution you'd like

The command should look something like

[code]

(like in original [docker-compose](<https://docs.docker.com/engine/reference/commandline/compose_build/>))

### Additional context

_No response_

[2022-10-19 02:47] AkihiroSuda commented on #1396
I'm planning to ship the next release soon, right after bumping up dependencies such as BuildKit

@containerd/nerdctl-maintainers Should it be v1.0, or still v0.23.1 ?

[2022-10-19 02:57] AkihiroSuda commented on #1444
SGTM, but can we have a couple of weeks as a grace period?

[2022-10-19 02:59] #1408 closed

[2022-10-19 03:01] AkihiroSuda commented on #1187
↑ @junnplus WDYT?

[2022-10-19 12:06] fahedouch commented on #1444
For sure.

[2022-10-19 14:44] brodock commented on #996
`$HOME` also resolves to the guest home instead of host nome

[2022-10-20 09:58] junnplus commented on #1187
SGTM, I had the same idea before, but didn't study it carefully.

[2022-10-21 00:36] AkihiroSuda commented on #1396
@ktock @Zheaoli Thanks for your SGTM/LGTM in https://github.com/containerd/nerdctl/pull/1454

@fahedouch @jsturtevant @junnplus PTAL

[2022-10-21 12:23] #1422 closed

[2022-10-21 12:32] AkihiroSuda commented on #1444
Let's do this two weeks later (Nov 4)

[2022-10-21 13:26] fahedouch commented on #1444
@AkihiroSuda Why are you postponing the switch ?  shall I start working on this (switch content reference to `main`) or I have to wait for (Nov 4)

[2022-10-21 13:27] AkihiroSuda commented on #1444
To minimize possibility of breaking somebody's environments, let's have two weeks of grace period

[2022-10-21 13:41] AkihiroSuda commented on #1396
Released 🎉
https://github.com/containerd/nerdctl/releases/tag/v1.0.0

[2022-10-21 13:41] #1396 closed

[2022-10-22 18:25] yuchanns commented on #1187
From my understanding, do you mean to manage the `delete after stop` by upstream containerd?

So there should be a delete policy plugin or somewhat, periodically monitoring if containers with a delete policy are stopped and then delete them.

[2022-10-28 08:48] maruno commented on #458
A workaround for this issue when using nerdctl for development, if removing the container is okay in your usecase than using `nerdctl run --rm` will remove all traces of the container after running including the port.

[2022-10-28 08:56] 2000yeshu commented on #1421
Opened PR in containerd[https://github.com/containerd/containerd/pull/7596/] in relation to this

[2022-10-30 16:19] yuchanns commented on #1450
Leave it to me.

[2022-10-31 01:39] ningmingxiao opened #1472 "support webAssembly"
### What is the problem you're trying to solve

now docker already support   webAssembly
refer:https://docs.docker.com/desktop/wasm/
[](https://docs.docker.com/desktop/wasm/)

### Describe the solution you'd like

support webAssembly like docker

### Additional context

_No response_

[2022-10-31 06:54] AkihiroSuda commented on #1472
What change is needed?

[2022-11-01 04:16] azhouwd opened #1473 "Can not save an image with local registry running"
### Description

Using nerdctl v1.0.0, if running a local registry and remove the registry image, then pull any image such as alpine. Will have error if trying to save the alpine image in this case.

### Steps to reproduce the issue

1.`nerdctl run -d -p 5000:5000 registry`
2.`nerdctl rmi -f registry:latest`
3.`nerdctl pull alpine`
4.`nerdctl save alpine -o alpine.tar`

### Describe the results yo

[2022-11-04 06:31] #1398 closed

[2022-11-04 08:15] AkihiroSuda commented on #1444
Done

[2022-11-04 08:15] #1444 closed

[2022-11-04 16:15] djdongjin commented on #1450
@yuchanns hi have you started working on this? otherwise I'd like to give it a try. thanks.

[2022-11-04 16:22] yuchanns commented on #1450
It's yours.

[2022-11-05 19:53] djdongjin commented on #1367
@paolobarbolini can you share where you find the default zstd compression level is 3? 🤔 I thought it was 9.

Also, it seems all `estargz` flags work for `zstd` (`estargz-compression-level`, `estargz-chunk-size`, etc) [link](https://github.com/containerd/nerdctl/blob/78de68a78b24afe97d07e9c9b1fccdca76c8a63d/cmd/nerdctl/image_convert.go#L156), though the naming is indeed confusing. I guess maybe by

[2022-11-07 00:56] #1350 closed

[2022-11-07 02:18] manugupt1 commented on #1406
I cann't reproduce this issue. In the debug log; can you give me your buildctl command.
[code]

I have containerd worker setup. Do you have any other workers setup?

[2022-11-07 02:24] #1450 closed

[2022-11-07 17:40] afbjorklund commented on #798
Made another release (0.1.1), with bug fixes and new features for "build". And implementations of "inspect" and "history".

[2022-11-07 22:36] azhouwd opened #1485 "-t/--time flag for restart command is not working (`trying to get int value of flag of type string`)"
### Description

-t/--time flag for `restart` command is not working

### Steps to reproduce the issue

1. create a running container: `nerdctl run --name ctr-name -d alpine sleep infinity`
2. restart the container by specifying -t/--time flag: `nerdctl restart -t 1 ctr-name`

### Describe the results you received and expected

Expected: The running container should be restart around 1s
Received:

[2022-11-08 05:26] AkihiroSuda commented on #1367
Looks like a bug
cc @ktock

[2022-11-08 07:28] sixwaaaay opened #1487 "environment variables of current shell can't be passed to container via nerdctl run '-e' option"
### Description

behaivors as follow will print `10`
[code]
however, nothing will be printed when I use nerdctl
[code]

### Steps to reproduce the issue

1. set env var `export X=10`
2. run a container with the env var and print it in container `nerdctl run -e X alpine printenv X`

### Describe the results you received and expected

result: nothing
expected: print 10

### What version of nerdctl a

[2022-11-08 16:19] djdongjin commented on #1487
I tired this and noticed this might because the different behavior between docker and containerd:

Docker said an env without value (e.g., `-e X` vs `-e X=10`) means obtaining the value from shell: [docker](https://docs.docker.com/engine/reference/run/#env-environment-variables)

Containerd said that means unsetting the value: [nerdctl](https://github.com/containerd/nerdctl/blob/78de68a78b24afe97d

[2022-11-08 16:22] djdongjin commented on #666
@Zheaoli are you still working on this? Otherwise I'd like to give it a try.

[2022-11-09 01:19] sixwaaaay commented on #1487
This command does not seem to work for passing environment variables with multi-line text
My attempt is to use base64 encoding to convert multi-line text into a base64 text without line breaks every 76 characters, then pass it to the container and decode it in the container.
[code]
I think it seems a little troubling

[2022-11-09 05:34] AkihiroSuda opened #1490 "The CIDR of the bridge can't be changed (`network with name bridge already exists`)"
_Originally posted by @jandubois in https://github.com/rancher-sandbox/rancher-desktop/issues/3365#issuecomment-1308233426_

Seems regression in v0.22.1
- https://github.com/containerd/nerdctl/pull/1245

[2022-11-09 15:43] Zheaoli commented on #666
@djdongjin Sure you can make a try

[2022-11-10 22:37] djdongjin commented on #1222
This one seems frequent recently:

https://github.com/containerd/nerdctl/actions/runs/3343599257/jobs/5536985776

https://github.com/containerd/nerdctl/actions/runs/3438150819/jobs/5733839743

https://github.com/containerd/nerdctl/actions/runs/3019700424/jobs/4855888202

[2022-11-10 22:46] AkihiroSuda commented on #1413
Being fixed in BuildKit v0.10.6
- https://github.com/moby/buildkit/pull/3255

[2022-11-10 23:35] #666 closed

[2022-11-11 21:38] djdongjin commented on #566
I did a try on this but encountered a wired `go mod tidy` issue while importing `buildkit` 🤔 (specifically,  [`"github.com/moby/buildkit/frontend/dockerfile/instructions"`](https://github.com/moby/buildkit/blob/v0.10.6/frontend/dockerfile/instructions/parse.go)

[code]

The change is not much
[code]

Will visit this later.

[2022-11-11 21:54] yuchanns commented on #566
FYI https://github.com/sirupsen/logrus/issues/1041

[2022-11-12 06:15] aerphanas commented on #492
is anyone know how to run image properly ?
i run image with :

[code]

after i stop container and i want to run it again with :

[code]

it say

[code]

[2022-11-12 23:46] djdongjin opened #1502 "Refactor `stop containers` and `remove containers` in compose"
### Description

The usage of `stop/remove containers` in `compose` seems duplicated and have some bugs.

Possible bugs:

1. This `WaitGroup` should be outside of `for`, otherwise it's equivalent to sequential exec without `go func`:
https://github.com/containerd/nerdctl/blob/f596926d413b9d0b193270a7a519a25cd1667513/pkg/composer/run.go#L285

2. Here the log says `stopping` but it's `removing`. (do

[2022-11-13 09:12] Zheaoli commented on #1490
like https://github.com/containerd/nerdctl/issues/1425, If we allow people to change the CIDR of a network configuration, I think it would be better to validate if there is any container existed related with this network

[2022-11-13 23:53] AkihiroSuda commented on #1490
Yes, it should be validated

[2022-11-14 01:26] #1485 closed

[2022-11-14 05:58] #1367 closed

[2022-11-14 05:59] #1272 closed

[2022-11-15 22:26] bernardoforcillo opened #1510 "FATA[0003] error saving credentials: error storing credentials - err: exit status 22, out: ``"
### Description

error generated login to docker repository

### Steps to reproduce the issue

_No response_

### Describe the results you received and expected

The expected result is succefully logged in. But i'n not.

### What version of nerdctl are you using?

Client:
 Version:       v0.23.0
 OS/Arch:       linux/amd64
 Git commit:    660680b7ddfdebc1q2ud34rkq786qneq4gxzjydw8l3zvycpmlcelnx
 bu

[2022-11-16 07:17] AkihiroSuda commented on #1510
Please provide this

[2022-11-16 08:30] bernardoforcillo commented on #1510
`nerdctl login -u bernardoforcillo -p {my_password}`

[2022-11-16 09:44] stefan-fast commented on #1089
I get the same issue on MacOS with nerdctl version v0.23.0 bundled with Rancher Desktop 1.6.2.

Like @prom3theu5 already mentioned, if you leave it running for long enough, it will still push the image.

[2022-11-17 01:14] davidhsingyuchen opened #1514 "`run --blkio-weight` results in a panic"
### Description

If `--blkio-weight` is given to `nerdctl run`, `nerdctl` panics.

We may need to change this line:

https://github.com/containerd/nerdctl/blob/c00780a1f5b905b09812722459c54936c9e070e6/pkg/infoutil/infoutil.go#L249

to:

[code]

so that `info` won't be a `nil` pointer on the next line:

https://github.com/containerd/nerdctl/blob/c00780a1f5b905b09812722459c54936c9e070e6/pkg/infoutil

[2022-11-17 01:37] davidhsingyuchen opened #1515 "`run --oom-score-adj <negative-number>` failed to create a container"
### Description

The [valid range of `--oom-score-adj`](https://github.com/containerd/nerdctl/blob/e9aaab45d2b21eb07673072c39be41bcb5086556/README.md?plain=1#L418) is [-1000,1000], but it seems that if the number is in [-1000, -1], then the following error will occur:

[code]

### Steps to reproduce the issue

[code]

### Describe the results you received and expected

#### Received

[code]

####

[2022-11-17 19:50] djdongjin commented on #1329
@Zheaoli I'd like to work on this if you haven't started :)

[2022-11-17 23:59] #1514 closed

[2022-11-18 01:50] yankay commented on #1514
HI @davidhsingyuchen, it has been fixed :-)

[2022-11-18 01:51] #607 closed

[2022-11-18 02:00] Zheaoli commented on #1329
Sorry about this，I have worked on it already ：）

[2022-11-18 02:13] djdongjin commented on #1329
np :) let me know if you need a review when the PR is out and I'd like to learn more about it

[2022-11-18 04:47] davidhsingyuchen opened #1520 "cgroupv2: `--oom-kill-disable` is not respected"
### Description

According to the `Disabling OOMs` section of https://github.com/opencontainers/runtime-spec/issues/1005, it seems that to implement `--oom-kill-disable` on a host that uses cgroupv2, the only way that's mentioned is setting [`oom_score_adj`](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/Documentation/filesystems/proc.txt?h=v5.0#n1498) to `-1000`.

However

[2022-11-18 06:13] AkihiroSuda commented on #1520
No.
I'm not aware of any container engine implementation that maps `--oom-kill-disable` to oom score adj -1000, but I agree that mapping would be useful.

[2022-11-18 08:28] dg-it commented on #665
Thanks, this worked.

Same issue on Mac M1 Max Ventura + lima  0.13.0 + nerdctl 1.0.0. After gracefully stopping an oracle xe docker container and lima itself, restarting lima and then 'lima nerdctl start <my-oracle-xe-db> gives:

FATA[0002] failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process: error during container init: error running hook

[2022-11-18 08:29] davidhsingyuchen commented on #1520
@AkihiroSuda Thank you for the response.

I see. Will see how to add it to `containerd` first. In the meantime, if `--oom-kill-disable` is set on a cgroupv2 host, maybe we can log an error referencing this issue to make it clear. WDYT?

[2022-11-18 08:42] AkihiroSuda commented on #1520
Should be a warning, not an error, probably

[2022-11-18 09:23] fahedouch commented on #351
fixed by #1518

[2022-11-18 09:23] #351 closed

[2022-11-18 09:50] liubin commented on #1487
@sixwaaaay Do you want this?

[code]

[2022-11-18 10:02] #1510 closed

[2022-11-18 11:43] #1515 closed

[2022-11-21 10:12] zhan9san opened #1530 "Wrong host ports are generated"
### Description

The nerdctl will always use tcp port `49153` as a random port if hostport is not set when using `-p/--publish` flag.

Multiple rule will be created in iptable nat tables as well

[code]

### Steps to reproduce the issue

## Multiple containers

[code]

## One container with multiple ports

[code]

## compose

If multiple ports are defined without host ports in compose file, the sa

[2022-11-21 10:13] zhan9san commented on #1530
Could you plz assign this issue to me?

I am glad to fix it.

[2022-11-21 10:26] #1487 closed

[2022-11-21 16:23] fahedouch commented on #1473
fixed by https://github.com/containerd/nerdctl/pull/1526

[2022-11-21 16:23] #1473 closed

[2022-11-23 06:58] developer-guy opened #1542 "new Logo design for nerdctl"
### What is the problem you're trying to solve

The OpenSSF organization has announced the new [landscape](https://landscape.openssf.org/) design. In that landscape, there is a [tab](https://landscape.openssf.org/sigstore) for the Sigstore community, which helps people add tools signed with Sigstore tooling or integrate with Sigstore tooling. As we integrate cosign tool with the nerdctl, I thought

[2022-11-23 09:31] mengxifl opened #1543 "[CentOS 7] cannot delete container /var/cache/ after with build use USER <username>"
### Description

cannot delete container /var/cache/ after with build  use USER <username>

### Steps to reproduce the issue

1.dockerfile is
[code]
2. nerdctl build -t test:test .
3. nerdctl run --rm --name=test test:tes
4. nerdctl exec -it --user=root test /bin/bash
5. rm -rf /var/cache/
rm: cannot remove '/var/cache/ldconfig': Directory not empty
rm: cannot remove '/var/cache/yum/x86_64/7/base/

[2022-11-23 10:43] yankay commented on #1520
![企业微信截图_16692001274660](https://user-images.githubusercontent.com/1469319/203526798-c1450cb9-4468-4f09-9935-72c83f9f6bf7.png)

I try it on the same OS (Ubuntu 22.04), and the oom_score_adj is `-998`.

Is it solved ?

[2022-11-23 11:42] Tapasdgp opened #1547 "network create flag --ipv6 support"
### What is the problem you're trying to solve

I am trying to implement containerd network with ipv6 traffic which is not supported currently is there any plan to address this?

### Describe the solution you'd like

if you support similar kind of feature like docker deamon or support nerdctl network create --ipv6 flag support it will help us resolve ipv6 traffic flow issue within contrainer.

###

[2022-11-23 16:07] yuchanns commented on #1547
Let me handle it.

[2022-11-23 16:15] djdongjin commented on #1502
After #1534 is merged, I'll combine/dedup `remove containers` functions into [`composer/rm.go`](https://github.com/djdongjin/nerdctl/blob/compose-rm/pkg/composer/rm.go). Then we should be good to close this :)

[`compose down`](https://github.com/containerd/nerdctl/blob/6bcd80643dc3acc3e5e2aaeccc4d0f7a4bbba799/pkg/composer/down.go#LL113C46-L113C46)
[`compose run`](https://github.com/containerd/ner

[2022-11-23 17:48] fahedouch commented on #1490
I believe that we have to exclude  `e.ensureDefaultNetworkConfig()`  From `NewCNIEnv(cniPath, cniConfPath string)`. I take this ticket

[2022-11-23 20:58] djdongjin opened #1549 "Flaky test `TestRunWithLogBinary`"
### Description

`TestRunWithLogBinary` seems flaky recently.

### Steps to reproduce the issue

Some failed CI jobs:

https://github.com/containerd/nerdctl/actions/runs/3534631174/jobs/5931730823
https://github.com/containerd/nerdctl/actions/runs/3531018664/jobs/5923693580
https://github.com/containerd/nerdctl/actions/runs/3525013201/jobs/5911181827
https://github.com/containerd/nerdctl/actions/r

[2022-11-24 03:50] DogeFlow commented on #1048
same issue，there is no problem with docker, but not with containerd

[2022-11-24 05:58] DogeFlow commented on #1048
I don't know what's the problem, after I reboot the machine, the problem is solved

[2022-11-24 07:14] Dentrax commented on #1542
As non-graphical expect at logo design, we tried to design a simple logo with @developer-guy.

Design steps:
1. Rotate containerd logo CW
2. Place 2 black placeholders at top/bottom in the center of right-rotated `d`
3. Add black block to lower `t`'s tail (cut in the middle)
4. Append `l` approximately same size

Idea is to respect official `d` logo, if we about to rotate our head CW, we should ba

[2022-11-24 07:32] AkihiroSuda commented on #1542
That logo just reads "ctl" or "cll"

What about:

![image](https://user-images.githubusercontent.com/9248427/203720641-8b213da6-a13b-4368-9222-0540660f2006.png)

[2022-11-24 08:57] AkihiroSuda commented on #1530
Server-side implementation will take a time to reach consensus, so this should be on the client side

[2022-11-24 09:38] developer-guy commented on #1542
What is the next step, then? May I create a folder called `artwork` or something like that to store the png and SVG contents? @AkihiroSuda

[2022-11-24 09:38] developer-guy commented on #1542
Any ideas to make high-quality SVG vectors @dentrax ?

[2022-11-24 10:47] AkihiroSuda commented on #1542
Needs to discuss with core committees and maybe CNCF for usage of the altered containers logo.

Also we might need to adjust the  spaces and the font of "l' .

[2022-11-24 11:12] Dentrax commented on #1542
IMHO, I'm slightly -1 with long form of logos that contains texts. (I don't imply this is bad, actually it's nice!) Since it'd be hard to draw and remember in the first place. The logo would be much great if it's in much clear, and rememberable form. (Since I'm not a graphical artist, you can completely ignore this! Core committees would make better decision as you said.)

[2022-11-24 11:50] dalvarezquiroga commented on #1039
Yeah would be great to read the logs using directly nerdctl :-)

nerdctl -n k8s.io container logs e780b0e8aba7
WARN[0000] Currently, `nerdctl logs` only supports containers created with `nerdctl run -d`
FATAL[0000] open /var/lib/nerdctl/1935db59/containers/e780b0e8aba78200dfe6112dc834925952ee6bb3a39f64cb8ab88081c77c74f9/log-config.json: no such file or directory

[2022-11-24 12:07] #1549 closed

[2022-11-24 12:44] developer-guy commented on #1542
Who can we ping to start generating the nerdctl logo in the CNCF? Any names?

[2022-11-25 11:15] AkihiroSuda opened #1553 "FreeBSD: support networking (with `runj.ext.json`)"
runj now supports networking via `runj.ext.json`.

https://github.com/samuelkarp/runj/blob/ec642aa7887be2a4968f20d24b54eed687895a65/docs/oci.md

[code]

Probably, `nerdctl run --net=bridge` can be mapped to `inherit`, and `--net=host` can be mapped to `inherit`.

[2022-11-26 02:14] djdongjin commented on #1376
Not sure if this doable in nerdctl/containerd. I think even `docker` cannot calcuate this kind of diff when snapshotter is used (if I track the `docker` cli call correctly, the below func is used when `docker diff` is callled):

https://github.com/moby/moby/blob/3df160a410b33b3253c7aff814a85322a0883274/daemon/changes.go#L23-L25

[2022-11-26 18:59] aman556 opened #1556 "Add a YAML linter in GitHub workflow"
### What is the problem you're trying to solve

As the project consists of YAML files, humans sometimes do not notice the indentation, extra spaces, and lines in the file.

### Describe the solution you'd like

Adding a linter will help in the sanity of YAML files as it will run whenever the PR consists of a YAML file.

### Additional context

_No response_

[2022-11-27 11:30] Eucliddd commented on #1048
I solved my problem with "iptables -A CNI-FORWARD -p tcp -m tcp --dport xxxx -j ACCEPT". But it's strange that after adding this specific iptable rlue, other ports which using portmap also become accessible.

[2022-11-27 12:13] Zheaoli opened #1560 "[Proposal] Track the relationship between the container and the cni network"
### What is the problem you're trying to solve

In some circumstances, we need to track the relationship between the container and the CNI network like #1490 #1425

So I propose adding a new feature to maintain the relationship

### Describe the solution you'd like

First, we need to add the command `nerdctl network containers` to let people get the container associate with network.

Second, we ca

[2022-11-27 12:17] Eucliddd opened #1561 "containers can't intercommunicate using portmap"
### Description

I have a prometheus container and a cadvisor container, and they are using following portmap:
prometheus: 7070 => 9090
cadvisor: 9090 => 8080
I get into prometheus using `nerdctl exec -it prometheus sh` and try to access cadvisor using `wget host ip:9090/metrics`, but the connection timeout.

Containers can communicate with others without portmap using host-ip:port.
Remote machine

[2022-11-27 12:28] Zheaoli commented on #1561
Would you mind to tell us run the container in rootless or root mode?

[2022-11-27 13:04] Eucliddd commented on #1561
in root mode

[2022-11-27 13:05] Zheaoli commented on #1561
Sorry, I can not reproduce this issue in root mode

[2022-11-27 14:00] AkihiroSuda commented on #1560
- What is "relationship"?
- What is the issue that will be solved by this proposal? How is the issue addressed in other container engines, such as Podman?
- How is this relevant to #1490?
- The `net.d` directory is dedicated for CNI, and I don't think we are allowed to create other files there.

[2022-11-27 14:05] AkihiroSuda commented on #1376
They have the `diff` implementation in the `rumpl/moby` tree:
- https://github.com/rumpl/moby/pull/91
(The current implementation seems specific to the overlayfs snapshotter?)

[2022-11-27 14:24] Zheaoli commented on #1560
1. The relationship means how many containers use a network configuration.
2. Before we can change the network CIDR or CRUD network configuration, we need to check if there is any running container on the network configuration. If we don't do this, I think there will be an extra issues here.

[2022-11-28 02:43] utam0k commented on #1472
Hi, nerdctl team. I'm newer to nerdctl. But let me share my knowledge.
runc and youki already support running wasm.
https://containers.github.io/youki/user/webassembly.html

I wonder if it would be feasible to change the oci runtime via nerdctl and annotate the config.json? If we can do that, we can support them. As the youki team, please let us know if there is anything we can do to help.

[2022-11-28 02:46] AkihiroSuda commented on #1472
`nerdctl run --label` is propagated to OCI runtime annotations, so it should just work?

[2022-11-28 02:47] AkihiroSuda commented on #1472
I guess `containerd-shim-wasmtime-v1` should also work?
https://github.com/deislabs/runwasi

Is there any change needed on the nerdctl side?

[2022-11-28 03:38] utam0k commented on #1472
Awesome. Maybe this will work if it propagates to the OCI Runtime side that supports it.

https://github.com/deislabs/runwasi

I guess yes :+1:

Perhaps from the user's side, if they pass the flag(e.g.` nerdctl run --wasm ...`), they can run it in wasm, or they want a frendly document for wasm?

[2022-11-28 08:17] Belyenochi commented on #1391
I had the same problem, looks like concurrent commit image deadlock.

[2022-11-28 09:21] shyim opened #1564 "Support --format also on nerdctl compose ps"
### What is the problem you're trying to solve

Currently, I can do `nerdctl ps --format "{{json .}}"` to have an JSON representation of the data.

### Describe the solution you'd like

I would like to have the same for `nerdctl compose ps`. So I can use the output in another program.

### Additional context

_No response_

[2022-11-28 13:45] zhan9san commented on #458
It's against the definition of [poststop](https://github.com/opencontainers/runtime-spec/blob/main/config.md#poststop).

IMHO, the runtime-spec is for k8s pod, and there is no `stop` action in k8s pod.

[2022-11-28 13:48] zhan9san commented on #1259
related to #458

[2022-11-28 14:31] fahedouch commented on #1472
ctr do not require the to set the platform https://github.com/deislabs/runwasi#containerd-shim-wasmtime-v1

[2022-11-28 15:17] fahedouch commented on #1490
closed by https://github.com/containerd/nerdctl/pull/1554

[2022-11-28 15:17] #1490 closed

[2022-11-28 18:49] djdongjin commented on #1564
I can take this one :)

[2022-11-29 01:43] #1502 closed

[2022-11-29 09:54] fahedouch commented on #1560
the link between the container its network(s) is maintained by the label : `"nerdctl/networks": "[\"bridge\"]",`

[2022-11-29 09:59] Zheaoli commented on #1560
seems enough to add validation on network CRUD action.

[2022-11-29 10:01] fahedouch opened #1568 "cannot delete network by ID"
### Description

please check the title :-D!

### Steps to reproduce the issue

1.  `nerdctl network create deleteme --gateway 10.10.11.1 --subnet 10.10.11.0/24`
2.   `nerdctl network ls`
[code]
4. `nerdctl network rm f9d6cec6deab`
[code]

### Describe the results you received and expected

expectation:
delete network by ID.

### What version of nerdctl are you using?

[v1.0.0](https://github.com/

[2022-11-29 10:21] fahedouch commented on #1560
@Zheaoli are you planning to add `validation` on network CRUD ?

[2022-11-29 10:48] Mihai22125 commented on #1568
Hello @fahedouch, I would be happy to give it a shoot. Can you assign it to me, please?

[2022-11-29 13:23] Zheaoli commented on #1560
Yes, I have already make a PR, ptal #1569

[2022-11-29 15:37] Retrospection commented on #1425
I'd like to try to solve this~

[2022-11-30 03:54] samuelkarp commented on #1553
For `"mode":"new"` there's some additional work to be done:

* runj will need to gain support for specifying a vnet should be created
* runj will need to gain support for passing an interface to the vnet
* nerdctl (or a CNI plugin?) would need to create an epair and bridge and configure them appropriately

[2022-11-30 10:56] fahedouch commented on #1560
regarding your above comment I will this proposal. thks

[2022-11-30 10:56] #1560 closed

[2022-11-30 11:24] aMohammadEmami commented on #171
@AkihiroSuda I have a containerd 1.6 but keep getting this error:
error adding content digest to lease: sha256:ab022bccabd6519110473fecf7c24f52aa395f845d2c8da3b77be6aef92509ff: unknown method AddResource: not implemented

would you be so kind telling me how to fix it?

the command is this:
docker pull fluent/fluentd:edge-debian

some info:
**docker version**

Client: Docker Engine - Community
 Ver

[2022-11-30 11:33] AkihiroSuda commented on #171
This is 1.2.4 https://github.com/containerd/containerd/commit/e6b3f5632f50dbc4e9cb6288d911bf4f5e95b18e

[2022-11-30 18:34] its-sachink opened #1571 "Importing a vulnerable "github.com/btcsuite/btcd v0.21.0-beta" vulnerable library in the go.mod file as a require"
### Description

As per the NIST compliance https://nvd.nist.gov/vuln/detail/CVE-2022-44797 the current "github.com/btcsuite/btcd v0.21.0-beta" module is vulnerable. Also please note that this is a BETA release, so we need to replace it with the stable release.

Requesting to replace it with the version "https://github.com/btcsuite/btcd/releases/tag/v0.23.2" to fix this BUG.

![image](https://user

[2022-11-30 23:27] AkihiroSuda commented on #1571
We are not using the affected files (https://github.com/btcsuite/btcd/pull/1896/files)
- #1573

[2022-11-30 23:27] #1571 closed