[2022-01-20 06:20] Junnplus opened #717 "registry login failed: 400"
[code]

[2022-01-20 06:25] Junnplus commented on #717
Looks like an issue with the aliyun registry service, but `docker login` is working.

[2022-01-20 06:31] Junnplus commented on #717
I checked the auth request parameters
[code]
`scope=` results in a 400 error, remove it is working.

[2022-01-20 13:38] mizchi opened #719 "[v0.14.0] Can not parse multiline variable in env file"
TSIA

This bug occurs with GCP credential includes `-----BEGIN PRIVATE KEY-----\n....----END PRIVATE KEY-----\n` to me.

## Reproduce

Put `.env`

[code]

Put `docker-compose.yml`

[code]

Run

[code]

## Expected

same with docker's `env_file` behavior.

[code]

## Versions

[code]

[2022-01-20 14:06] vmwcberndt opened #720 "nerdctl login fails logging into repositories containing "/" in the registry URL."
Problem: Unable to log into a Docker repository that contains a sub-directory path in the URL. In this particular example, we utilize Artifactory and do not use sub-domains for registries. This worked via Docker previously. An error is returned stating there is an invalid URL escape.

nerdcrl version: nerdctl version 0.16.0
containerd version: containerd github.com/containerd/containerd v1.3.2-vmw

[2022-01-20 14:59] fahedouch commented on #651
unfortunately we can't set up afero for tests because the source code of nerdctl  is called after having been compiled so we can't share a memory backend between the tests and the nerdctl functions

here is an example

[code]

the `memFS` variable adresse should be retrieved in nerdctl `run function` which  is impossible with the actual design

[2022-01-20 14:59] #651 closed

[2022-01-20 16:15] emmahsax commented on #715
I'm getting a very similar issue with authenticating with the AWS registry:
[code]

[2022-01-20 16:17] angusjellis opened #722 "Invalid value 'build-arg' when running lima nerdctl compose up"
This bug occurs when trying to run nerdctl compose up on a Dockerfile that has been built using a private python library.

A github token is set as a build argument, and that token is then used in the git config of the container in order to clone private GitHub Python libraries, and is also then used in the application run time.

Since switching to nerdctl with lima, I've not been able to get cont

[2022-01-21 07:36] AkihiroSuda opened #723 "Flaky test: TestCompletion (` Expected stdout to contain "native\n"`)"
[code]

cgroup2 rootless on Cirrus CI, commit de19a6338d2a0a71f2f292ae3e6605e91794f753

Looks like stdio streams aren't correctly flushed

[2022-01-21 16:44] alisson276 commented on #720
I got the same proble. I'll try to explain. If in the artifactory we access [artifactory-url.my.domain/v2](artifactory-url.my.domain/v2), it returns 404, but if I open [artifactory-url.my.domain/v2/](artifactory-url.my.domain/v2/) (pay attention to the last slash) it returns `{"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":null}]}` (this last behavior means it works)

[2022-01-21 17:33] fahedouch commented on #719
this issue is fixed in `nerdctl version 0.16.0`

limactl version `0.8.1` should wrap `0.16.0` : https://github.com/lima-vm/lima/releases/tag/v0.8.1

plz verify that you are pointing to the right lima

[2022-01-21 18:45] Felipemirand0 commented on #715
I have the same issue with Google Container Registry, any update?

[2022-01-21 18:52] MnrGreg commented on #715
Similar issue with a private Harbor deployment. This was working with earlier versions of lima/nerdctl

[code]

What's odd is the redirection from 443 -> 8443 with 8443 being an internal nginx port.

[2022-01-23 20:44] dylanrhysscott commented on #715
Going to take a look and see if I can debug this further

[2022-01-23 21:53] dylanrhysscott commented on #715
I have managed to fix this for Github - Looks like nerdctl uses the v2 endpoint but to successfully resolve the /v2 must have the trailing slash which it currently doesn't:

[code]

Will open a PR shortly

[2022-01-23 22:24] dylanrhysscott commented on #715
Okay so looking at this closer this is a bug originating from containerd - The remotes/docker/config package https://github.com/containerd/containerd/blob/main/remotes/docker/config/hosts.go#L110 is what is presenting the /v2 I am going to raise a PR here as a workaround for this to get login working again. I know this isn't ideal but not sure of the impact in containerd repo

[2022-01-23 22:41] dylanrhysscott commented on #715
PR raised https://github.com/containerd/nerdctl/pull/724 bit of a naive fix but appears to work - welcome any feedback on a more appropriate way to fix 😄

[2022-01-24 04:15] #720 closed

[2022-01-24 04:15] AkihiroSuda commented on #720
@alisson276 Your case is different and tracked in https://github.com/containerd/nerdctl/issues/715

[2022-01-24 10:39] AkihiroSuda commented on #367
Rancher Desktop now supports running nerdctl inside WSL2 easily: https://rancherdesktop.io/

[2022-01-24 10:39] #367 closed

[2022-01-24 18:26] fahedouch commented on #719
@mizchi I will close this issue do not hesitate to repoen if you still face problems

[2022-01-24 18:26] #719 closed

[2022-01-25 11:18] chklauser commented on #717
I'm seeing the same issue with the Azure container registry (ACR). Login via docker / moby works.

[2022-01-25 11:43] Junnplus commented on #717
@chklauser may be related to https://github.com/containerd/nerdctl/issues/715

[2022-01-25 14:04] szantopeter opened #731 "windows proxy setting"
I am trying to use nerdctl behind a proxy on windows, but I get the following error :

`
set https_proxy=https://my-proxy:port
nerdctl run -it --rm alpine

docker.io/library/alpine:latest: resolving      |--------------------------------------|
elapsed: 9.9 s                   total:   0.0 B (0.0 B/s)
INFO[0010] trying next host                              error="failed to do request: Head \"http

[2022-01-25 14:36] AkihiroSuda commented on #731
Is this about Rancher Desktop?
If so, https://github.com/rancher-sandbox/rancher-desktop/issues would be better place to report this.

[2022-01-25 14:40] fahedouch commented on #722
hello,

using `limactl version 0.8.1`  and  `nerdctl version 0.16.0` I did not face any issue when building your Dockerfile with :
- `lima nerdctl build -t limaimage --build-arg GITHUB_TOKEN=toto  examples/`
[code]
- `lima nerdctl compose -f examples/compose-wordpress/docker-compose.yaml up`

[code]
[code]

Can you share you docker-compose plz!

[2022-01-25 14:43] szantopeter commented on #731
the command

nerdctl run -it --rm alpine

fails, but nerdctl come as part of rancher desktop. Is nerdctl directly connects to docker hub to download images? If so then this is a nerdctl issue.

[2022-01-25 15:25] AkihiroSuda commented on #731
Probably this is an issue of https://github.com/rancher-sandbox/rancher-desktop/tree/main/src/go/nerdctl-stub

[2022-01-25 23:57] jandubois opened #733 "failed to get ac.ServerAddress"
The [source code](https://github.com/containerd/nerdctl/blob/e188fac/pkg/imgutil/dockerconfigresolver/dockerconfigresolver.go#L200) asks "Can this happen?", and the answer is "Yes, it happens to me with a private ECR endpoint":

[code]

So everything seems to be working fine, but of course the warning makes you wonder if there is still something wrong.

[2022-01-26 05:57] Junnplus commented on #594
@doberkofler I tried to fix this, but I don't have an oracle/database image to verify that works :(

[2022-01-26 06:41] doberkofler commented on #594
I can test it when a version becomes available.

[2022-01-26 07:36] #594 closed

[2022-01-26 07:43] doberkofler commented on #594
@AkihiroSuda Will the fix in nerdctl be available in the next release of lima?

[2022-01-26 07:44] Junnplus commented on #715
I pulled the latest code and tested it locally, it doesn't work.
[code]

[2022-01-26 07:52] Junnplus commented on #715
[code]

Seems like this is working

[2022-01-26 08:05] AkihiroSuda commented on #594
Yes, in a few days, but upgrading Lima does not automatically upgrade nerdctl in existing Lima instances, so you will have to either recreate the Lima instance, or just overwrite `/usr/local/bin/nerdctl` in the existing instance with the newer version of `nerdctl` binary.

[2022-01-26 08:07] AkihiroSuda commented on #715
@Junnplus thanks for testing , could you open a PR? 🙏

[2022-01-26 08:20] Junnplus commented on #594
@doberkofler An easy way to help you build from source:
[code]

[2022-01-26 09:17] #715 closed

[2022-01-26 12:22] tanguofu opened #736 "`nerdctl inspect` faild to get {{.Id}} but `docker` did"
[root@VM-141-67-centos ~]# nerdctl inspect registry:latest  --format '{{.Id}}'
FATA[0000] template: :1:2: executing "" at <.Id>: can't evaluate field Id in type *dockercompat.Image
[root@VM-141-67-centos ~]# docker inspect registry:latest  --format '{{.Id}}'
sha256:b8604a3fe8543c9e6afc29550de05b36cd162a97aa9b2833864ea8a5be11f3e2

[2022-01-26 19:11] harshkotak commented on #363
I have the same issue.

[2022-01-26 19:20] harshkotak commented on #363
Signing out from my company VPN fixed the issue. VPN was messing up the cert.

[2022-01-26 23:50] paulorpdlitss commented on #717
I'm facing the same issue with ACR. Have cloned and built nerdctl on my env, after #718 merge, and it's still not working for me at least.

[2022-01-27 01:32] Junnplus commented on #717
@paulorpdlitss @chklauser  This fix is about Aliyun container registry and it works, I'm not sure if it's the same problem with ACR, a new issue can be opened to discuss this issue.

[2022-01-27 02:24] Junnplus opened #737 "ACR login 400"
I'm facing the same issue with ACR. Have cloned and built nerdctl on my env, after #718 merge, and it's still not working for me at least.

_Originally posted by @paulorpdlitss in https://github.com/containerd/nerdctl/issues/717#issuecomment-1022709071_

[2022-01-27 02:24] Junnplus commented on #737
[code]

[2022-01-27 03:14] Junnplus commented on #737
https://github.com/Azure/acr/blob/main/docs/Token-BasicAuth.md
ACR use GET method to fetch access token.

and containerd use POST request.
https://github.com/containerd/containerd/blob/main/remotes/docker/auth/fetch.go#L98

[2022-01-27 04:53] AkihiroSuda commented on #393
Implemented in https://github.com/containerd/nerdctl/pull/646 (v0.16.0)

[2022-01-27 04:53] #393 closed

[2022-01-27 06:01] AkihiroSuda commented on #736
Workaround: `nerdctl image inspect docker.io/library/alpine:latest | jq -r .[0].Id`
(This works for `docker` too)

[2022-01-27 06:05] AkihiroSuda commented on #733
Thanks, should be fixed in https://github.com/containerd/nerdctl/pull/739

[2022-01-27 07:45] #733 closed

[2022-01-27 08:34] Junnplus commented on #737
https://github.com/Azure/acr/blob/main/docs/AAD-OAuth.md#calling-post-oauth2token-to-get-an-acr-access-token
Calling POST /oauth2/token to get an ACR access token

[2022-01-27 09:09] AkihiroSuda commented on #737
@Junnplus Thanks for looking into this

Do we have to add `|| errStatus.StatusCode == 400` check here?

https://github.com/containerd/containerd/blob/3f5d789dfb30410df18d0cedbec94f519c480392/remotes/docker/authorizer.go#L314

[2022-01-27 09:21] Junnplus commented on #737
@AkihiroSuda Thank for advice, I tested locally and it worked, I will make a patch to containerd later.

[2022-01-27 09:37] asifmuradkhan opened #740 "[v0.12.1] WARN[0000] unparsable image name"
after successfully building the image nerdctl can't parse and list the image name from repository.

1. dockerfile

[code]

2. build command
[code]
3. image list output
[code]
4. nerdctl version
[code]

[2022-01-27 09:40] AkihiroSuda commented on #740
This should have been fixed in v0.13: https://github.com/containerd/nerdctl/commit/a9f65bf981df6e501c28fea09306d847f74f4d2c

Please try the latest version.

[2022-01-27 09:51] tony612 opened #741 "[tencentyun] Rancher Desktop nerdctl login failed to port 8080 (`Get "http://ccr.ccs.tencentyun.com:8080/v2/": EOF`)"
I'm using Rancher Desktop with containrd. I tried to login to my private registry using nerdctl, but it failed:
[code]

It's strange that nerdctl tries to use port 8080 when the 443 port is ok:
[code]

I tried docker, it works(at least the network):
[code]

versions:
[code]
Rancher desktop is 1.0.0

[2022-01-27 10:32] Junnplus commented on #741
I tested tencent cloud container registry locally (using lima) with master branch and it works.

[2022-01-27 10:42] Junnplus commented on #741
I also tested `ccr.ccs.tencentyun.com` and it also works.

[code]

more information may be required.

[2022-01-27 10:48] AkihiroSuda commented on #741
@Junnplus Thanks for testing, perhaps the issue was solved in the recent v0.16.1 commits? https://github.com/containerd/nerdctl/milestone/12?closed=1
Can you reproduce the issue with nerdctl v0.16.0?

Still suspicious of where `:8080` came from. Maybe related to proxies?

[2022-01-27 11:20] Junnplus commented on #741
Authorizer is works for v0.16.0, but then 503 and fixed by https://github.com/containerd/nerdctl/pull/735 .

[2022-01-27 12:32] walidmourou commented on #363
This issue is solved in the version v1.0.0

[2022-01-27 13:50] tanguofu commented on #736
ok ， thanks very much！

[2022-01-27 14:27] Bokoblin opened #742 "Error 401 when trying to pull images with containerd after successful login to AWS ECR"
Hi,

I have begun testing nerdctl yesterday to review a potential migration from Docker Desktop to Rancher Desktop for our team on MacOS
I was impacted by the problem raised and fixed in issue #715 concerning login to AWS for containerd.
Once reportedly fixed, I downloaded and compiled nerdctl sources on a test Linux machine (since the fix is not yet released so I cannot have a macOS binary) to ve

[2022-01-27 18:05] paulorpdlitss commented on #737
Have downloaded and built my own version with @Junnplus fix on containerd/containerd#6481, but i'm still getting errors.

After adding some debugging lines on containerd/containerd, they allow me to find that the second request to oauth is going without a username, so the access_token received from the first call is not working. After changing login.go, loginClientSide, to also return auth.Usernam

[2022-01-27 18:06] jcageman opened #746 "nerdctl run no such file or directory windows"
nerdctl image ls
REPOSITORY         TAG       IMAGE ID        CREATED           PLATFORM       SIZE
getting-started    latest    ccaa9b9176cf    15 minutes ago    linux/amd64    451.6 MiB

nerdctl run getting-started:latest
FATA[0000] no such file or directory

The error i am getting is non-informational and can't really find in the docs what would be wrong. By the way: i am using Rancher desktop,

[2022-01-27 19:31] endlesslycurious opened #747 "host.docker.internal equivalent"
Hello,

I've been porting over a micro service stack from running docker desktop to nerdctl, its gone pretty smoothly but I've hit a snag in one of our use cases where we've been using the special `host.docker.internal` dns name that [resolves to the IP of the host](https://docs.docker.com/desktop/windows/networking/#use-cases-and-workarounds) on docker desktop for Windows.

For example with our b

[2022-01-28 02:56] Junnplus commented on #737
I can't reproduce this, for me it was working.

[code]

and push image sucessful.

[2022-01-28 03:05] paulorpdlitss commented on #737
I was not using username/password but `az acr login --expose-token` access token, where username is `00000000-0000-0000-0000-00000000000`

Get Outlook para Android<https://aka.ms/AAb9ysg>
________________________________
From: Jun ***@***.***>
Sent: Thursday, January 27, 2022 9:56:26 PM
To: containerd/nerdctl ***@***.***>
Cc: Paulo Roberto Pinto Deleon ***@***.***>; Mention ***@***.***>
Subject: R

[2022-01-28 03:07] Junnplus commented on #737
Thanks, this is a useful information.

[2022-01-28 04:20] AkihiroSuda commented on #746
Rancher Desktop edition of nerdctl is slightly different, maybe better to ask in https://github.com/rancher-sandbox/rancher-desktop/discussions

[2022-01-28 06:42] tony612 commented on #741
@Junnplus I tried your address, but it can't find the DNS(maybe it's related to your enterprise version registry network config)
[code]

Then I tried one of my enterprise registry, now it uses port 8443 instead. This seems similar with this comment https://github.com/containerd/nerdctl/issues/715#issuecomment-1018773783
[code]

I tried with lima without Rancher Desktop, but still got the same erro

[2022-01-28 07:05] Junnplus commented on #741
@tony612 I deleted my enterprise registry, so you can't find it.

For your registry, it may be necessary to check if it is accessible from the public network. https://cloud.tencent.com/document/product/1141/41836?from=copy

[2022-01-28 07:13] tony612 commented on #741
@Junnplus I think is accessible.
![截屏2022-01-28 下午3 11 22](https://user-images.githubusercontent.com/1253659/151503158-c37704f8-23f2-4c90-b0e4-79295685197f.jpg)

And ccr.ccs.tencentyun.com is personal version, so it's always public in theory.

[2022-01-28 07:15] ningmingxiao opened #748 "nerdctl log format should support containerd original log format,not just hard code json"

[2022-01-28 07:41] Junnplus commented on #741
@tony612 Enterprise registry seems that  the default is to block all access sources. You can try adding a public network access whitelist, like 0.0.0.0/0 for all sources.

[2022-01-28 11:50] matejsp opened #750 "nerdctl login not working on Nexus 3"
We are using Nexus v3 as docker registry.

[code]

[code]

However when accessing directly url:
https://docker.****.net/v2  -> 404
https://docker.****.net/v2/   -> 200

Is seems like trailing slash is culprit but I cannot verify.
Is it possible to provide full url somehow? Or any other workaround? Or could this be fixed?

[2022-01-28 11:53] matejsp commented on #750
Original error was:

FATA[0000] failed to resolve reference "docker.****.net/mailhog/mailhog:v1.0.1": pulling from host docker.*****.net failed with status code [manifests v1.0.1]: 401 Unauthorized

Here there is no /v2 present?

[2022-01-28 12:44] MikeTheSnowman opened #751 "The container operating system does not match the host operating system.: unknown"
# Issue:
I am unable to run a Windows container nerdctl + containerd, using the following command:
`nerdctl run -it hello-world:latest`

When running the above command, I get the following error:
[code]

Also, if I try using the following command to manually specify the platform type `--platform windows/amd64` I get this slightly different error message:
[code]
If it helps, I noticed something wei

[2022-01-28 16:56] angusjellis commented on #722
### Docker-Compose:
`version: '3'
services:
  postgres_gi:
    container_name: postgres-gi
    image: postgres:11.12
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=github_insights
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    networks:
      - web_nw
  github-insights:
    container_name: gi
    build:
      context: .
      args:
        GITHUB_TOKEN:

[2022-01-28 17:21] jsturtevant commented on #751
This looks like something it is parsing the manifest properly.  Since you are on WS2019, could you try using `hello-world:nanoserver-1809` directly?

[2022-01-28 19:20] jsturtevant commented on #751
confirmed `nerdctl run -it hello-world:latest` is failing on WS2019 and `nerdctl.exe run -it hello-world:nanoserver-1809` works.  Also repo's on containerd 1.6

Haven't debugged but I think it maybe something in this area. Interestingly we are using a multi arch image in test suite

https://github.com/containerd/nerdctl/blob/2f0cf7586ed6763df2a6252d6f97d5512f8fc2f4/cmd/nerdctl/run.go#L626-L631

[2022-01-28 21:53] pvbiesen commented on #492
+1 migrating from docker, very annoying `nerdctl start -i <container> /bin/bash` doesn't work.

[2022-01-28 23:03] wtfacoconut commented on #751
Nice! As you recommended `nerdctl.exe run -it hello-world:nanoserver-1809` works for me as well. I guess it was partially my mistake of not using the correct image. But also, I'm guessing that the multi arch windows image also still should have worked. Is my understanding correct?

[2022-01-28 23:55] jsturtevant commented on #751
yes `hello-world:latest` should work as it has a windows manifest for 1809:

[code]

[2022-01-29 03:06] NaNi-Z opened #754 "nerdctl info did not show the correct cgroups driver."
nerdctl info always shows that the cgroup driver is cgroupfs, even I set the SystemdCgroup with true.

full infomation.
[code]

[2022-01-29 04:26] AkihiroSuda commented on #754
Expected behavior, because nerdctl does not use CRI.

Please use nerdctl.toml https://github.com/containerd/nerdctl/blob/v0.16.0/docs/faq.md#how-to-change-the-cgroup-driver
https://github.com/containerd/nerdctl/blob/v0.16.0/docs/config.md

[2022-01-29 04:26] #754 closed

[2022-01-29 04:41] jsturtevant commented on #751
Tracked it down to https://github.com/containerd/containerd/blob/9c676e98dde995db46841a2c6126ad709e3fc7d7/platforms/platforms.go#L263

This is clearing out the OSVersion and is called with https://github.com/containerd/nerdctl/pull/448

The reason CI is passing is due to 1809 being the first in the manifest of the image being used with tests.

[2022-01-29 05:24] Junnplus opened #755 "ACR oauth login without username"
Have downloaded and built my own version with @Junnplus fix on containerd/containerd#6481, but i'm still getting errors.

After adding some debugging lines on containerd/containerd, they allow me to find that the second request to oauth is going without a username, so the access_token received from the first call is not working. After changing login.go, loginClientSide, to also return auth.Usernam

[2022-01-29 05:26] Junnplus commented on #737
@paulorpdlitss Hi, 400 issue should be fixed by https://github.com/containerd/nerdctl/pull/753, I'll close this issue first.

[2022-01-29 05:26] #737 closed

[2022-01-29 05:57] jsturtevant commented on #751
Multi arch is works with https://github.com/containerd/containerd/pull/6491

[2022-01-29 07:38] Junnplus commented on #742
After successful login, you can try to check if `~/.docker/config.json` is generated.

I can't reproduce this problem locally.

[2022-01-29 11:21] wtfacoconut commented on #751
Damn, thanks for the lightening fast turnaround @jsturtevant !  😀

[2022-01-29 15:29] Bokoblin commented on #742
Yes, it was generated and filled out, this has given me the idea of removing it and redoing the full process.
I managed to have it working this time, I did the following:

1. Check `~/.docker/config.json` file content:
[code]
2. Backup and remove the `~/.docker/config.json` file
2. `docker logout`
3. Check again the file content
[code]
4. `BROWSER=true aws --profile dev-production sso login`
5. `B

[2022-01-29 15:56] Junnplus commented on #742
@Bokoblin Thank you for the detailed repro process.

It seems that logins with https and non-https logins produce inconsistent configurations.
[code]
This is inconsistent with the docker command, we will fix this.

[2022-01-30 04:38] jsoref opened #756 "Project Checks fail when PR branch is long"
I have a medium size (by my standard) PR and the `Project Checks` DCO check fails because it doesn't have enough commits to see the end.

[code]

There are other ways to write the CI so that it would work.

[2022-01-30 10:49] MikeTheSnowman opened #759 "Unable to mount volumes or bind mount on Windows"
# Issue:
When using nerdctl + containerd on Windows, I am unable to mount volumes or bind mount to a new windows container. I've tried using the following command with no success:
[code]

I've also tried experimenting with the the `-v` option, by trying various ways of single/double quoting an escaping special characters, but again I did not have any success.

# Code Investigation:
Now, I do not k

[2022-01-30 21:18] tyteen4a03 opened #760 "invalid reference format: repository name must be lowercase"
With a directory structure of:

[code]

docker-compose.yaml
[code]

When running `nerdctl compose up -d` from `~/UppercaseRepo`, it will emit a fatal error: `invalid reference format: repository name must be lowercase`. If I rename the folder to `uppercaserepo`, or `nerdctl compose build`, the build succeeds. Docker Compose can handle cases like this without problems.

This is with nerdctl v0.16.0

[2022-01-31 05:10] #342 closed

[2022-01-31 05:34] AkihiroSuda opened #767 "Flaky test: `TestRunCopyingUpInitialContentsShouldNotResetTheCopiedContents` (`runc did not terminate successfully: exit status 1: lstat /sys/fs/cgroup/system.slice/nerdctl-<ID>.scope: no such file or directory`)"
[code]

2a198d471f9f5b6dbfa354b4c8de75bff2461a53

[2022-01-31 09:07] yerzhant commented on #560
The similar thing:
[code]

[2022-01-31 15:54] paulorpdlitss commented on #755
Looking on how podman implementation do the login to ACR, they sent the username as an query parameter called account, like this:

https://paulorpdl.azurecr.io/oauth2/token?account=00000000-0000-0000-0000-000000000000&service=paulorpdl.azurecr.io

[2022-01-31 23:42] jdblack opened #769 "[`nerdctl.lima`] nerdctl is chocking on newlines on nerdctl run"
OS: MacOSX  11.6.2 (Big Sur)
Version: lima 0.8.1

I was attempting to use nercdtl to run a  build container from the go-carbon project ( https://github.com/go-graphite/go-carbon/blob/master/packages.sh  )  via a symlink from  /usr/local/bin/nerdctl.lima  to ~/bin/docker.  nerdctl, however , fails  on the multi-line command. It appears to me that the backslash for newline is somehow getting eaten u

[2022-02-01 00:57] AkihiroSuda commented on #769
Is this an issue of nerdctl or lima?
What if you execute `nerdctl` directly, inside the `lima` shell?

[2022-02-01 08:29] kitsunekyo opened #771 "wsl2 on windows not using current working directory"
I'm trying to replace docker desktop with rancher on wsl2 (ubuntu) windows 10.
i can run containers perfectly fine, but when i try to start up my compose project below, it seems like `nerdctl` does not use the current working directory but `/root` instead.

[code]

[2022-02-01 08:38] AkihiroSuda commented on #771
Perhaps an issue of https://github.com/rancher-sandbox/rancher-desktop/tree/v1.0.0/src/go/nerdctl-stub
Could you open an issue in https://github.com/rancher-sandbox/rancher-desktop/issues ?

[2022-02-01 09:09] yerzhant opened #772 "Feature request: add support for docker-compose.override.yml"
Add support for `docker-compose.override.yml` https://docs.docker.com/compose/extends/

[2022-02-01 10:13] doberkofler commented on #594
@Junnplus I've just downloaded the latest version of lima (0.8.2) and upgraded nerdctl (0.16.1) and run my tests again but unfortunately the Installation of natively compiled code in an Oracle Database still fails in a lima/nerdctl container.

I'm starting my Oracle container using:
[code]

and get an error:
[code]

that according to the Oracle Tech Support is related to an error in `tmpfs` device

[2022-02-01 11:10] matejsp commented on #750
It works now using 0.16.1.

[2022-02-01 11:10] #750 closed

[2022-02-01 11:14] fahedouch commented on #594
looks like it is related to lima;  lima add `uid=501,gid=1000` to the mount so you are not mouting `/dev/shm` as user `0` and you need be user `0 to open shm

[code]

[code]
I assume that lima using vm user to make this mount which is logic, but When I tried to force user 0 , it dosen't wort

[code]
WDYT @AkihiroSuda  @Junnplus  ?

[2022-02-01 11:24] doberkofler commented on #594
@AkihiroSuda @Junnplus Can this issue be reopened this problem or should I open a new one?

[2022-02-01 13:24] Junnplus commented on #594
@doberkofler Your docker should be in rootful mode, correspondingly you should try the rootful mode of nerdctl.

[code]

Set `containerd.systemd` to true to enable rootful containerd.
https://github.com/lima-vm/lima/blob/v0.8.2/pkg/limayaml/default.yaml#L89

[2022-02-01 14:59] byt3pool commented on #472
@jopapo @AkihiroSuda

Is there something new you can share with us?

I get the same error mentioned by @icefery and can't figure it out how to get it to run.
I couldn't get it to run with the Volume mode either.

[code]

[code]

Interesting(?) sidefact:
I tried the same setup with Docker/Docker Desktop and got the same error but as soon as I disabled "Use gRPC FUSE for file sharing" and started us

[2022-02-01 15:06] rrey opened #773 "[v0.16.0, Harbor] nerdctl login on private registry is using port 8443"
[code]

I have a private registry (harbor) that is reachable on port 443, but when I try to login with nerctl, it seems like it tries to reach it on port 8443:

[code]

Even if I provide `address:port` (`<some_public_registry_listeining_on_443>:443`), the logs shows that port 8443 is still used.

[2022-02-01 15:32] doberkofler commented on #594
@Junnplus Thank you for he feedback, but I'm not sure I understand.

I have tried just changing the `containerd.system` option in the `default.yaml` file but it did not make a difference when trying to run the Oracle Database.

Could you elaborate on what the problem might be or what I'm doing wrong?

When trying to run `sudo lima nerdctl run --rm --tmpfs="/dev/shm:rw,exec,size=1g" alpine grep /de

[2022-02-01 16:11] Junnplus commented on #594
@doberkofler Try the following steps:
1. Set `containerd.system` to true.
2. And restart lima instance: `limactl stop` && `limactl start`.
3. Using `lima sudo nerdctl run ...` to instead of `lima nerdctl run ...`.

[2022-02-01 16:34] doberkofler commented on #594
@Junnplus Thank you for all your help and sorry for being of so little help!

1) I've changed `default.yaml` used limactl start and stop.

[code]

Is there way to check if the "rootful" mode is activated?
I actually also had to import the `oracle/database-prebuild:19.3.0-se2` image again after changing the setting. Is this normal?

2) This is how I start the Oracle database in the container
[code]

[2022-02-01 20:07] rrey commented on #773
Noob question, how can I pull this version on macOS ?
I’m a total stranger with lima and stuff

[2022-02-02 01:34] jsturtevant commented on #751
It was a little more complicated than initially thought but I know have it working properly I think.  See the containerd pr for details

[2022-02-02 02:04] jsoref commented on #618
Since I spent a bit of time looking into why `nerdctl compose -f ... -f ...` doesn't work, here are the pointers for the curious:
https://github.com/containerd/nerdctl/blob/fe8bd459b67546eb1bd6b8424ca2ade2b9fcd999/cmd/nerdctl/compose.go#L48
https://github.com/containerd/nerdctl/blob/fe8bd459b67546eb1bd6b8424ca2ade2b9fcd999/cmd/nerdctl/compose.go#L86-L89
https://github.com/containerd/nerdctl/blob/f

[2022-02-02 05:51] AkihiroSuda commented on #773
Please install lima v0.8.2 (`brew upgrade`) and recreate the instance (`limactl rm -f default`, `limactl start`).

If you prefer to retain the existing instance, just replace `/usr/local/bin/nerdctl` in the instance with `nerdctl` included in `nerdctl-<VERSION>-linux-<ARCH>.tar.gz`
https://github.com/containerd/nerdctl/releases/download/v0.16.1/nerdctl-0.16.1-linux-amd64.tar.gz (Intel)
https://git

[2022-02-02 11:28] Junnplus commented on #594
Run `lima sudo nerdctl info` successfully.

Yes.

I using [oracle docker image](https://github.com/oracle/docker-images/tree/main/OracleDatabase/SingleInstance/samples/prebuiltdb) and  tried to reproduce this error but it works.

[2022-02-02 13:41] Zheaoli opened #775 "[Linux] --insecure-registry option not works for some circumstances"
For example, I have a docker registry with the hostname `registry.manjusaka.me`. I just open 80 port to support normal HTTP, not HTTPS. And now if I use `nerdctl --insecure-registry=true push registry.manjusaka.me/demo:v0.1` to push the image. There will be an error here bellow

[code]

I think the root cause is here

https://github.com/containerd/nerdctl/blob/master/cmd/nerdctl/push.go#L186

The

[2022-02-02 14:51] amioranza opened #777 "Image size for multiple platform images are not shown correctly"
nerdctl version:
`nerdctl version 0.15.0`

I'm using Rancher Desktop 1.0.0 on macOS Monterrey (12.1), M1 machine.

When building multiple platform images only the first image shows the correct size of it:
[code]

The build works and the image too, just the size report is not working.

[code]
Running image for each platform:
[code]
Image inspect
[code]

[2022-02-02 18:11] doberkofler commented on #594
@Junnplus The error only appears when Oracle uses the tmpfs device to (for example) [compile natively](https://github.com/oracle/docker-images/blob/main/OracleDatabase/SingleInstance/FAQ.md#ora-00600-internal-error-code-arguments-pesldl03_mmap-errno-1-errmsg-operation-not-permitted-----------).

[2022-02-03 22:29] jbaribeault opened #780 "BASH completion failing with null byte error"
nerdctl 0.16.0 and 0.16.1 via Rancher Desktop 1.0.0 and 1.0.1 on Windows 11.

WSL integrated into Ubuntu 18.04, 20.04 and Community Preview as well as home rolled Arch. All 4 yield same behavior.

```source <(nerdctl completion bash)```
or placing the result in /usr/share/bash-completion/completions/

Then typing
```nerdctl <TAB>```

Results in a bash error about command completion and a null byte

[2022-02-04 04:19] AkihiroSuda commented on #741
Is this issue closable now?

[2022-02-04 04:19] AkihiroSuda commented on #736
Fixed in https://github.com/containerd/nerdctl/pull/743

[2022-02-04 04:19] #736 closed

[2022-02-04 04:19] #740 closed

[2022-02-04 13:13] animatedcreativity commented on #492
Yes, cannot start stopped containers.

[2022-02-04 18:53] fahedouch commented on #755
the fact that we are doing a double connection causes it to visit this line  which is not valid  https://github.com/containerd/nerdctl/blob/2f0cf7586ed6763df2a6252d6f97d5512f8fc2f4/cmd/nerdctl/login.go#L218
 based on the description in this ticket https://github.com/containerd/nerdctl/issues/755

[2022-02-04 19:46] gregorso commented on #773
Hi there. I've a similar problem. If i use nerdctl run   --publish 443:443  the https works well. If i'm using compose https is not reachable.
nerdctl version 0.16.1   with containerd on centos 8

[2022-02-05 04:59] buu700 commented on #769
I'm running into this as well (currently a blocker). It looks like it isn't newlines specifically; seems to also apply to tabs, backslashes, dollar signs, and likely other special or escaped characters.

[2022-02-06 06:19] flyinprogrammer commented on #755
not sure if this is helpful, but I can also validate that oauth login to azure is still broken. i just spent this evening 🤞 that 0.16.1 had this oauth login fixed, it does not, which now i see is a known issue 🤦

[2022-02-06 10:06] #742 closed

[2022-02-06 10:16] AkihiroSuda commented on #769
Seems an issue of `lima`, not `nerdctl`: https://github.com/lima-vm/lima/issues/632

Linux-native nerdctl doens't seem to have the issue:
[code]

[2022-02-06 10:16] AkihiroSuda commented on #769
Locking this issue to avoid side discussion, but please feel free to continue discussion in https://github.com/lima-vm/lima/issues/632

Thanks!

[2022-02-06 10:18] AkihiroSuda commented on #780
This might be an issue of Rancher Desktop's nerdctl wrapper, could you reopen https://github.com/rancher-sandbox/rancher-desktop/issues/1486 ?

[2022-02-06 10:18] #780 closed

[2022-02-06 10:36] #769 closed

[2022-02-06 10:39] AkihiroSuda commented on #560
Perhaps better to report this to https://github.com/rancher-sandbox/rancher-desktop/issues .

Please make sure to include the host OS and the terminal application in the report.

[2022-02-07 06:33] AkihiroSuda opened #787 "`nerdctl run --runtime=(io.containerd.kata.v2|io.containerd.runsc.v1)` silently fails to create network devices (probably skipping OCI hooks)"
`ip a` shows no network devices in Kata containers and gVisor containers.

- [ ] https://github.com/kata-containers/kata-containers/issues/1935
- [ ] https://github.com/google/gvisor/issues/7149

Seems they lack support for OCI `createRuntime` hooks

[2022-02-07 14:44] Junnplus commented on #772
Duplicate of https://github.com/containerd/nerdctl/issues/618

[2022-02-07 14:51] #772 closed

[2022-02-07 19:19] gabor-lbl opened #792 "nerdctl login fails (where docker login works)"
Hello, I'm using rancher-desktop on a mac. nerdctl login fails against [portus](http://port.us.org/) v2.1.0-dev:

[code]

also fails against [harbor](https://goharbor.io/) (api v2.0):
[code]

Docker login works against both of these. I'm not sure if this is a problem with rancher-desktop or the supplied version of nerdctl (0.16.1).

Thank you!

[2022-02-08 02:35] Junnplus commented on #792
This seems to be two problems, the harbor's issue is duplicated with [773](https://github.com/containerd/nerdctl/issues/773).

[2022-02-08 02:58] tony612 commented on #741
@AkihiroSuda I'm afraid not.

@Junnplus I added the whitelist
![截屏2022-02-08 上午10 56 26](https://user-images.githubusercontent.com/1253659/152909362-a6fa1f22-d4a9-435c-b8ff-95ec735735aa.jpg)
Then I got
[code]
An interesting thing is before I added this whitelist, the port is 443:
[code]

[2022-02-08 03:12] tony612 commented on #741
OK. I guess it's because of my network or Tencent cloud registry:
(I tested with curl before, but forgot to add /v2 postfix)
[code]

Let me close this issue now. I'll dig more. I'll reopen it if there are other problems.

[2022-02-08 03:12] #741 closed

[2022-02-08 03:21] tony612 commented on #741
Now I think I know the reason. The problem is trailing slash. We can see:
[code]

I guess it has been fixed by https://github.com/containerd/nerdctl/pull/735 ?

[2022-02-08 03:34] Junnplus commented on #741
I think yes, you can try updating to 0.16.1, it's released.

[2022-02-08 03:49] tony612 commented on #741
@Junnplus I tried it, it works! Thank you!

[2022-02-08 07:29] AkihiroSuda commented on #777
https://github.com/containerd/nerdctl/blob/74272211cf811d8b32b2f2c1b79ead019b00b31c/cmd/nerdctl/images.go#L315-L316

This is an expected output, though confusing for multi-platform images.
Probably we should show both the blob size and the unpacked size.

[2022-02-08 09:54] Zheaoli commented on #759
I would like to make a PR to fix this

[2022-02-08 10:09] fahedouch commented on #792
the second error ([portus](http://port.us.org/)) is related to this https://github.com/containerd/nerdctl/pull/774
I am testing this PR in multiple registries, we will merge it very as soon as possible!

[2022-02-08 13:53] amioranza commented on #777
Docker does not allow you to load on local registry multiple platform images, it just allow you to load one, maybe this is why the code does not support showing both image sizes correctly.

[code]

[2022-02-08 16:06] jsturtevant commented on #759
Thanks for taking a look!

[2022-02-08 17:27] fahedouch commented on #777
@amioranza we have a different flow, I am fixing this with https://github.com/containerd/nerdctl/pull/789 :)

[2022-02-08 18:57] fahedouch opened #796 "multi-platform image unpacking layer is partial"
multi-platform images is not totally unpacked into snapshotter

[code]

then looking into snapshotter

[code]

We only have the `amd64`  layer

but when making some hacks
[code]
[code]

looking at snapshotter
[code]
We have both layers `amd64` and `amr64`

@AkihiroSuda
is this the expected behavior  ?

Is it confusing to choose which platform that should be unpacked.

[2022-02-09 00:45] peterguo2000 commented on #760
I find the same issue with nerdctl v0.16.1. The work around it to use nerdctl build to build an image first.

[2022-02-09 10:08] developer-guy commented on #669
We don't have to use syft as an executable way, I've recently asked @wagoodman to give us an example of how to use syft as a Go module, thanks to him, he created a gist for it.

👉 https://gist.github.com/wagoodman/57ed59a6d57600c23913071b8470175b

[2022-02-10 10:33] liubin commented on #713
@AkihiroSuda @tarfeef101 I just evaluated it, can I take this issue?

[2022-02-10 10:51] AkihiroSuda commented on #713
Yes plz

[2022-02-10 15:49] Junnplus commented on #792
@gabor-lbl I think the harbor problem may be related to the configuration of your harbor server. `external_url` may be configured with an address of 8443.

[2022-02-10 15:50] Junnplus commented on #773
@rrey I think the harbor problem may be related to the configuration of your harbor server. `external_url` may be configured with an address of 8443.

[2022-02-10 16:26] rrey commented on #773
@Junnplus I check the config and the `external_url` was not set, setting it do not fix the problem.
docker client has no problem performing the login so I don't think it is a harbor problem. We also use the registry with a live K8S cluster with an imagePullSecret and it is working properly.

I did not have time to check the nerdctl v0.16.1 yet.

[2022-02-10 16:40] mniak opened #798 "Idea: Docker API for compatibility"
Hi, I really love this project and have been using it in conjunction with lima.

But lately I had to get back to other alternatives that expose the docker API.
It happens that some tools (like VS Code Remote Containers, Testcontainer framework) need to communicate via API, tipically the docker.sock unix socket.

I have an Idea of creating a tool that exposes an API that behaves the same as the nor

[2022-02-10 16:48] AkihiroSuda commented on #798
As subprocesses.

[2022-02-10 17:00] Junnplus commented on #773
I can't think of anywhere else that would cause the port to change if `external_url` is not set. I can't reproduce this problem locally.

[2022-02-10 20:14] rrey commented on #773
Updated to 016.1:
[code]

`nerdctl login` do not fail anymore but the pull fails with following error:
[code]

[2022-02-11 02:31] Junnplus commented on #773
You need to check the `/root/.docker/config.json` file, may be related to https://github.com/containerd/nerdctl/pull/783

[2022-02-11 02:33] Junnplus commented on #792
I'm not sure, you can upgrade and try again.

[2022-02-11 02:52] chaokw commented on #369
met same issue, any update? thanks

[2022-02-11 10:47] ygouzerh commented on #496
Thank you @AkihiroSuda I was stuck since some hours with the same issue, you unlocked me

[2022-02-11 13:30] textminer commented on #759
Use instead: -v /bind_volumes/v1:/src
For me in Windows it works using Linux paths style.

[2022-02-12 03:28] AkihiroSuda commented on #796
Yes

https://github.com/containerd/nerdctl/blob/251ddcef7bac29f53241ed36d38038ed852089bb/pkg/imgutil/pull/pull.go#L85-L93

[2022-02-12 06:36] #755 closed

[2022-02-12 06:37] Junnplus commented on #755
Fixed by #774

[2022-02-13 11:19] Junnplus opened #804 "push progress always shows waiting, but can push successfully"
[code]

[2022-02-13 19:39] #796 closed

[2022-02-14 05:12] #756 closed

[2022-02-14 09:24] #804 closed

[2022-02-14 10:17] AkihiroSuda opened #809 "Benchmark and optimization of `nerdctl images`"
_Originally posted by @AkihiroSuda in https://github.com/containerd/nerdctl/issues/789#issuecomment-1038903152_

[2022-02-14 12:16] AkihiroSuda opened #811 "bypass4netns: "10.0.0.0/8" shouldn't be hardcoded"
_Originally posted by @AkihiroSuda in https://github.com/containerd/nerdctl/pull/808#discussion_r805558562_

[2022-02-14 12:41] AkihiroSuda opened #814 "rootless: run the puller/pusher in the host netns (but still in the userns)"
With the upcoming bypass4netns integration, rootless containers no longer needs to be slowed down with slirp, however, the puller and the pusher are still slowed down.

We should now look into possibility of running the puller/pusher in the host netns to avoid the slirp overhead.

[2022-02-15 09:53] vinok88 commented on #499
First, use `nerdctl rm <name>` to remove the existing container.

[2022-02-15 10:20] stanshih0315 commented on #665
[code]

OS: Windows 10 21H1

[2022-02-15 20:24] bmurphey commented on #677
I was having this same issue (although without attempting to log in), and changing the DNS resolver fixed it.  Happy to help troubleshoot in any way I can.

[code]

[2022-02-16 06:44] #787 closed

[2022-02-16 06:49] liubin commented on #713
@AkihiroSuda can this be closed since https://github.com/containerd/nerdctl/pull/801 has been merged.

[2022-02-16 06:54] #713 closed

[2022-02-16 07:03] #775 closed

[2022-02-17 01:55] ningmingxiao commented on #809
I think  nerdctl image  -a or -o wide  should show blobsize,at default it is not necessary to show it.

[2022-02-18 00:54] amantur commented on #677
well, it was not dns, I would not be able to login if DNS is not working.

[2022-02-18 17:09] tevert opened #826 "nerdctl login to docker.io, without a credential helper, spits a different address into config.json that breaks FROM"
Hello - I am working on getting a nerdctl runner image put together, so we can use nerdctl for builds in gitlab. However, I found a potential issue just attempting to nerdctl build in a local image.

Using nerdctl login from a local lima environment works A-OK, and generates a config.json like this:
[code]

However, if you:
[code]

I then see:
[code]

Note that the repo address is different - this

[2022-02-18 21:16] fahedouch commented on #809
benchmark

Only `Unpacked Size`:

[code]

Only  `Blob Size`:

[code]

Both :

[code]

the difference between the 3 average is negligible I think It is useless to make a `--quick` flag

[2022-02-19 04:20] AkihiroSuda commented on #809
Thanks, but we need to benchmark with more than 100 images, I guess

[2022-02-19 08:48] fahedouch commented on #826
Which nerdctl / lima version are you using ?

[2022-02-19 19:25] tevert commented on #826
[code]
And a local clone of the nerdctl repo, that I'm building off of:
[code]

[2022-02-19 20:06] nettoclaudio opened #827 "Cannot commit and push container image from Kubernetes pods"
Hello folks! :wave:

I'm experiencing a strange behavior while committing a container (from Kubernetes pod) and pushing it to some container registry after. I always get the same error from the push command: `content digest sha256:898c46f3b1a1f39827ed135f020c32e2038c87ae0690a8fe73d94e5df9e6a2d6: not found`.

I'm filing this issue here but there's a chance the problem is on containerd side because

[2022-02-20 20:12] fahedouch commented on #809
@AkihiroSuda I agree. But 100 is a huge number. Do you have a suggestion to get this number of image in one environnement 😅

[2022-02-20 20:16] fahedouch opened #831 "credsHelper is replace by token login"
Based in this issue https://github.com/containerd/nerdctl/issues/826 . The `credsHelper` login authConfig is replace by auth token after  a success `nerdctl login` which is not consistent whit docker login process

[2022-02-21 20:27] fahedouch commented on #826
nerdctl fallback to `buildctl` when building image

I am facing same issue when building with buildctl

[code]

plz open an issue in https://github.com/moby/buildkit

[2022-02-21 20:49] fahedouch commented on #777
fixed by https://github.com/containerd/nerdctl/pull/789

[2022-02-21 20:49] #777 closed

[2022-02-22 17:13] tevert commented on #826
Is it actually expected behavior that the different registry address should work with buildkit? Since the build works fine after manually patching up the config JSON that nerdctl login produced, I'd imagine that's where the fix needs to be.

[2022-02-22 21:04] fahedouch commented on #826
@tevert  can you detail the steps of the config.json patching?

[2022-02-23 18:40] mskutin commented on #771
Got into this too. @kitsunekyo I suppose you are running this under root user.
In my case I observe the same behavoir, although error message points to my home directory instead.

`FATA[0000] open /Users/maksim/docker-compose.yml: no such file or directory`

[2022-02-24 05:33] kigawas opened #837 "nerdctl compose does not support `~` or `$HOME` in volumes"
[code]

The two docker compose files below do not work:

[code]

[code]

Only full path is allowed:
[code]

[2022-02-24 06:32] tanguofu opened #840 "nerdctl can not load tar.gz images files, but docker does."
[root@VM-74-16-centos artifacts]# nerdctl load -i 0972d84-20220222-image.tar.gz
FATA[0000] archive/tar: invalid tar header
[root@VM-74-16-centos artifacts]# docker load -i 0972d84-20220222-image.tar.gz
Loaded image: ****-0972d84-20220222

[2022-02-24 08:53] AkihiroSuda commented on #840
Implemented in nerdctl v0.15.0.
Please upgrade your nerdctl.

https://github.com/containerd/nerdctl/commit/cdc3299f32cdcb17fc2e80ef2dc00cfdf2bbb169

[2022-02-24 22:53] malthe opened #846 "Accept application/json for image manifest v2, schema 1"
According to [image manifest v2, schema 1](https://docs.docker.com/registry/spec/manifest-v2-1/), "application/json" should be accepted as the content-type, but I get the error:

If I provide "application/vnd.docker.distribution.manifest.v1+prettyjws" then there is no such error.

Also "application/vnd.docker.distribution.manifest.v1+json" gives an error (it is _unknown_ as well).

[2022-02-25 07:41] kitsunekyo commented on #771
https://github.com/rancher-sandbox/rancher-desktop/issues/1431

already did

[2022-03-02 05:48] AkihiroSuda commented on #846
Scheme 1 is deprecated, please use Scheme 2 or OCI Image Spec.

[2022-03-02 08:26] AkihiroSuda commented on #591
Still flaky

[2022-03-02 16:54] ianbarker opened #852 "Compose ignores ipv4_address"
When launching containers using `nerdctl compose` the containers are not respecting `ipv4_address` in the docker-compose.yml file.

####Steps to reproduce

docker-compose.yml

[code]

output

[code]

As you can see the container has an assigned IP of 172.20.0.175 instead of 172.20.0.12

[2022-03-02 20:16] yashwanth-l opened #853 "Support COMPOSE_FILE like in docker-compose to pass multiple docker-compose files"
Command:

[code]

Version of nerdctl, containerd:

[code]

Host OS and Kernel:

[code]

While using docker-compose we can use the Env Var `COMPOSE_FILE` by which we can pass multiple files as:

[code]

Is there a possibility that `nerdctl` will have similar support?

[2022-03-02 21:06] cdenneen commented on #722
@fahedouch have you tried to do `nerdctl compose build --build-arg` that seemed to error as if it wasn't passing the build-arg but if I do `nerdctl build --build-arg` it does seem to work. My compose has 2 dockerfiles to be built with the same build-arg.

[2022-03-03 03:09] AkihiroSuda opened #855 "Flaky test: TestPushInsecureWithLogin: `content digest sha256:...: not found`"
[code]

Observed in f03838c1e85d505bf66a5f73b2d7664e32ff0dbc

[2022-03-03 05:04] AkihiroSuda commented on #855
@ktock Can you take a look? Are we losing the lease somewhere?

[2022-03-03 11:41] Junnplus opened #857 "Doc for macvlan/ipvlan with DHCP"
Thanks, could you create a follow-up- PR to document this in `docs/cni.md` ?

_Originally posted by @AkihiroSuda in https://github.com/containerd/nerdctl/pull/848#pullrequestreview-897162940_

[2022-03-03 12:46] smolinari commented on #472
I've ran into this issue too. To me (and I'll admit I'm not an expert at all), it seems `nerdctl`is trying to access the file system as root and not as the current user. Thus, for instance, my binding to `~/data/mongodb` goes to `/home/root/data/mongodb` and that directory doesn't exist and can't be created and because root is "disabled" the volume binding fails.

Using the volume mode worked thou

[2022-03-03 16:11] kiransterling opened #859 "[Rancher Desktop for Windows] nerdctl connection timeout"
Any nerdctl command gives me the following error. I was previously using docker desktop on windows. I have uninstalled it and installed rancher desktop  . Do I need to change anything in the host file.I can see these entries in the host file in windows

# Added by Docker Desktop
192.168.0.104 host.docker.internal
192.168.0.104 gateway.docker.internal
# To allow the same kube context to work on the

[2022-03-04 05:27] AkihiroSuda commented on #859
https://github.com/rancher-sandbox/rancher-desktop/discussions seems better place to ask this

[2022-03-04 05:27] #859 closed

[2022-03-05 01:10] j0nl1 opened #861 "Cannot map a directory using lima & nerdctl in macOS"
I tried to create a mapping from mongodb but the files aren't copy to my local folder.
I've tried using pwd and ~/

is there something else I should config?

![image](https://user-images.githubusercontent.com/40375118/156861111-73246688-33d5-4137-bac0-a4e70dfacec7.png)

[2022-03-05 03:15] AkihiroSuda commented on #861
Lima mounts the host home with read-only by default.
You can use `limactl edit default` to change it to be writable
https://github.com/lima-vm/lima/blob/66f66e1100e9fffe0969aa8d1f42ec7b39d06442/pkg/limayaml/default.yaml#L49

[2022-03-05 11:17] afbjorklund commented on #798
At first I thought this idea was a bit crazy, first remove dockerd only to add a limited version of it back again.

But it could actually be quite handy, to have a `nerdctl.sock` that would accept a subset of the API commands.

[2022-03-05 12:05] afbjorklund commented on #798
Here was something that I hacked together, this server is able to answer a `docker version` call using [1.12 API](https://docs.docker.com/engine/api/):

[code]

I used https://gin-gonic.com/ which was easy to get started with. It also supports the required JSON shuffling.

[2022-03-05 14:19] afbjorklund commented on #798
Seems to be mostly an exercise in converting between fuzzy human formats, like dates and sizes.

e.g.
[code]

[code]

The `nerdctl` interface doesn't really have a machine readable format, even if it does have some json.

[2022-03-05 17:54] afbjorklund commented on #798
I added some more code for `_ping`, `version`, `info`, and  `images`.

[code]

Server-side looks like:
[code]

[2022-03-06 09:13] b4nst opened #864 "Log rotation and size limit"
Hello there, is there a way with `nerdctl` to configure a maximum log size and rotation akin what's done with the docker json log plugin?

[2022-03-07 06:15] AkihiroSuda opened #865 "FreeBSD CI broken: `Shell session I/O error: context deadline exceeded`"
https://cirrus-ci.com/task/6017517696057344?logs=install#L28
[code]
0466dc3

[2022-03-07 06:17] AkihiroSuda commented on #865
cc @robberphex @akhramov

[2022-03-07 06:19] AkihiroSuda commented on #865
This revision https://github.com/containerd/nerdctl/commit/20233c26d26f11ca73a9a775fba87ca884ab14d2 was passing https://cirrus-ci.com/task/4852193680424960

[2022-03-07 08:03] AkihiroSuda opened #868 "[FreeBSD] `failed to find the mount info for "/tmp/initialC1360175813": not implemented on freebsd/amd64`"
Vagrantfile:
[code]

[code]

[2022-03-07 08:51] #865 closed

[2022-03-07 08:52] #855 closed

[2022-03-07 08:53] AkihiroSuda commented on #462
This should have been fixed in a recent release

[2022-03-07 08:53] #462 closed

[2022-03-07 08:54] AkihiroSuda commented on #378
Implemented in https://github.com/containerd/nerdctl/pull/836

[2022-03-07 08:54] #378 closed

[2022-03-07 08:54] AkihiroSuda commented on #368
Fixed in a recent release

[2022-03-07 08:54] #368 closed

[2022-03-07 08:56] AkihiroSuda commented on #135
I don't think Kata supports rootless currently, so closing this one

[2022-03-07 08:56] #135 closed

[2022-03-07 08:58] AkihiroSuda commented on #25
We are going to recommend using containerd worker (https://github.com/containerd/nerdctl/pull/858), so let me close this one

[2022-03-07 08:58] #25 closed

[2022-03-07 13:11] TheDiveO commented on #378
Thank you very much! I'll see to put it through the paces of some unit tests on our side. Once again, thank you very much!

[2022-03-08 11:37] ningmingxiao opened #875 "is it necessary to integrate crictl some function into nerdctl to manage pod?"

[2022-03-08 18:36] #857 closed

[2022-03-08 20:04] fahedouch opened #878 "COMPOSE_FILE env and docker-compose.override.yaml cannot be used in conjunction"
waiting for fix in compose-go side https://github.com/compose-spec/compose-go/issues/235

[2022-03-08 21:06] afbjorklund commented on #798
Added support for `pull` `ps` and `build` as well, but `run` will be trouble (with the streams)...

[code]

Naturally there are dozens of flags and special cases missing, from this "proof-of-concept".

[2022-03-09 03:04] ningmingxiao opened #879 "make fail (`cmd/nerdctl/run_network.go:33:2: //go:build comment without // +build comment`)"
after this commit https://github.com/containerd/nerdctl/commit/d4fb38c4701e68110cb52185fbb95ab61b7f1d59 when use golang 1.16
[code]

[2022-03-09 08:43] Boruson opened #880 "nerdctl stats --no-stream --format "{{.Name}}""
return container name is "--",name field is missing, I want to why?

# nerdctl stats --no-stream --format "{{.Name}}"
# --
client:
version: v0.17.0
server:
containerd:
version: v1.6.0

host OS, linux 5.10.38-21.01.el7.x86_64 #1

I could get solution, could you help me?

[2022-03-09 09:56] Zheaoli commented on #880
The nerdctl is not supported for `--format` arg with `nerdctl stats --no-stream` yet, I will make a PR for this

[2022-03-09 10:11] Zheaoli commented on #879
I guess you build the nerdctl in a non-Linux platform (such as macOS/Windows/Freebsd). It will trigger a build process by using https://github.com/containerd/nerdctl/commit/3f1ffe214daf63b632fea05b9b797d72f42d6c0c#diff-9145d3e6b0041f24b980c1854a2a3990436700a3b646438d787b7dc8d32bc294R1-R25

`//go:build` tag is a new feature in Go 1.17, FYI https://go.googlesource.com/proposal/+/master/design/draft-

[2022-03-09 10:21] Zheaoli commented on #864
https://github.com/containerd/containerd/issues/4830

I'm not sure should nerdctl support this docker-daemon feature.

[2022-03-09 10:22] Zheaoli commented on #852
/assign

[2022-03-09 11:08] Boruson commented on #880
1. what is PR ?
2. nerdctl stats --no-stream result as follow:
CONTAINER ID    NAME   CPU%    MEM USAGE/LIMIT     MEM %     NET I/O             BLOCK I/O        PIDS
2132dha9765s    --           0.05%     188KiB/8EiB               0.00%       139MB/55MB      0B/0B                22
8283nsdh91sd    --           0.00%     19KiB/8EiB                0.00%          8GB /1GB          79MB/0B

[2022-03-09 12:55] Zheaoli commented on #880
I think we found the issue: the container origin name is '--' ..

[2022-03-09 12:58] Zheaoli opened #882 "Support --ip argument when run the container"
Related #852

I think if we want to support `ipv4_address` in `nerdctl compose`, we should support `--ip` argument before.

FYI https://docs.docker.com/config/containers/container-networking/#ip-address-and-hostname

I would like to make a try to impl it before v0.19.0 or more quickly

[2022-03-09 13:26] fahedouch commented on #882
plz go ahead.

a PR is initiated here https://github.com/containerd/nerdctl/pull/436

[2022-03-09 13:33] fahedouch commented on #880
if len (container name)  <=  1  ==> the name is replaced by `--` https://github.com/containerd/nerdctl/blob/354d03acb11a1649f0f3aec73218b8d8e2d9e062/pkg/statsutil/stats.go#L142

[2022-03-09 13:35] #880 closed

[2022-03-09 13:47] fahedouch commented on #864
based on this https://github.com/containerd/containerd/issues/4830#issuecomment-744744375 containerd do not support log rotate. I think we can configure in `/etc/nerdctl/nerdctl.toml` how much logs the user should see! WDYT @AkihiroSuda  ?

[2022-03-09 14:31] Zheaoli commented on #864
maybe we can add an argument in `tail -100 demo.log` style?

[2022-03-09 17:30] RobotSail opened #883 "IPFS Daemon Not Accessible"
After installing IPFS for rootless containers via `containerd-rootless-setuptool.sh -- install-ipfs --init`, the service's logs show that the IPFS daemon has launched and is running in the background.
However, making requests to IPFS doesn't work and running `netstat -tulpn 4001` produces no results. Additionally, I'm able to start the regular IPFS daemon without issue, and only then do `nerdctl p

[2022-03-09 18:40] hermitmaster commented on #792
I'm seeing a similar issue logging into a jfrog.io repo. docker-cli works fine in my case as well.
`nerdctl --version
nerdctl version 0.17.0`

[2022-03-10 05:12] fuweid commented on #864
containerd supports log plugin for runC shimv2. Maybe we can implement jsonfile plugin for that

[2022-03-10 05:17] AkihiroSuda commented on #864
No, the CLI syntax should emulate `docker run --log-opt XXX`.
https://docs.docker.com/config/containers/logging/configure/

We have been already doing so: https://github.com/containerd/nerdctl/blob/v0.17.1/pkg/logging/logging.go

[2022-03-10 05:42] fuweid commented on #864
Good to know this 👏. It seems that there is a way to get the customize parameters from MagicArg1's value, like max-size, max-files.

[2022-03-10 09:18] ningmingxiao commented on #879
wil fix by https://github.com/containerd/nerdctl/pull/886/files

[2022-03-10 11:20] Maddin-619 opened #887 "http registry login (`http: server gave HTTP response to HTTPS client`)"
I found this question #224 but setting the `--insecure-registry` flag only skips tls verfiy and does not affect the https://github.com/containerd/nerdctl/blob/354d03acb11a1649f0f3aec73218b8d8e2d9e062/pkg/imgutil/dockerconfigresolver/dockerconfigresolver.go#L39 option (anymore?).

I figured out plainHTTP is only accepted on localhost. That's totally fine in terms of security not sending credentials

[2022-03-10 11:35] ningmingxiao commented on #879
thank you

[2022-03-10 11:39] AkihiroSuda commented on #887
`--insecure-registry` supports falling back to HTTP when "server gave HTTP response to HTTPS client".

https://github.com/containerd/nerdctl/blob/41ceb2944209a7232a49356f0d7fd293854bac98/pkg/imgutil/imgutil.go#L145-L164
https://github.com/containerd/nerdctl/blob/41ceb2944209a7232a49356f0d7fd293854bac98/pkg/imgutil/imgutil.go#L195-L202

Isn't this working? What's your registry implementation?

[2022-03-10 11:57] Maddin-619 commented on #887
Yes for push/pull there is a fallback but for login not (as far as I understood the code).
[code]

[2022-03-10 12:01] #879 closed

[2022-03-10 21:22] realvz opened #888 "Running containerd-rootless-setuptool.sh install fails on Amazon Linux 2"
I am trying to install nerdctl on Amazon Linux 2 using the full release archive. When I run `containerd-rootless-setuptool.sh install`, I receive the following error message:
`[ERROR] Needs systemd (systemctl --user)`

Here are the steps to reproduce the issue. Create an Amazon Linux 2 EC2 instance. SSH into it and run:

[code]

After this, running `nerdctl` throws this error:
[code]

Then, runnin

[2022-03-10 23:38] prakashmirji opened #892 "Occasionally nerdctl stop never exits"
We have been using nerdctl for about 5 months. We are seeing an issue with nerdctl occasionally. Here are the details;

1. nerdctl version: 0.11.1
2. system: SLES 15 SP2
3. contained: 1.5.1

nerdctl stop <name>
we then issue `nerdctl wait <name> command to wait for the container to stop.

Occasionally, we see that stop command never exits, and then our follow-up wait command fails.

Have you seen

[2022-03-10 23:48] fahedouch commented on #864
Yes @fuweid  this seems a good idea.  may be `nerdctl run --log-opt max-size=XX --log-opt max-file=XX` . I take this issue

[2022-03-11 04:14] AkihiroSuda commented on #892
- Does `nerdctl kill` work?
- Please try the latest containerd and nerdctl
- Please provide full reproducer

[2022-03-11 04:41] Zheaoli commented on #887
The login logic doesn't have a fallback for HTTP

I will make a PR today

/assign

[2022-03-11 17:18] mniak commented on #798
That is very nice, @afbjorklund
I will try to test and contribute when I have some spare time.

[2022-03-11 17:33] afbjorklund commented on #798
Might have to include this: https://github.com/moby/moby/tree/master/pkg/sysinfo

It is not included with `nerdctl`, so there are a bunch of warnings issued by `info`

[code]

[2022-03-12 00:16] midhunkrishna commented on #747
From lima docs.

So instead of providing host.docker.internal, you can provide `192.168.5.2`

I have tested this with nerdctl distributed via Rancher and works!

reference: https://github.com/lima-vm/lima/blob/master/docs/network.md

[2022-03-12 17:40] codecraft21 opened #895 "Bind mount a volume fails on WSLg with no such file or directory: unknown"
On WSLg, Windows 11, Rancher Desktop 1.1.1, nerdctl 0.17.0

[code]

[2022-03-14 04:33] AkihiroSuda commented on #895
Please report to https://github.com/rancher-sandbox/rancher-desktop/issues

[2022-03-14 04:33] #895 closed

[2022-03-14 05:26] luya0000 opened #897 "nerdctl compose start containers form different file, but container's network could not connect."
On the one host, I use  docker-compose1.yaml  to starts a CentOS container and then uses docker-compose2.Yaml starts another  Nginx container. Nginx service cannot be accessed in CentOS container. Guess it's caused by the intranet segment. How to deal with it.

docker-compose1.yaml
-------------------------
version: '2.3'
services:
  nginx:
    image: centos:7
    container_name: centosd
    resta

[2022-03-14 11:46] a14stoner opened #899 "nerdctl does not create directory when mounting a not existing directory from host"
When i try to make this command:
`sudo nerdctl run -d --name test -h test -v /u02/TEST_DIRECTORY:/TEST_DIRECTORY image_name:1.12`

and this directory does not exist the following error occurs:
[code]
It would be cool if nerdctl creates a not existing directory just as docker does.

Nerdctl version:

[code]

OS Version:

[code]

[2022-03-14 13:15] AkihiroSuda commented on #899
Seems a duplicate of https://github.com/containerd/nerdctl/issues/472

[2022-03-14 13:15] #899 closed

[2022-03-14 15:07] strakh-alex commented on #352
I am using Rancher Desktop on Windows with WSL2.
How can I do this fix on my setup?

[2022-03-15 00:19] luya0000 commented on #472
I've ran into this issue too.

[2022-03-15 07:13] wtfacoconut commented on #759
Hey @textminer, if I use this approach, do you have a recommendation on how to target different windows drive letters? For example, if I wanted to bind-mount "f:\foo\bar", how would I accomplish this using nerdctl?

[2022-03-16 00:33] jsturtevant commented on #759
@wtfacoconut There is a bug in containerd for different drive letters in Windows: https://github.com/containerd/containerd/issues/6589. Once that is fixed and this parsing error here is fixed, we would be able to support the other driver letters

[2022-03-16 01:33] AkihiroSuda opened #900 "`go mod tidy` fails with Go 1.18: `../go-hostsfile: "../go-hostsfile" is relative, but relative import paths are not supported in module mode`"
[code]

3d2b1c8e0b3119ab1825b3287ad61e403decf312

[2022-03-16 01:41] wtfacoconut commented on #759
Understood. Thanks for the info.

[2022-03-16 10:19] guillaumemarc opened #901 "Enable no pivot with nerdctl"
I try to enable nerdctl on an armv7 arch with a ramdisk. I am able to run docker on this arch but nerdctl not work I think because I can not add the option no-pivot i try to enable this in the setting of containerd and runc but i thing that nerdctl override this setting .

Did nerdctl support the no-pivot feature ?

[2022-03-17 09:10] Junnplus commented on #900
@AkihiroSuda

As if we only depend on https://github.com/containerd/nerdctl/blob/12a06bb8ad29dddc5d9ade7e26caad268ab8d129/pkg/dnsutil/hostsstore/updater.go#L134

Why not consider us to maintain it.

[2022-03-17 21:10] Sebor commented on #429
Do you have AWS credentials inside lima?

[2022-03-17 22:35] emmahsax commented on #429
Hah probably not. I didn't pass anything to lima, just have my `~/.aws/credentials` file set up.

[2022-03-18 05:31] kameshsampath opened #908 "Implement `nerdctl import` to load raw tarball (Was: loading image from tarball)"
/question

I installed the latest k3s using lima and trying to load images into it using `nerdctl --namespace=k8s.io load `, but when I use a tarball from stdin I get the following error

`time="2022-03-18T05:10:56Z" level=fatal msg="unrecognized image format"`

The command I used to for this

[code]

https://github.com/google/go-containerregistry/blob/main/cmd/crane/doc/crane_export.md

Additiona

[2022-03-18 06:05] AkihiroSuda opened #909 "Windows CI: `error obtaining VCS status: exec: "git": executable file not found in %PATH%`"
https://github.com/containerd/nerdctl/runs/5596408763
[code]

[2022-03-18 06:07] AkihiroSuda commented on #908
What's the content of the tar ball?
It needs to contain either `index.json` (OCI Image Spec) or `manifest.json` (Docker Image Spec).

[2022-03-18 06:12] AkihiroSuda commented on #901
No.
The no-pivot mode is insecure, and I'm reluctant to implement this, but we can consider having `--security-opt insecure-no-pivot` with a warning message.

[2022-03-18 06:55] #909 closed

[2022-03-18 08:22] kameshsampath commented on #908
I see the tarball as an filesystem tar but without manifest in it.

[2022-03-18 09:10] AkihiroSuda commented on #908
This will be supported in `nerdctl import` (equivalent of `docker import`), but not implemented yet.

[2022-03-18 09:14] kameshsampath commented on #908
Which version it's expected ? I am trying to implement https://github.com/google/ko/issues/588 and using crane to build the tarball and import the image into k3s cluster using nerdctl.

[2022-03-18 09:18] AkihiroSuda commented on #908
As soon as somebody opens a PR 😄

[2022-03-19 16:11] #887 closed

[2022-03-19 16:23] Junnplus commented on #900
looks like jaytaylor has been inactive for a long time. :(

I opened https://github.com/containerd/nerdctl/pull/914 for build with Go 1.18.

[2022-03-19 16:56] #900 closed

[2022-03-20 02:59] ningmingxiao opened #915 "nerdctl ns inspect"
### What is the problem you're trying to solve

what nerdctl ns inspect should display?

### Describe the solution you'd like

now I design nerdctl ns inspect  struct like this

[code]

### Additional context

_No response_

[2022-03-20 09:29] Junnplus commented on #827
I can't reproduce this problem on containerd with latest and 1.5.10 version.

[code]

In addition, I can't start the corresponding containerd version through minikube.

[2022-03-20 13:53] #831 closed

[2022-03-20 13:54] Junnplus commented on #831
Fixed by https://github.com/containerd/nerdctl/pull/847

[2022-03-20 13:54] Junnplus commented on #826
Fixed by https://github.com/containerd/nerdctl/pull/847

[2022-03-20 13:54] #826 closed

[2022-03-20 17:57] AkihiroSuda commented on #915
https://github.com/containerd/nerdctl/pull/874#discussion_r830651394

[2022-03-20 21:40] fahedouch commented on #831
@Junnplus not sure but that seems to be unrelated, I will check this tomorrow :-)

[2022-03-21 09:47] kameshsampath commented on #908
Actually the google container registry does have `manifest.json`, i was able to progress with the load.

https://github.com/google/ko/pull/665

[2022-03-21 09:47] #908 closed

[2022-03-22 14:28] #434 closed

[2022-03-23 09:34] AkihiroSuda opened #919 "[master] Regression: OCI worker (`/run/user/1001/buildkit/buildkitd.sock`) can no longer be auto detected:"
_Originally posted by @AkihiroSuda in https://github.com/containerd/nerdctl/issues/858#issuecomment-1076149926_

[2022-03-23 09:36] catalinbahrin opened #920 "Cannot pull image from private repository after successful login"
### Description

I am able to pull an image from a private repository when I do `lima nerdctl pull REPOSITORY\IMAGE`. However, when I try to build with `lima nerdctl compose up --build` a Dockerfile that uses the same image from a private repository, I get an error.

### Steps to reproduce the issue

1. lima nerdctl login
2. lima nerdctl compose up --build

### Describe the results you received an

[2022-03-23 09:58] guillaumemarc commented on #901
Our objectify is to run nerdctl with a system that run on a ramdisk. With docker, we can use DOCKER_RAMDISK=true. And I try to get no-pivot enable for this reason but if you have other solution i will be happy to use

[2022-03-24 05:19] #919 closed

[2022-03-24 05:20] #882 closed

[2022-03-24 05:32] Zheaoli commented on #852
https://github.com/containerd/nerdctl/pull/896 has been merged.

Now we can support this now, I'll try my best to make a PR before v0.18.0 released

[2022-03-24 09:36] #852 closed

[2022-03-24 10:04] AkihiroSuda opened #930 "v0.18.0-beta.0: `$BUILDKIT_HOST` is ignored"
### Description

`$BUILDKIT_HOST` is ignored in v0.18.0-beta.0

### Steps to reproduce the issue

`BUILDKIT_HOST=dummy://invalid nerdctl --debug-full build .`

### Describe the results you received and expected

`$BUILDKIT_HOST` is ignored

### What version of nerdctl are you using?

v0.18.0-beta.0

### Are you using a variant of nerdctl? (e.g., Rancher Desktop)

_No response_

### Host informatio

[2022-03-24 10:04] AkihiroSuda commented on #930
cc @ktock

[2022-03-24 10:35] AkihiroSuda opened #931 "Help wanted: test `nerdctl login` v0.18.0-beta.0 with as many registries as possible"
In v0.18.0-beta.0, we had several non-trivial fixes in `nerdctl login` .

Help wanted for testing `nerdctl login` v0.18.0-beta.0, with as many registry implementations as possible: https://github.com/containerd/nerdctl/blob/v0.18.0-beta.0/docs/registry.md#using-managed-registry-services

https://github.com/containerd/nerdctl/releases/tag/v0.18.0-beta.0

[2022-03-25 02:03] AkihiroSuda commented on #920
Cc @ktock

[2022-03-25 02:10] wonderfuwillard commented on #920
Same problem when using the local image as the base image in dockerfile

[2022-03-25 04:14] #930 closed

[2022-03-25 05:58] Zheaoli commented on #666
I think this proposal is making sense.

I will make a try to impl it.

cc @AkihiroSuda would you mind assigning this issue to me?

[2022-03-25 06:50] Zheaoli commented on #931
I have a test passed with harbor/nexus based on the code in the master branch.

[2022-03-25 07:45] Junnplus commented on #931
[code]

I did the following test locally:

- [x] GHCR
- [x] ECR
- [x] ACR
- [x] Docker Hub
- [x] Quay.io

[2022-03-25 07:49] AkihiroSuda commented on #931
Thank you @Zheaoli @Junnplus !

[2022-03-25 07:49] #931 closed

[2022-03-25 07:52] Zheaoli commented on #931
I have already tested the following registry

- [ ] AWC ECR
- [ ] Azure
- [ ] DockerHub
- [ ] jfrog.io
- [ ] quay.io

All works fine!

[2022-03-25 14:09] ktock opened #940 "Allow interactively debugging a failed build stage"
### What is the problem you're trying to solve

Related: https://github.com/moby/buildkit/issues/1053

It seems that there are demands for enabling to interactively debug failed build steps.

### Describe the solution you'd like

I believe nerdctl can achieve it because now that it has integrated to BuildKit (rootful/rootless) containerd worker and can directly access to BuildKit cache snapshots.

[2022-03-25 14:09] ktock commented on #940
cc @AkihiroSuda

[2022-03-25 14:14] AkihiroSuda commented on #940
SGTM but we need an interface to get the snapshot id

[2022-03-25 16:45] Zheaoli opened #941 "Remove the orphan containers before the service start"
### What is the problem you're trying to solve

Remove the orphan containers before the service start and warn the user who doesn't use --remove-orphan args when there are some orphan containers that existed.

### Describe the solution you'd like

FYI https://github.com/docker/compose/blob/v2/pkg/compose/create.go#L91-L105

### Additional context

_No response_

[2022-03-26 18:14] navels commented on #677
I'm having the same problem with (co)lima but only with >2 cpus: https://github.com/abiosoft/colima/issues/137

[2022-03-26 23:16] xmlking opened #943 "nerdctl push with cosign throw error: cosign executable not found in path $PATH"
### Description

Unable to  `nerdctl push --sign=cosign`
Throw `cosign executable not found in path $PATH`

### Steps to reproduce the issue

❯  nerdctl images
REPOSITORY                               TAG       IMAGE ID        CREATED              PLATFORM       SIZE         BLOB SIZE
ghcr.io/xmlking/grpc-starter-kit/base    latest    324e109cc7be    8 minutes ago        linux/arm64    510.9 MiB

[2022-03-26 23:39] fahedouch commented on #943
I think you should open a ticket in rancher repo, it looks like $PATH is not visible for rancher desktop

[2022-03-27 01:41] AkihiroSuda commented on #943
Yes, please ask Rancher Desktop maintainers to install    cosign inside the VM

[2022-03-27 01:41] #943 closed

[2022-03-28 07:05] ningmingxiao opened #945 "we should support restart policy,like --restart=on-failure:5,but no we don't support"
### What is the problem you're trying to solve

docker support restart   policy  no,on-failure,on-failure:3,always，unless-stopped.but nerdctl just support   no,always.

### Describe the solution you'd like

nerdctl support restart  policy  no,on-failure,on-failure:3,always

### Additional context

_No response_

[2022-03-28 07:58] Zheaoli opened #946 "Support --init argument in `nerdctl run` command"
### What is the problem you're trying to solve

In docker, there is --init argument in `docker run` command to support using https://github.com/krallin/tini in a container to support signal forward and others features.

### Describe the solution you'd like

Maybe we can add the same argument in the `nerdctl run` command

### Additional context

I would like to support this feature

[2022-03-28 08:00] Zheaoli commented on #945
Emmmm, I think this feature is hard to support. because `nerdctl` don't have a daemon process to support listen the container state

[2022-03-28 08:04] fuweid commented on #945
There is restart plugin in containerd. We can consider to make it easy to integrate with nerdctl.

[2022-03-28 08:27] ningmingxiao commented on #945
Does container  support this feature?  now i can't find it in container 1.5.9 @fuweid

[2022-03-28 08:33] fuweid commented on #945
https://github.com/containerd/containerd/blob/main/runtime/restart/monitor/monitor.go

Yes. But I think it needs to be enhanced before use it in nerdctl

[2022-03-28 09:44] AkihiroSuda commented on #945
We have been already using the restart monitor for `--restart=always`, but the restart monitor doesn't seem to support `on-failure` mode.

[2022-03-28 11:17] Junnplus commented on #747
Thanks @midhunkrishna

[2022-03-28 11:17] #747 closed

[2022-03-28 16:04] Junnplus commented on #945
@fuweid Maybe we can extend the restart policy by adding a containerd label, like `containerd.io/restart.policy`.

But I don't know where to record the count of restarts of the container. Perhaps the annotations of the container.

[2022-03-28 17:22] Junnplus commented on #945
Append: I will try to enhance containerd's restart manager by adding a label:
`containerd.io/restart.policy`, `containerd.io/restart.count`.

[2022-03-29 05:51] ningmingxiao commented on #945
thank you

thank you

[2022-03-29 08:29] ktock opened #951 "`content digest ... not found` for multi-platform image built using `nerdctl build`"
### Description

This ocucrs nerdctl with BuildKit containerd worker configuration.
When `nerdctl build` builds a multi-platform image without `RUN` or `COPY` command, nerdctl cannot use some of the blobs of the result image of non-default platform.

Example:

[code]

This can occur on any snapshotters.

This is because nerdctl exports the result image with `--output=type=image,unpack=true`.
With

[2022-03-30 05:00] #951 closed

[2022-03-31 08:19] Zheaoli opened #956 "nerdctl checkpoint command support"
### What is the problem you're trying to solve

To support the checkpoint feature in nerdctl.

### Describe the solution you'd like

I'll make a try to support the checkpoint feature in the nerdctl with the following steps

1. I will implement three commands
    1.  nerdctl checkpoint create
    2. nerdctl checkpoint ls
    3. nerdctl checkpoint rm
2. Add a new flag `--checkpoint` in `nerdctl star

[2022-03-31 15:56] aellwein commented on #717
/reopen
This is still not working with ACR.

[2022-03-31 16:00] AkihiroSuda commented on #717
@aellwein

Alibaba’s ACR or Azure’s ACR?

[2022-03-31 17:53] aellwein commented on #717
@AkihiroSuda not working on Azure's ACR, not tested on Alibaba

[2022-03-31 19:27] fahedouch commented on #717
@aellwein which login option are using to login to ACR :
1- username/password
2- 00000000-0000-0000-0000-000000000000/accessToken

can you share the error msg that you got plz

[2022-04-01 09:06] aellwein commented on #717
@fahedouch @AkihiroSuda Ah sorry, my bad, i apparently forgot to take the -u 00000000-0000-0000-0000-000000000000 parameter. Now it works, "Login succeeded". Thanks!

Oneliner for those, who are using nerdctl on Azure CR (just replace ``myregistryname`` with your registry name):

[code]

[2022-04-01 09:12] #717 closed

[2022-04-01 18:48] ginglis13 commented on #99
Hi @AkihiroSuda, looking at this and I have 2 questions. 1/ is this only applicable to bash or does it apply to other/all shells? 2/ just to clarify, `sudo nerdctl rm <TAB>` should show both rootless and rootful containers ?

[2022-04-01 21:12] AkihiroSuda commented on #99
1. Not familiar with other shells, but probably it should be consistent across all shells
2. No, only rootful ones should be shown

[2022-04-02 14:18] Zheaoli commented on #956
According to this issue https://github.com/checkpoint-restore/criu/issues/860

If we want to add a checkpoint command to the nerdctl, there will be some error in CI before  the kernel and CRIU project fix this issue

[2022-04-03 03:06] ningmingxiao opened #957 "can we have a nerdctld(daemon process) to support an restful api for other client to manage container?"
### What is the problem you're trying to solve

nerdctl doesn't have api

### Describe the solution you'd like

we  should have a nerdctld(daemon process) to support an restful api for other client to manage container

### Additional context

_No response_

[2022-04-03 07:03] AkihiroSuda commented on #957
@afbjorklund has been experimenting this in his repo
https://github.com/afbjorklund/nerdctld

[2022-04-04 15:30] Zheaoli commented on #956
I will close this issue first

[2022-04-04 16:18] fahedouch commented on #956
this is implement in ctr https://github.com/containerd/containerd/blob/main/cmd/ctr/commands/run/run.go#L188
do they have the same problem !?

[2022-04-04 16:28] Zheaoli commented on #956
@fahedouch The answer is yes.

The containerd tested the checkpoint feature base on Ubuntu 20.04 with kernel 5.4.

But in the newest kernel, 5.13, the command would be failed.

Actually, I'm not sure we need to add this command because the CRIU is not stable

[2022-04-05 11:21] aledbf opened #961 "Question: where is located the Dockerfile of the nerdctl-ipfs-registry image?"
### What is the problem you're trying to solve

Update the image `ghcr.io/stargz-containers/nerdctl-ipfs-registry:v0.16.0`

### Describe the solution you'd like

Link to the Dockerfile to be able to update the image (maybe I just need nerdctl?)

### Additional context

_No response_

[2022-04-05 18:23] LanceSandino commented on #499
I'm running into this issue after running some docker compose commands.

[2022-04-06 06:36] alegrey91 commented on #811
@AkihiroSuda any news?

[2022-04-06 07:08] AkihiroSuda commented on #811
Contribution is welcome.
The CIDR list should be fetched from the CNI configs.

[2022-04-07 05:18] ginglis13 commented on #99
I did some looking into how tab completion is implemented and I don't believe the implementation itself is the root cause. IIUC cobra commands are not aware of being run with privileges or not.

I'm curious if this tab completion is expected behavior / reflected in Docker so I compared the two. So far I've only been able to replicate this when I have both rootful and rootless containerd running. I

[2022-04-07 05:37] AkihiroSuda commented on #99
Yes, the current behavior is consistent with Docker and it is kinda "expected", but it would be nice if we can make `sudo nerdctl <TAB>` aware of `sudo`.
This is an enhancement task for Cobra rather than nerdctl itself.

[2022-04-08 11:50] #687 closed

[2022-04-08 12:34] #591 closed

[2022-04-08 12:55] click2cloud-lamda opened #971 "Mounted volume can be deleted"
# Issue

In Docker, when we try to delete a volume mounted to a container, it throws the error "volume is in use". In nerdctl, even if the volume is mounted to the container, it can be deleted.

First I mount the volume "testVolume" to the container.
[code]
Then when I delete the volume, it gets deleted.
[code]

[2022-04-10 05:12] laixintao opened #973 "nerdctl read from stdin will stuck forever."
### Description

nerdctl won't exit after reading from stdin, with `-i` arg.

### Steps to reproduce the issue

`echo 123 | ./nerdctl run -i --network none ubuntu cat -`

run this command, it will stuck:

<img width="863" alt="image" src="https://user-images.githubusercontent.com/9675939/162602396-3a88f5e5-e63e-4833-a4fd-61b190479c5c.png">

ctrl + C and ctrl + D didn't work. I can not exit.

### D

[2022-04-10 05:55] jschwinger233 commented on #973
It's actually the same behavior as Docker, you may want to try `docker run -it --rm --net host bash cat -` which will ignore sigint as well.
And this has nothing to do with container runtime or the exec(2)-ed binary, because it's the kernel responsibility to repress the sigint for pid 1 of every pid namespace.

[2022-04-10 06:06] jschwinger233 commented on #973
Let me demonstrate this behavior as followed:

[code]

Run this script using root, and you'll find it impossible to kill by 2.

Here is the man2: https://man7.org/linux/man-pages/man7/pid_namespaces.7.html
![image](https://user-images.githubusercontent.com/6435624/162604704-e3ba085c-cb04-40b8-818c-4292a6ffe261.png)

[2022-04-10 06:44] Zheaoli commented on #973
It seems we got some issues here. PTAL https://github.com/containerd/nerdctl/blob/master/pkg/taskutil/taskutil.go#L72-L80

In this case, when the command `echo 123` has been executed, the result `123+EOF` has been used in `nerdctl run -i --network none ubuntu cat`. but in our code, we close container stdin directly when we get the EOF error.

But for some of the commands such as `cat -` or else, c

[2022-04-10 06:48] jschwinger233 commented on #973
Even `echo asdf | nerdctl run -it --rm --net none bash cat -` is still reading from pty....

[2022-04-10 07:26] Junnplus commented on #973
Emm. `Closer` is created after the task is created https://github.com/containerd/nerdctl/blob/master/pkg/taskutil/taskutil.go#L60-L62

[2022-04-10 07:59] AkihiroSuda commented on #973
Should be fixed in :
- https://github.com/containerd/nerdctl/pull/726

[2022-04-10 08:15] Zheaoli commented on #973
Yes, the `Closer` will be triggered when the stdin close by EOF, but the default Closer don't redirect the EOF to container process stdin

[2022-04-11 10:25] click2cloud-lamda commented on #971
@AkihiroSuda Im facing this issue on linux as well.

[2022-04-12 00:06] patryk4815 opened #976 "--cap-add not working in run command"
### Description

`--cap-add SYS_PTRACE ` not working as expected.

`pspec.Capabilities.Bounding = []string{"CAP_SYS_PTRACE"}` <- this options should be in code.

### Steps to reproduce the issue

[code]

### Describe the results you received and expected

`warning: ptrace: Operation not permitted`

### What version of nerdctl are you using?

0.18.0

### Are you using a variant of nerdctl? (e.g., R

[2022-04-12 05:05] #976 closed

[2022-04-12 12:46] karosuwindam opened #979 "Pull error occurs when using RaspberryPi 4"
### Description

The following error occurs when using Raspberry Pi OS for 64bit
[code]

Success under the following conditions
[code]

### Steps to reproduce the issue

1. nerdctl pull ubuntu:latest

### Describe the results you received and expected

Do not use the "--platform" option

### What version of nerdctl are you using?

$ nerdctl version
Client:
 Version:       v0.18.0
 Git commit:    7

[2022-04-12 14:52] Zheaoli commented on #979
Would you mind to tell us which arch of nerdctl you use? arm-v7 or arm64

[2022-04-12 14:56] karosuwindam commented on #979
Use arm64/v8 arch

[2022-04-12 14:59] Zheaoli commented on #979
I mean, which binary do you use? nerdctl-0.18.0-linux-arm-v7.tar.gz or nerdctl-0.18.0-linux-arm64.tar.gz?

[2022-04-12 15:02] karosuwindam commented on #979
I used 'nerdctl-0.18.0-linux-arm-v7.tar.gz'

[2022-04-12 15:15] karosuwindam commented on #979
Resolved after changing the binary.

Thank you.

[2022-04-13 12:45] saltbo opened #981 "Add mirror config support at nerdctl.yaml"
### What is the problem you're trying to solve

When I set the image mirror, I need to maintain many configs.

[code]

### Describe the solution you'd like

Add mirror config support at nerdctl.yaml like the `registries.yaml` of k3s
[code]

### Additional context

_No response_

[2022-04-13 18:02] aledbf opened #982 "Allow push to remote IPFS node"
### What is the problem you're trying to solve

nerdctl push assumes a local IPFS node is running.

### Describe the solution you'd like

An additional flag for push to specify the IPFS address

### Additional context

_No response_

[2022-04-14 06:17] AkihiroSuda opened #984 "Flaky test: `TestMultiPlatformBuildPush` (`msg="failed to copy: rpc error: code = Internal desc = unexpected EOF"`)"
[code]

[2022-04-15 10:26] #946 closed

[2022-04-18 04:02] #982 closed

[2022-04-19 15:53] #971 closed

[2022-04-20 05:30] AkihiroSuda opened #996 "compose: have an option to resolve `~` into the host home directory of Lima / Rancher Desktop"
### What is the problem you're trying to solve

`nerdctl compose up` via Lima or Rancher Desktop resolves `~` in the compose YAML into the guest home `(/home/foo.linux` or `/root`), not into the host home (`/Users/foo`).

This is not a bug but confusing.

### Describe the solution you'd like

Support a new property like `home = $LIMA_USERHOME` in `nerdctl.toml`:
https://github.com/containerd/nerdc

[2022-04-20 05:30] AkihiroSuda commented on #996
cc @jandubois @mattfarina

[2022-04-21 09:25] #212 closed

[2022-04-22 04:06] AkihiroSuda opened #1004 "`ghcr.io/containerd/nerdctl` contains useless `dependabot-*` tags"
### Description

`ghcr.io/containerd/nerdctl`  contains useless `dependabot-*` tags

https://github.com/containerd/nerdctl/pkgs/container/nerdctl/versions
<img width="1153" alt="image" src="https://user-images.githubusercontent.com/9248427/164595406-5346173b-27b6-4019-b9e9-098616280295.png">

The GHA yaml https://github.com/containerd/nerdctl/blob/master/.github/workflows/ghcr-image-build-and-publ

[2022-04-22 04:06] AkihiroSuda commented on #1004
cc @Rajpratik71

[2022-04-22 04:28] AkihiroSuda opened #1005 "`nerdctl-0.19.0-go-mod-vendor.tar.gz` is broken"
[code]

The expected layout is:
[code]

[2022-04-22 09:33] Zheaoli commented on #607
I think maybe we can follow the following design.

[code]

People can spec a global cosign key and decide which image would be verified and override the global key or not.

[2022-04-25 04:37] #1004 closed

[2022-04-26 04:43] AkihiroSuda commented on #483
Implemented in #822

[2022-04-26 04:43] #483 closed

[2022-04-26 04:44] AkihiroSuda commented on #428
Now available: `ghcr.io/containerd/nerdctl`
https://github.com/containerd/nerdctl/pkgs/container/nerdctl

[2022-04-26 04:44] #428 closed

[2022-04-27 08:53] #1005 closed

[2022-04-27 12:53] junnplus commented on #973
Fixed: https://github.com/containerd/nerdctl/pull/1014

[2022-04-27 12:53] #973 closed

[2022-04-28 04:52] AkihiroSuda opened #1018 "Flaky test: `TestExec`: `expected "success\n", got ""`"
https://github.com/containerd/nerdctl/runs/6202046578?check_suite_focus=true

[code]

Potentially regression in #1014 (unconfirmed)

[2022-04-29 03:13] mayday0208 opened #1023 "CUDA Version: N/A"
### Description

nerdctl run -it --rm --gpus capabilities=utility,device=GPU-3a23c669-1f69-c64e-cf85-44e9b07e7a2a nvidia/cuda:9.0-base nvidia-smi
![nvidia](https://user-images.githubusercontent.com/53076890/165879617-d81bf186-e497-4c3a-b943-077f2d2fc9ff.png)

when i use python pytorch,torch.cuda.is_available(),return false.

### Steps to reproduce the issue

1.nerdctl run -it --rm --gpus capabilit

[2022-04-29 07:40] junnplus commented on #1023
Try `sudo nerdctl run --rm --gpus '"capabilities=compute,utility"' --debug nvidia/cuda:11.0-base nvidia-smi`

[2022-04-29 07:45] junnplus commented on #1023
It seems that nerdctl and docker are a bit different:
[code]

[2022-04-29 08:30] mayday0208 commented on #1023
thanks! now i can use cuda!

[2022-04-30 06:20] #1023 closed

[2022-05-01 07:28] junnplus commented on #773
I closed it, feel free to reopen it if you still have problems.

[2022-05-01 07:28] #773 closed

[2022-05-01 07:28] junnplus commented on #792
I closed it, feel free to reopen it if you still have problems.

[2022-05-01 07:28] #792 closed

[2022-05-01 07:28] #624 closed

[2022-05-02 11:22] a4z opened #1026 "can't use docker compose file with a $PWD in a mount path"
### Description

A docker compose file with the following volumes part:

[code]

does not work with `nerdctl compose`

[code]

### Steps to reproduce the issue

use a volume like in the example above in a docker compose file and run `nerdctl compose up`

this does unfortunately not work

### Describe the results you received and expected

running the compose file with the mount as docker does it

[2022-05-02 11:37] muziekklas opened #1027 "Visual Studio code Dev Containers Using deprecated property to check version"
### What is the problem you're trying to solve

I am attempting to use Nerdctl for VSC Dev Containers, to completely replace Docker Desktop.
I was able to change the executable in VSC to nerdctl but I hit the following issue:

`level=fatal msg="template: :1:9: executing "" at <.Server.APIVersion>: can't evaluate field APIVersion in type *dockercompat.ServerVersion"`

If you take a look at the dock

[2022-05-02 11:41] AkihiroSuda commented on #1027
containerd doesn't implement Docker REST API, so it doesn't make sense to fulfill `.Server.APIVersion`.

[2022-05-02 11:41] #1027 closed

[2022-05-02 11:42] AkihiroSuda commented on #1027
Could you ask the VSCode developers to ignore that field for nerdctl?

[2022-05-02 11:46] muziekklas commented on #1027
Understandable... I was thinking more in line just to expose the version to 'please' the devcontainer extension in VSC. But I understand your point of view.

I have contacted them too, hoping that they might be able to do something to support nerctl. Though, their work arround is to switch away from containerd to dockerd. Maybe they can do anything in their extension

[2022-05-02 11:48] AkihiroSuda commented on #1027
Maybe we can fulfill an obviously fake value such as "v9999.0.0" if it is enough to let VScode interact with nerdctl.
If this is not enough I'd still suggest to change the VSCode side.

[2022-05-02 11:50] muziekklas commented on #1027
Indeed, that was my initial thought process, But I lack the know-how of Go to do this.

[2022-05-04 18:49] alff commented on #686
I've found some workaround for this:

1. Create a file `/etc/systemd/system/user@YOUR_NON-ROOT_USER_ID.service` with next content:
`[Unit]
Description=User Manager for UID %i
After=systemd-user-sessions.service
# These are present in the RHEL8 version of this file except that the unit is Requires, not Wants.
# It's listed as Wants here so that if this file is used in a RHEL7 settings, it will not

[2022-05-05 02:12] mayday0208 opened #1030 "nerdctl run -p,portmap isn't running"
### Description

ubuntu 18.04 ,nerdctl version:0.19
when i start a container,i can't find the portmap .

### Steps to reproduce the issue

1.sudo nerdctl run -it --rm --gpus '"capabilities=compute,utility,video"' -v /home/:/host -p 9526:8080 --name rtsp_test 8eba317006a6 /bin/bash
2. nerdctl container ls
![image](https://user-images.githubusercontent.com/53076890/166854345-94a9f171-2e33-4fce-97c6-

[2022-05-05 04:07] AkihiroSuda commented on #1030
What’s your CNI portmap plugin version and where is the installation path of the plugin binary?

[2022-05-05 04:08] AkihiroSuda commented on #1030
Please try installing plugins v1.1.1 to /opt/cni/bin
https://github.com/containernetworking/plugins/releases

[2022-05-05 05:32] mayday0208 commented on #1030
I download nerdctl-full-0.19.0-linux-amd64.tar.gz(include cni?),and install it with the following commands:
tar Cxzvvf /usr/local nerdctl-full-0.19.0-linux-amd64.tar.gz.
the cni version is 1.1.1
![image](https://user-images.githubusercontent.com/53076890/166867932-be7b68e3-6ba8-43a4-8f8a-3949bd21bab5.png)

[2022-05-05 16:18] #945 closed

[2022-05-05 17:40] fahedouch commented on #1030
@mayday0208  are you setting `CNI_PATH` to cni old plugins ?

[2022-05-06 00:39] mayday0208 commented on #1030
yes，env is setting cni_path,and i  didn't download the old version

[2022-05-06 01:19] mayday0208 commented on #1030
I reboot my pc，and discover the port with " 'iptables -vnL -t nat'"
but i can't receive anything from port 9521.
![image](https://user-images.githubusercontent.com/53076890/167051120-564e53f4-6943-4639-9744-6f149bea9475.png)

[2022-05-06 02:23] mayday0208 commented on #1030
Portmap：Data can be received on the same computer and can't on the diff

[2022-05-06 12:37] fahedouch commented on #864
fixed by https://github.com/containerd/nerdctl/pull/959. We only support json-file plugin for the moment.

[2022-05-06 12:42] fahedouch opened #1039 "Logging drivers enhancement"
### What is the problem you're trying to solve

Target Nerdctl logging drivers:

- [ ] none
- [x] json-file : https://github.com/containerd/nerdctl/pull/959
- [ ] local
- [x] journald : https://github.com/containerd/nerdctl/pull/1062
- [x] fluentd : https://github.com/containerd/nerdctl/pull/1073
- [ ] fluentbit
- [ ] syslog

### Describe the solution you'd like

Configure logging drivers

### Add

[2022-05-06 14:23] AkihiroSuda opened #1041 "Support for networks in compose files (macvlan)"
### Discussed in https://github.com/containerd/nerdctl/discussions/1040

<div type='discussions-op-text'>

<sup>Originally posted by **mkiael** May  6, 2022</sup>
There seems to be limited support for the different options that can be specified for networks in a compose file, for example driver, driver_opts etc. I encountered this while trying to set up a macvlan network in my compose file:
[code]

[2022-05-06 19:37] #1041 closed

[2022-05-06 22:34] mkiael commented on #901
@AkihiroSuda Any input on how this could be implemented? Since all existing security-opts have related functions in the oci package, and no-pivot is a unix only runtime option, the parsing of this might need to be done some place else then in `generateSecurityOpts`.

[2022-05-08 07:20] #692 closed

[2022-05-08 07:52] junnplus opened #1045 "Flaky test: TestComposeConfigWithComposeFileEnv"
[code]

https://github.com/containerd/nerdctl/runs/6339551349?check_suite_focus=true#step:5:190

[2022-05-09 17:48] pmmlo commented on #206
@andel7 This sounds stupid, but try running the build command at least 3 times after failure (if you know the Dockerfile works with Docker/docker CLI).  For me, it progresses a little further each time until it succeeds in building a new Dockerfile.

[2022-05-09 21:34] #1045 closed

[2022-05-09 23:06] AkihiroSuda commented on #206
Already fixed in nerdctl v0.8.2:
- https://github.com/containerd/nerdctl/pull/207

I also tested v0.19.0 locally and I don't see any regression.

[2022-05-09 23:08] AkihiroSuda commented on #206
@andel7 Are you seeing this error with Lima/Colima/Rancher Desktop?
If so, please make sure that your Dockerfile is located under `/Users` or any directory that is exposed to Lima.

[2022-05-10 03:09] mayday0208 opened #1048 "portmap：curl connection refused"
### Description

nerdctl run ，localhost：192.168.162.119

sudo nerdctl run -d --name nginx -p 8080:80  nginx:alpine
current machine：
sudo curl http://localhost:8080 ---> work
another machine：
sudo curl http://192.168.162.119:8080 ---> connection refused

sudo nerdctl run -d --name nginx  --net host nginx:alpine
current machine：
sudo curl http://localhost:80 ---> work
another machine：
sudo curl http

[2022-05-10 08:34] fahedouch commented on #1048
I guess that you are missing routes between your host netns and your container ns
What shows this cmd : `ip route`

[2022-05-10 08:39] fahedouch commented on #853
fixed via https://github.com/containerd/nerdctl/pull/860

[2022-05-10 08:39] #853 closed

[2022-05-10 09:41] junnplus commented on #1048
I reproduced this problem locally, docker works.

[2022-05-10 11:11] AkihiroSuda commented on #1048
Can't repro (Ubuntu 22.04).

Probably a firewall issue?

[2022-05-10 11:12] AkihiroSuda commented on #1030
Is https://github.com/containerd/nerdctl/issues/1048 same as this?

[2022-05-10 13:46] Zheaoli commented on #1039
Maybe I can handle the rest of the task in this issue. @fahedouch would you mind this issue to me?

[2022-05-11 00:35] mayday0208 commented on #1030
yes,it's the same issue

[2022-05-11 00:42] mayday0208 commented on #1048
I test this erroe in my  two machines.
ubuntu version and firewall:
![image](https://user-images.githubusercontent.com/53076890/167746611-31f46336-b89b-416a-a8c2-0fa0cfe258a0.png)

[2022-05-11 00:46] #1030 closed

[2022-05-11 01:01] mayday0208 commented on #1048
in the container:
![image](https://user-images.githubusercontent.com/53076890/167748269-5cb33ddf-03bb-4fce-889d-f1e1a7b4ddaa.png)
in another machine:
![image](https://user-images.githubusercontent.com/53076890/167748322-c53f09fe-c84c-4cec-8730-24b464d0dc37.png)

[2022-05-11 01:03] mayday0208 commented on #1048
in the container:
![image](https://user-images.githubusercontent.com/53076890/167748485-d0c6f1e8-db3c-4b9d-8bd9-062387c361da.png)
in another machine:
![image](https://user-images.githubusercontent.com/53076890/167748515-d54b000f-31c6-4b11-b4a6-98c16fd54060.png)

[2022-05-11 01:05] mayday0208 commented on #1048
I test this erroe in my two machines.
ubuntu version and firewall:
![image](https://user-images.githubusercontent.com/53076890/167748650-985ffd4b-8f69-4596-864c-4bae67721a4a.png)

[2022-05-11 03:07] AbleHou opened #1051 "OCI runtime create failed due to incompatible CNI versions"
### Description

nerdctl run fail

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

I hope container STATUS is Up but:
FATA[0003] OCI runtime create failed: container_linux.go:370: starting container process caused: process_linux.go:459: container init caused: Running hook #0:: error running hook: exit status 1, stdout: , stderr: time="2022-05-11T10:0

[2022-05-11 03:31] junnplus commented on #1051
What’s your CNI bridge plugin version?

[2022-05-11 06:12] junnplus commented on #1048
[code]

When I run an http server on port 8999, it can be accessed locally, but the remote host cannot.

Here are some iptable rules:
[code]

Adding something along the lines of this restores external connectivity:

[code]

[2022-05-11 06:55] mayday0208 commented on #1048
thx!
According to your method,now the port can be accessed from another machine!
so when i use portmap,i must use"sudo iptables -A CNI-FORWARD -p tcp -m tcp --dport 8999 -j ACCEPT"?

[2022-05-11 06:58] junnplus commented on #1048
This is just a temporary solution, I haven't determined the specific problem yet, it may be a bug of the CNI plugin.

[2022-05-11 08:36] mayday0208 commented on #1048
nginx test ok.In my own container,the portmap  still isn't work.
In my container,it's a rtsp_push server. I can pull rtsp  locally,another machine Connection timed out(not refused).
I'll test in other project.

[2022-05-11 09:35] fahedouch commented on #1051
Plz download the latest plugin version https://github.com/containernetworking/plugins/releases/tag/v1.1.1 and do not build plugin  bin in local and facing the same issue when building plugin in local

[2022-05-11 10:35] junnplus commented on #1048
The above temporary solution is for TCP, you need to modify it for your use, maybe you use UDP.

[2022-05-11 12:14] fahedouch commented on #1039
thank you for  you request  @Zheaoli . I start writing code for `journald` so let me finish it based on your refacto https://github.com/containerd/nerdctl/pull/1050 . You can enhance the rest of the list

[2022-05-11 12:17] Zheaoli commented on #1039
@fahedouch Great! Maybe I can write the `fluentd` and `syslog` first. BTW, maybe we need spilt the logger in two parts: the readable logger and the unreadable logger

[2022-05-11 13:11] fahedouch commented on #1039
@Zheaoli  What do you mean by readable logger and the unreadable logger here ?

[2022-05-11 13:15] Zheaoli commented on #1039
Yes, because some of the loggers such as `fluentd` can not read the log directly after we wrote the log. So I think maybe we need to split the logger by two types

[2022-05-11 14:20] AkihiroSuda commented on #1039
Probably we should support using multiple drivers simultaneously. Then we can read/write jsonfiles while writing to fluents.

[2022-05-11 14:56] #760 closed

[2022-05-11 15:31] Zheaoli commented on #1039
SGTM.

[2022-05-11 18:47] developer-guy commented on #607
kindly ping @AkihiroSuda @Dentrax

[2022-05-11 19:56] fahedouch commented on #1039
We are creating a dependency between drivers here; `json-file` driver issue will impact `fluentd` driver from nerdctl point of view. This can be voluntary when the user configures jsonfiles as fluentd  `tail` input (https://docs.fluentd.org/input/tail)
I think we should implement `fluentd` driver in a separated way ( we can implement one of the fluentd input https://docs.fluentd.org/input/tcp )

[2022-05-12 01:06] mayday0208 commented on #1048
this is my server print,it use TCP.
![image](https://user-images.githubusercontent.com/53076890/167971172-e1d184dc-687f-4921-83d5-7a3a19fdb259.png)

$ sudo iptables -A CNI-FORWARD -p udp -m udp --dport 8999 -j ACCEPT
use above command，another machine also print "Connection timed out"

[2022-05-12 01:30] AkihiroSuda opened #1054 "logging: ensure that MagicArgv1 is always argv1"
_Originally posted by @AkihiroSuda in https://github.com/containerd/nerdctl/pull/959#discussion_r870874366_

[2022-05-12 17:51] ondrej-smola opened #1058 "cp should also work on created containers"
### What is the problem you're trying to solve

Improve feature compatibility with podman and docker

### Describe the solution you'd like

Allow cp command to work with created containers, not just running.

### Additional context

We are using containers that cannot be easily run to just copy data from inside.

[2022-05-13 07:47] #1054 closed

[2022-05-16 15:35] MaxMcAdam commented on #703
I am going to work on this issue

[2022-05-19 10:31] developer-guy commented on #669
kinly ping @AkihiroSuda @Dentrax

[2022-05-19 10:35] AkihiroSuda commented on #669
Probably the CLI and the output format should be compatible with https://github.com/docker/sbom-cli-plugin

[2022-05-19 10:36] developer-guy commented on #669
it will be because they use Syft too under the hood

[2022-05-19 15:48] Lorioux opened #1068 "Fail to create container on Windows 11"
### Description

I'm installed **Containerd** and **nerdctl** on my Windows machine, pulled google/cloud-sdk using nerdctl. So, when I try to run google/cloud-sdk container using **nerdctl** and **containerd**, the following error is showing up:

`time="2022-05-19T16:34:14+01:00" level=info msg="apply failure, attempting cleanup" error="failed to extract layer sha256:f70b727d55c3bf3e37ab16d9d40bc5

[2022-05-19 17:03] fahedouch commented on #1039
@Zheaoli FYI I start working on `local` driver.

[2022-05-20 20:50] davebarkerxyz opened #1071 "Running `nerdctl compose up` immediately exists with "no such file or directory" on -json.log file"
### Description

Running `nerdctl compose up` (without the `-d` detach flag) immediately exits with an error that the container *-json.log* file does not exist.

Running `nerdctl compose up -d; sleep 2; nerdctl compose logs -f` works; the containers are created and the log files exist and are tailed to stdout.

This behaviour occurs with both v0.20.0 (as installed by Lima) and current master (ddad

[2022-05-21 12:05] t40mas opened #1072 "nerdctl run squashes --add-host entries with the same ip"
### Description

If i run `nerdctl run -p 9151:80 --add-host test:1.1.1.1 --add-host test2:1.1.1.1 nginx`
only the last entry of --add-host is in the /etc/hosts.
Tried it with different images, always same result.

### Steps to reproduce the issue

1. `nerdctl run -p 9151:80 --name nginx --add-host test:1.1.1.1 --add-host test2:1.1.1.1 nginx`
2. `nerd exec -it nginx sh`
3. tail /etc/hosts
4. Resul

[2022-05-22 05:00] yqlbu opened #1074 "[Compose]"
### Description

Hi, I am experiencing an issue where I defined the `restart=always` param in the `docker-compose.yml`, but the container does not spin up at boot.

### Steps to reproduce the issue

1. Prepare a docker-compose.yml for the container

[code]

2. Run `nerdctl compose up -d` to spin up the container

### Describe the results you received and expected

The container is able to spin up

[2022-05-22 05:14] mptm436 commented on #1074
I experienced the similar issue

[2022-05-23 01:41] AkihiroSuda commented on #1074
Is this issue about rootless or rootful?

For rootless you might need `sudo loginctl enable-linger $(whoami)` to run the containerd daemon (which restarts the contaienrs) on the host start-up: https://rootlesscontaine.rs/getting-started/common/login/

[2022-05-23 02:14] yqlbu commented on #1074
I am running it in `rootful` mode

[2022-05-23 13:37] fahedouch commented on #1071
we should merge this https://github.com/containerd/nerdctl/pull/1062/files than I will  push a fix for this issue.
I will take care of it @davebarkerxyz  ;)

[2022-05-23 13:55] samgranieri commented on #1071
This is impacting me. Thank you @fahedouch for taking care of this

[2022-05-23 14:40] davebarkerxyz commented on #1071
Thanks @fahedouch - much appreciated! If you need me to test your fix then please let me know and I'd be happy to help.

[2022-05-23 17:47] Zheaoli commented on #1039
SGTM

[2022-05-23 17:58] AkihiroSuda commented on #1039
I think the AWS CloudWatch driver should be implemented as a third party plugin that can be called with --log-driver binary://foo

[2022-05-23 18:33] Zheaoli commented on #1039
SGTM, I think I can make a design proposal

[2022-05-24 06:46] AkihiroSuda opened #1077 "logging: `json-file` filenames are incompatible with Docker"
Docker:
[code]

nerdctl:
[code]

[2022-05-24 06:46] AkihiroSuda commented on #1077
cc @fahedouch

[2022-05-24 19:32] developer-guy commented on #669
There are two ways of developing this feature. The first is executing the Syft binary as we did while implementing the signing feature by performing the cosign binary. The latter depends on Syft packages by adding it to the go.mod file. Syft binary is about 60MB in size, btw.

[2022-05-25 09:17] joaopfg commented on #654
@AkihiroSuda  Why encryption does not affect local images ? In my use case, I need to protect my local images from access by other people that use the same computer later. So I would need that encryption affects local images. I would like to try a PR myself to support it since I need it a bit urgently. Could you kindly indicates me in what place of the source code this feature would fit better, pl

[2022-05-25 10:13] AkihiroSuda commented on #654
"does not affect local images" was slightly incorrect; local image blobs are affected but already-unpacked local image snapshots are not affected.

I'd rather suggest to use rootless mode for hiding your local images from other users on the same host.

[2022-05-26 07:03] AbleHou commented on #1051
solution:
plugin: https://github.com/containernetworking/plugins/releases/tag/v1.1.1
nerdctl: nerdctl version 0.20.0

[2022-05-26 07:03] #1051 closed

[2022-05-30 15:47] daogilvie commented on #499
Just leaving a comment here to say this solution worked for me, but I had to hunt around for the name file as it wasn't in the path given above. I ended up finding it in `~/.local/share/nerdctl/1935db59/names/default/`

[2022-05-31 16:28] afbjorklund opened #1082 "Show buildkit version as a component in nerdctl version"
### What is the problem you're trying to solve

Currently the version of containerd is shown, but not the version of buildkit.

[code]

### Describe the solution you'd like

I would like to see the buildkit version, where available (not everywhere)

[code]

### Additional context

It seems like nerdctl is currently showing the client version of containerd ?

`ctr version` (output matches the Clien

[2022-06-01 04:41] Kitanotori opened #1084 "Proposition: Support a more open Containerfile in addition to Dockerfile"
### What is the problem you're trying to solve

`nerdctl build` expects **Dockerfile** by default and ignores **Containerfile**.

### Describe the solution you'd like

As Dockerfile has evolved from a Docker-specific technology to a general purpose container image build format, it would be appropriate to also support more general naming, like e.g. [buildah](https://github.com/containers/buildah/is

[2022-06-02 13:18] elegorod commented on #665
Also have same issue on Windows.

[2022-06-02 16:42] #1072 closed

[2022-06-02 21:20] aleksey005 opened #1087 "Error run nerdctl Windows 11"
### Description

I use example https://docs.rancherdesktop.io/how-to-guides/hello-world-example

### Steps to reproduce the issue

1. $ nerdctl build --tag helloworld:v1.0 .

### Describe the results you received and expected

 MINGW64 ~/hello-world

time="2022-06-02T21:04:40Z" level=error msg="`buildctl` needs to be installed and `buildkitd` needs to be running, see https://github.com/moby/buildk

[2022-06-03 03:45] AkihiroSuda commented on #1087
Please report to https://github.com/rancher-sandbox/rancher-desktop/issues

[2022-06-03 03:45] #1087 closed

[2022-06-03 04:38] aleksey005 commented on #1087
ok, thank you.

[2022-06-05 16:01] beirtipol opened #1089 "nerdctl push still stuck in "waiting" on version 0.19"
### Description

New installation of rancherdesktop on Windows10. Have logged in successfully to my docker.io repository but when I attempt to push an image, the config-* is pushed immediately but the manifest-* never gets pushed.

[code]

I can see this is described as fixed in 0.17: https://github.com/containerd/nerdctl/issues/804

The version installed by rancher desktop is 0.19
[code]

### Ste

[2022-06-05 17:01] beirtipol commented on #1089
Switching the runtime of rancher desktop from containerd to dockerd and using 'docker push' works as expected so the issue only seems to affect nerdctl

[2022-06-06 04:27] veleek commented on #499
Has anybody running on Windows been able to figure this out?  I've dug around in `C:\users\<user>\AppData\Local` for something that looked similar but couldn't find anything and I'm still seeing this even after uninstalling and reinstalling.

[2022-06-06 05:08] veleek commented on #499
Was able to figure this out on my own.  You can fix this by launching the rancher desktop WSL instance (`wsl -d rancher-desktop`) and THEN browsing to the path @AkihiroSuda specified.

[code]

It might also be worthwhile to remove the associated container in

[code]

[2022-06-06 09:06] teksuo commented on #792
Hi, I'm facing this exact same problem with a private Gitlab registry. Docker also works without a problem for same user/pass.

Currently using  Rancher Desktop 1.3.0 and nerdctl 0.19.0

`nerdctl login --debug` output:

`DEBU[0000] Ignoring hosts dir "/etc/containerd/certs.d"  error="stat /etc/containerd/certs.d: no such file or directory"
DEBU[0000] Ignoring hosts dir "/etc/docker/certs.d"      e

[2022-06-06 11:57] obeone opened #1091 "Change default bridge subnet with containerd runtime"
### Description

The default bridge subnet is 10.4.0.0/24, and it's a big problem for me : I already use this subnet... I can't find how to change it

### Steps to reproduce the issue

1. Just start containerd

### Describe the results you received and expected

No possibility found to edit the default bridge subnet

### What version of nerdctl are you using?

Client:
 Version:	v0.20.0
 OS/Arch:	l

[2022-06-06 19:16] developer-guy commented on #669
Kindly ping @AkihiroSuda

[2022-06-06 21:19] joaopfg opened #1094 "Can't push an encrypted image to docker hub private repository"
### Description

I can push a non-encrypted image without problems to my private repository on docker hub. However, when trying to push an encrypted image (encrypted using nerdctl's encrypt command), it does not work.

### Steps to reproduce the issue

For example, consider an image generated by the following very simple Dockerfile:

`FROM python:3.9`

[code]

### Describe the results you received

[2022-06-07 00:35] AkihiroSuda commented on #669
Executing a separate syft binary is preferable

[2022-06-07 00:38] AkihiroSuda commented on #1094
This might be an issue of Docker Hub?
Can you push the encrypted image to other registries such as GHCR?

[2022-06-07 07:23] joaopfg commented on #1094
It works with GHCR, thanks for answer.

About the non-support for docker hub, I'm a bit confused. Shouldn't be up to nerdctl to adapt to docker hub's API instead of docker hub's API to adapt to nerdctl ? Do you have an idea about where the problem appears in the source code ? I can try to give a look.

[2022-06-07 07:42] AkihiroSuda commented on #1094
s/nerdctl/ocicrypt/, and Docker Hub should support OCIcrypt media types

It is likely that Docker Hub does not support non-Docker media types, but their source code is not open AFAICS

[2022-06-07 07:42] #1094 closed

[2022-06-07 07:58] AkihiroSuda opened #1100 "`--runtime=io.containerd.kata.v2 -v /foo:/mnt:ro`: `failed to create shim task: ENOENT: No such file or directory: unknown`"
ctr can create a bind mount for kata:
[code]

But nerdctl cannot:
[code]

daemon logs:
[code]

containerd: 1.6.6
nerdctl: b702a256a1653ea87d6328dcb92a9e72fdf8b8aa
kata: 2.5.0-alpha1

[2022-06-07 08:01] AkihiroSuda commented on #1089
Is this specific to Rancher Desktop (for Windows)?
Does it work on a native Linux machine?

[2022-06-07 09:41] joaopfg opened #1101 "Image encryption feature seems to not be encrypting anything"
### Description

I'm trying to use the image encryption feature of nerdctl with GHCR. I can encrypt the image, push it to the registry and pull the image back to my computer without problems. However, the pulled image seems to not have any difference when compared to the non-encrypted image. I'm not sure if it's a bug in nerdctl or my bad understanding of what image encryption is all about. Most p

[2022-06-07 10:29] fahedouch commented on #1084
We are using buildkitd under the hood to build docker image so this should be addressed to buildkit before https://github.com/moby/buildkit

[2022-06-07 10:31] fahedouch commented on #1074
cc @junnplus

[2022-06-07 15:32] joaopfg opened #1102 "nerdctl compose up command doesn't work with my docker-compose.yml"
### Description

I built my images successfully using `nerdctl compose build` command. However, at the moment of launching the containers using `nerdctl compose up` command, I get an error.

### Steps to reproduce the issue

My `docker-compose.yml` is more complex than the one I put here but in order to reproduce the issue, this one is enough (it doesn't cause any problems when launching with `doc

[2022-06-07 20:44] beirtipol commented on #1089
Yes, specific to rancher desktop for windows. I've not tested on native linux

[2022-06-08 03:50] theodiem opened #1103 "Supply container hostname in CNI_ARGS"
### What is the problem you're trying to solve

When running containers with `ipam: { "type": "dhcp" }`   , the dhcp request have a empty hostname.
Makes life painful when using dhcp to find out on DHCP server side which container have that lease.

### Describe the solution you'd like

the "dhcp" type already have a mechanism to send information in the DHCP request:

(https://www.cni.dev/plugins/c

[2022-06-08 04:31] Kitanotori commented on #1084
I don't think buildkit makes assumptions regarding name of the file, so the necessary change is only at nerdctl side.

[2022-06-08 06:31] reich80 opened #1104 "The option --oom-kill-disable not supported by nerdctl"
The oom-kill-disable not supported by nerdctl which is very import in practice.

[root@Cc6Apc ~]#
[root@Cc6Apc ~]#
[root@Cc6Apc ~]# nerdctl run -it --privileged --oom-kill-disable registry.servicemgr.apc:5000/gatk3 ls /
FATA[0000] unknown flag: --oom-kill-disable
[root@Cc6Apc ~]#
[root@Cc6Apc ~]#

[2022-06-08 06:35] reich80 opened #1105 "The argument --memory-swap not supported in nerdctl run"
### What is the problem you're trying to solve

The --memory-swap is useful in practice but not supported by nerdctl run.

[root@Cc6Apc ~]#
[root@Cc6Apc ~]# nerdctl run -it --privileged --memory-swap=4096000 registry.servicemgr.apc:5000/gatk3 ls /
FATA[0000] unknown flag: --memory-swap
[root@Cc6Apc ~]#
[root@Cc6Apc ~]#

### Describe the solution you'd like

support it and be compatible with docker

[2022-06-08 07:48] AkihiroSuda commented on #1071
@fahedouch Do you have a plant to open a PR?

[2022-06-08 07:49] AkihiroSuda commented on #1102
Duplicate of
- https://github.com/containerd/nerdctl/issues/1071

Workaround (thanks to @davebarkerxyz): `nerdctl compose up -d; sleep 2; nerdctl compose logs -f`

[2022-06-08 07:49] #1102 closed

[2022-06-08 07:50] AkihiroSuda commented on #1100
Duplicate of
- https://github.com/containerd/nerdctl/issues/369

[2022-06-08 07:50] #1100 closed

[2022-06-08 07:53] AkihiroSuda commented on #149
We will eventually use `Dockerfile.pin`
- https://github.com/moby/buildkit/pull/2816

[2022-06-08 07:53] #149 closed

[2022-06-08 08:04] fahedouch commented on #1071
@AkihiroSuda  Yes, I looked at this yesterday, I made a fix ASAP!

[2022-06-08 08:56] Gsealy commented on #1101
not encrypt config json, used same config json, config's diffId and sha256 are same. you can check manifest which `layers.annotations` contains `org.opencontainers.image.enc.keys.[type]`

[2022-06-08 09:24] AkihiroSuda commented on #1101
I don't see an issue.

Decryption is done on unpacking time.
Since you specified `--unpack=false`, nothing is decrypted here.

Expected behavior, because metadata such as `Config.Env` are out of the scope of the encryption, and layer IDs are unchanged after the encryption.

If you did encryption and decryption on the same host, it is likely that you have an unencrypted snapshot that was made befor

[2022-06-08 09:24] joaopfg opened #1106 "Request for command nerdctl system prune --volumes"
### What is the problem you're trying to solve

Remove all dangling volumes

### Describe the solution you'd like

`sudo nerdctl system prune --volumes` removing all dangling volumes.

### Additional context

docker CLI uses the `system prune --volumes` command to remove all dangling volumes. How to do that in nerdctl while this command is not yet available ?

[2022-06-08 09:25] Gsealy commented on #1101
each pulled image's manifest are different? enc image manifest include key wrap and mac info, which saved in `layers.annotations`, like:

[code]

[2022-06-08 09:27] AkihiroSuda commented on #1101
To confirm that the tgz layer blobs are actually encrypted:

[code]

[2022-06-08 10:31] joaopfg commented on #1101
Thanks, @AkihiroSuda . I confirm that when I remove the intermediate snapshots, the encryption does work in the sense that I can't launch a container originated from an encrypted image. So, is it the meaning of image encryption ?

However, what I really need is that a user can't access the terminal of a running container without authenticating (maybe with a password). Is that possible somehow thro

[2022-06-08 11:30] AkihiroSuda commented on #1101
Yes

No. Kubernetes RBAC might be the right choice for you.

[2022-06-08 11:30] #1101 closed

[2022-06-09 10:41] nsiepmann commented on #1071
Using the workaround above doesn't seem to fix it for me. I have a compose file with three containers. Two of them start as expected, but one fails with this error message and exits:

[code]

Take note that I'm running nerdctl bundled with Rancher Desktop.

[2022-06-09 12:52] davebarkerxyz commented on #1071
@nsiepmann I've managed to use the workaround with mutli-container compose files, but I suspect it's highly dependent on timing (how quickly the container starts). You could try increasing the sleep to see if that helps until a fix is available, e.g. `nerdctl compose up -d; sleep 10; nerdctl compose logs -f`

[2022-06-10 03:10] Kitanotori opened #1117 "--output argument doesn't work as expected"
### Description

**Problem 1: `--tag` overrides `name`**

Example 1: `nerdctl build -t $TAG1 --output type=image,name=$TAG2,push=true .`
Expected behavior: $TAG1 either ignored or error raised due to passing two tags, i.e. same as if two `-t` args passed (the latter would be more consistent with existing existing logic).

Example 2: `docker build -t $TAG1 -t $TAG2 --output type=image,name=$TAG3,pu

[2022-06-10 03:45] ningmingxiao commented on #1104
fix in https://github.com/containerd/nerdctl/pull/1111

[2022-06-10 03:47] ningmingxiao commented on #1105
will fix in https://github.com/containerd/nerdctl/issues/1105

[2022-06-10 04:29] Kitanotori commented on #1117
Example of Buildkit `--output` values:

1. `nerdctl build -t $TAG` => `--output=type=docker,name=$TAG` => result OK

2. `nerdctl build -t $TAG1 --output=type=docker,name=$TAG2` => `--output=type=docker,name=$TAG1,name=$TAG2` (*tag appended) => `error: invalid output option: output: output file is required for docker exporter. refusing to write to console`

3. `nerdctl build --output=type=docker,na

[2022-06-10 05:35] #1104 closed

[2022-06-12 06:26] #1105 closed

[2022-06-12 07:02] #868 closed

[2022-06-13 01:21] Citrullin opened #1123 "copying of parent failed: unsupported mode prw-r--r--"
### Description

When I try to pull an imagine, I get the error
[code]
For example by using the following command:
`nerdctl pull docker.io/weaveworks/weave-npc:2.8.1`

### Steps to reproduce the issue

1.
2.
3.
I really have no clue how. It's a software RAID on Ubuntu.

### Describe the results you received and expected

A fatal error. Expected would be a successfully downloaded image.

### What v

[2022-06-13 08:48] junnplus commented on #1103
Yes, the DHCP option is not supported now, a simple way is that you can directly modify the CNI config file in `/etc/cni/net.d/`.

[2022-06-13 12:24] AkihiroSuda commented on #1123
I can repro this, but only with the `native` snapshotter.

[code]

Could you try the `overlayfs` snapshotter?

[code]

Needs `/var/lib` to be either ext4 or XFS.

[2022-06-13 20:43] Dentrax commented on #669
If we maintain separate syft executable internally, I think it would be better to start related flags with `--syft-` prefix.

[code]

User may want to either attach SBOM directly to upstream or export the local disk. All flags are optional.

Cross ref: https://github.com/anchore/syft/issues/592

cc @developer-guy @luhring

[2022-06-13 20:47] developer-guy commented on #669
Syft is also capable of attaching an SBOM result[^1] in the form of in-toto attestations[^2] with its new command called `attest`[^3], and this command also signs the SBOM result and then uploads it to the transparency log. We might also prefer to support this behavior.

[^1]: https://anchore.com/sbom/creating-sbom-attestations-using-syft-and-sigstore/
[^2]: https://github.com/in-toto/attestation

[2022-06-14 15:14] elgalu opened #1125 "non-privileged run nerdctl inside Docker"
### What is the problem you're trying to solve

Currently `--privileged` is needed to run nerdctl inside Docker
https://github.com/containerd/nerdctl/blob/9033fb9a17add2029fa9fda0f796abe1d9c7a677/README.md?plain=1#L138-L142

### Describe the solution you'd like

To be able to run nerdctl inside a K8s pod without privileged access.

### Additional context

_No response_

[2022-06-14 15:23] Zheaoli commented on #1125
For now, the description in README.md (** To run containerd and nerdctl inside Docker** ) just represents that the containerd service needs `privileged` (You can see the Dockerfile). The `--privileged` is not needed for the nerdctl binary.

So if you want to run nerdctl binary in the K8S pod, just make sure that the binary can access the containerd's Unix socket.

[2022-06-14 17:03] Cerebus commented on #206
Yes, and yes it is, but still getting this error.

nerdctl version 0.20.0

[2022-06-14 17:13] Cerebus commented on #206
Oh, nevermind.  The problem was between the keyboard and the chair.

[2022-06-15 06:18] AkihiroSuda commented on #1125
No, it will not work as expected because nerdctl and containerd have to share the same filesystem.
And yet exposing the socket equates to `--privileged` as you can create a privileged container.

[2022-06-15 06:18] AkihiroSuda commented on #1125
Probably we can follow the design of diuid although extremely slow https://github.com/weber-software/diuid

[2022-06-15 06:22] AkihiroSuda opened #1127 "Flaky test: TestRunAddHost"
[code]

[2022-06-15 11:45] omegazeng commented on #1051
[code]
issue is not resolved yet
@AbleHou What version of containerd are you using?

[2022-06-15 12:02] junnplus commented on #1051
@omegazeng Default cni path is `/usr/lib/cni`, using `nerdctl --cni-path=/opt/cni/bin` change it .

[2022-06-15 12:10] omegazeng commented on #1051
It works! Thx.

[2022-06-16 00:08] jiangxiaobai opened #1130 "build image without buildkit"
### What is the problem you're trying to solve

build image without buildkit

### Describe the solution you'd like

build image without buildkit

### Additional context

_No response_

[2022-06-16 10:06] junnplus commented on #1130
Why?

[2022-06-16 10:20] #1130 closed

[2022-06-16 15:43] kcsraju commented on #892
Even `nerdclt rm -f ` hangs for ever too occasionally.

[code]

we are using nerdctl v0.11.1 and container v.1.5.1. For product delivery reasons we cannot update to newer nerdctl right away. And this problem only happens occasionally. Like twice in the last month or so and we don't have a consistent way to reproduce the issue.

@AkihiroSuda  we would appreciate any insights you could provide that

[2022-06-17 15:01] AkihiroSuda opened #1133 "[Low hanging fruit] Fix stylecheck errors"
[code]

https://github.com/containerd/nerdctl/blob/a7fdf67869d00b3ffeaa86dd70237bad9a228a25/.golangci.yml#L59

[2022-06-17 15:04] AkihiroSuda opened #1134 "[Low hanging fruit] Fix gosimple errors"
[code]
https://github.com/containerd/nerdctl/blob/a7fdf67869d00b3ffeaa86dd70237bad9a228a25/.golangci.yml#L47

[2022-06-17 19:48] ryand67 commented on #1133
Hey, I'm more than willing to get this done!

[2022-06-17 23:50] manugupt1 opened #1138 "nerdctl load gets stuck on empty stdin"
### Description

When running nerdctl load gets an empty stdin, it gets stuck.
This adds a validation letting the user immediately know that
stdin is empty and input flag is not specified.

### Steps to reproduce the issue

1. nerdctl load

### Describe the results you received and expected

Expected to fail

### What version of nerdctl are you using?

on master.

### Are you using a variant of ne

[2022-06-18 03:34] #1071 closed

[2022-06-18 03:39] manugupt1 commented on #1127
This seems very specific to the CI.

I can see the failures in https://github.com/containerd/nerdctl/pull/1137

I can't reproduce in either ubuntu (GNOME boxes) / fedora 36 even after 100 runs.

This is the command that I used.

[code]

[2022-06-18 04:02] AkihiroSuda commented on #1127
The test expects `nerdctl run --rm --add-host test:10.0.0.1 --add-host test1:10.0.0.1 alpine cat /etc/hosts`  to generate a file like this
[code]

But occasionally the two lines for `10.0.0.1` are merged into ` 10.0.0.1        test1 test` (seems legit, but should not happen occasionally)

[2022-06-18 04:11] AkihiroSuda commented on #1127
Looks like the localhost lines are written twice in the failed case, so something seems calling the hosts updater twice

[2022-06-18 05:14] #1138 closed

[2022-06-18 12:36] #1127 closed

[2022-06-18 16:46] AkihiroSuda commented on #1071
Fixed in nerdctl v0.21.0
https://github.com/containerd/nerdctl/releases/tag/v0.21.0

[2022-06-19 12:53] alfclement opened #1143 "[Rancher Desktop for Windows] nerdctl cp does not work"
### Description

unable to copy file in or out of running container

### Steps to reproduce the issue

A running container:

$ nerdctl ps
CONTAINER ID    IMAGE                                 COMMAND      CREATED
  STATUS    PORTS    NAMES
f7b464d19902    docker.io/library/vlang_web:latest    "/bin/sh"    4 hours ago
  Up                 vlang_web-f7b46

Ls into the container:
$ nerdctl exec f7b46

[2022-06-20 03:24] charmingdog opened #1144 "nerdctl compose file map multiple ports"
### What is the problem you're trying to solve

when compose.yml file include follows code will get error:
[code]

![image](https://user-images.githubusercontent.com/20454889/174519248-22b148a0-fdd7-4f8d-9dab-b14b71b7331f.png)

and this operation will cause ```~/.local/share/nerdctl/1935db59/names/default/flit-accessor ``` file ,which will cause the container to fail to be created later
![image](h

[2022-06-20 08:07] Bevisy opened #1145 "container create failed and error message is "FATA[0000] open /run/systemd/resolve/resolv.conf: no such file or directory""
### Description

The container creation failed, reporting the following error:
[code]

### Steps to reproduce the issue

1. The host close systemd-resolved service, so file /run/systemd/resolve/resolv.conf doesn't exist.
[code]
2. use nerdctl to create container
[code]

### Describe the results you received and expected

The host has file /etc/resolv.conf, so I Think creating shouldn't be failed.

[2022-06-20 08:16] fahedouch commented on #1143
We are not supporting windows for cp command, how rancher can invoke this on windows platform :/ !?

[2022-06-20 08:29] alfclement commented on #1143
With cygwin or in a cmd prompt?!
I am using all nerdctl via cygwin under Windows. cp command should work to copy files in and out.

[2022-06-20 08:57] fahedouch commented on #1144
to unblock the situation you can remove `rm  /var/lib/nerdctl/1935db59/names/default/flit-accessor`

[2022-06-21 05:27] AkihiroSuda commented on #1145
What daemon is serving 127.0.0.53 ?

[2022-06-21 06:31] charmingdog opened #1149 "All services use the same network(external) but some service can't find the correct address of another address"
### Description

```~/.local/share/nerdctl/1935db59/etchosts/default/b3571ed508bb30a1598eb9f782ff49d134bccbe500dcbf34ef15bfd41641a743/hosts``` have multiple lines of the same service

![image](https://user-images.githubusercontent.com/20454889/174731091-56914ae0-8dff-4b9b-bcfe-8aaede267948.png)

and dns results for different services are different which cause ping error （The service can not use th

[2022-06-21 08:37] Bevisy commented on #1145
I use coredns to listen 0.0.0.0:53.

[2022-06-21 13:18] Zheaoli commented on #1149
Hello, would you mind to give us the compose file you use to reproduce this issue?

[2022-06-21 18:39] johnklehm opened #1152 "docker compose compatibility - use current shell env for variable substitution in docker-compose.yaml"
### Description

docker compose will do env var substitutions based on the current shell env.  To ensure compatibility we need to allow this behavior in nerdctl as well.

### Steps to reproduce the issue

1. Have an env var set in your current shell env.
2. Reference this env var name in your docker-compose.yaml file
3. Run nerdctl up and you'll see the env var is not substituted

### Describe the

[2022-06-21 18:44] johnklehm opened #1154 "Allow default platform to be specified with NERDCTL_DEFAULT_PLATFORM / DOCKER_DEFAULT_PLATFORM"
### What is the problem you're trying to solve

I want to run x86 containers on macOS aarm64.   Im faced with setting `platform: linux/amd64` in all my compose files and passing `--platform x86_64` on all my command line invocations.   It'd be nice to set this in an env var in my profile or in a config file (probably the option for either is nice).

### Describe the solution you'd like

docker sup

[2022-06-21 18:58] AkihiroSuda commented on #1154
I guess we should extend https://github.com/containerd/nerdctl/blob/master/docs/config.md to support specifying the default `nerdctl run` template and the `nerdctl build` template

[2022-06-22 01:41] charmingdog commented on #1149
1. create network
   ```network  create  --subnet 10.5.2.0/24 --gateway 10.5.2.1 test```

2. create redis-1.yml and redis-2.yml

   - redis-1.yml

[code]

   - redis-2.yml

[code]

3.  start redis-1

[code]

4. start redis-2 multiple

[code]

5. ping on redis-1

[code]

![image](https://user-images.githubusercontent.com/20454889/174924918-5c9a9bf7-a686-4759-ae6c-327361764f3d.png)

6. check

[code]

[2022-06-22 08:35] ArVar commented on #206
I have a very similar issue:
` => [internal] load build definition from Dockerfile                                                              0.0s
 => => transferring dockerfile: 2B                                                                                0.0s
 => [internal] load .dockerignore                                                                                 0.0s
 => => transf

[2022-06-22 08:44] Zheaoli commented on #1154
I think this is making sense

How about this?

[code]

I think to exposure `network` and `platform` filed maybe is enough for now.

[2022-06-22 13:20] Zheaoli commented on #1149
I have reproduced this issue.  It seems like DNS resolver resolve the `redis-2` target as the first redis-2 container's address

[2022-06-23 00:40] charmingdog commented on #1149
It seems like every time execute ```nerdctl compose -f redis-2 down```  the DNS record about redis-2 have not be cleanded

[2022-06-23 10:31] marius-lupu opened #1158 "containerd.sock not found when trying to use a kubeadm command"
### Description

I installed containerd in rootless mode as described [here](https://github.com/containerd/nerdctl/blob/master/docs/rootless.md#daemon-containerd).
Unfortunately, when I try to run the following command:
`kubeadm config images pull`
It throws the following error:
[code]

Indeed I don't have that file although I can use contained with nerdctl.

### Steps to reproduce the issue

1. F

[2022-06-23 15:58] junnplus commented on #1158
You installed rootless containerd, but `kubeadm config images pull` needs rootful containerd.

[2022-06-23 19:09] fahedouch commented on #1143
@alfclement are you using rootfull or rooltless mode ?
Does this path exist on the host /proc/12486/root/opt/vlang/v ?

Looks like ir related to permission regarding virtual fs /proc

[2022-06-25 09:20] junnplus commented on #759
Looks like containerd/containerd#6589 fixed by containerd v1.6.6 (PR https://github.com/containerd/containerd/pull/6651)

[2022-06-25 12:37] prom3theu5 commented on #1089
Same here - nerdctl version 0.19 bundled with rancher-desktop just shows waiting on image pushes, with the transfer rate showing bytes (less than 1kb)

However - the image does push if you leave it

[2022-06-26 12:12] junnplus commented on #1145
If `/etc/resolv.conf` contains `127.0.0.53` as the only nameserver, will use `/run/systemd/resolve/resolv.conf`, see https://github.com/containerd/nerdctl/blob/master/pkg/resolvconf/resolvconf.go#L60-L70

[2022-06-27 18:05] tigerinus opened #1166 ""invalid reference format" when trying to pull from AWS ECR after successfully login"
### Description

Getting "invalid reference format" when trying to pull from AWS ECR after successfully login

### Steps to reproduce the issue

[code]

### Describe the results you received and expected

[code]

expected successful pulling

### What version of nerdctl are you using?

[code]

### Are you using a variant of nerdctl? (e.g., Rancher Desktop)

_No response_

### Host information

[cod

[2022-06-28 00:28] #1117 closed

[2022-06-28 00:39] AkihiroSuda commented on #1166
Is `$VERSION` set?

[2022-06-28 01:39] tigerinus commented on #1166
Yes, it is set. My bad I didn't include it in the description.

[2022-06-28 01:42] tigerinus commented on #1166
Actually you are right - this is a human mistake. My bad.

With `VERSION` set, it pulls the image fine.

[2022-06-28 01:42] #1166 closed

[2022-06-28 06:06] #1133 closed

[2022-06-28 06:27] Bevisy commented on #1145
Got it. But it seems like a sloppy solution, at least to determine if systemd-resolved exists, for example, if I use coredns instead of systemd-resolved, I can't get nerdctl to be used here.

[2022-06-28 07:58] junnplus commented on #1145
Looks like we should have a DNS as default if resovconf is not found.

[2022-06-28 11:08] #1145 closed

[2022-06-28 12:33] #915 closed

[2022-06-28 12:51] junnplus commented on #499
Maybe fix by https://github.com/containerd/nerdctl/pull/1151

[2022-06-29 08:28] #555 closed

[2022-06-29 09:14] junnplus commented on #827
I closed it because containerd v1.4.x reached EOL.

Feel free to open it up if you have any other questions.

[2022-06-29 10:58] hwdef opened #1175 "Add static check bot"
### What is the problem you're trying to solve

I found some static check errors in code.

[code]

### Describe the solution you'd like

We don't have much code at the moment and I think we should enable staticcheck bots now to prevent more problems like this.

### Additional context

_No response_

[2022-06-29 13:18] ensonic opened #1176 "nerdctl ps lacks "-s" / "--size" option"
### Description

[code]
This in particular shows containers that write to their ephemeral layer. This option is missing in nerdctl (0.21.0).

### Steps to reproduce the issue

1. nerdctl ps --help | grep size

### Describe the results you received and expected

Support for the flag, but is is missing.

### What version of nerdctl are you using?

0.21.0

### Are you using a variant of nerdctl? (e.g

[2022-06-30 01:38] liubin commented on #1176
@AkihiroSuda @junnplus I'd like to add this feature, can you assign this to me?

[2022-06-30 04:21] manugupt1 commented on #1175
Can this be assigned to me?
Thanks

[2022-07-01 07:07] YangKian commented on #1154
Hi @AkihiroSuda @Zheaoli , I‘d like to have a try, can you assign this to me?

[2022-07-01 07:09] Zheaoli commented on #1154
Of course

[2022-07-01 10:59] #1134 closed

[2022-07-03 01:47] #1175 closed

[2022-07-03 19:07] Naoero commented on #1087
Same here!

[2022-07-04 01:05] AkihiroSuda commented on #1087
@Naoero Please report to Rancher Desktop
https://github.com/rancher-sandbox/rancher-desktop/issues

[2022-07-04 11:46] james-work-account opened #1187 "FATA[0000] flag -d and --rm cannot be specified together"
### What is the problem you're trying to solve

When using colima, the command `docker run --rm -d --name mongo -p 27017:27017 mongo:latest` works fine. However I've been required to switch to nerdctl, and the command `lima nerdctl run --rm -d --name mongo -p 27017:27017 mongo:latest` outputs the error:

[code]

### Describe the solution you'd like

Ultimately, I would like to repeatedly be able t

[2022-07-05 07:16] liubin commented on #1187
If you are using a shell script, as a workaround, you can delete it first without waiting for nerdtcl to support these two options being specified together :

[code]

[2022-07-05 09:04] junnplus opened #1191 "FATA[0000] unrecognized image format (open /tmp/buildkit-mount3221730565/Dockerfile: no such file or directory)"
### Discussed in https://github.com/containerd/nerdctl/discussions/1190

<div type='discussions-op-text'>

<sup>Originally posted by **cmoulliard** July  5, 2022</sup>
I can build a project using `docker` but not at all when I execute the equivalent `nerdctl build` command within the same project

[code]

BUT using nerdctl that fails
[code]

[2022-07-05 09:07] junnplus commented on #1191
`nerdctl build -f ./packages/backend/Dockerfile -t backstage:dev .` is works,
but `nerdctl build -f Dockerfile -t backstage:dev ../..` doesn't work

[2022-07-05 10:25] cmoulliard commented on #1191
Super. Many thanks. That works - YES :-)

[code]

[2022-07-05 12:54] TianZong48 commented on #1187
Is it possible that support `-d` + `--rm` using Hook(https://github.com/opencontainers/runtime-spec/blob/main/specs-go/config.go#L153-L155)?  @AkihiroSuda  @junnplus
If so, can I try to implement this feature?   😄

[2022-07-05 16:22] bhy7 opened #1193 "Failed to pull image use proxy"
### Description

When nerdctl pulls the image through the proxy, It's mention

[code]

### Steps to reproduce the issue

1.Set environment variable:
[code]
2. run `nerdctl run hello-world`

### Describe the results you received and expected

Success pull image

### What version of nerdctl are you using?

nerdctl version 0.21.0

### Are you using a variant of nerdctl? (e.g., Rancher Desktop)

_No r

[2022-07-05 17:46] Zheaoli commented on #1193
the message in your description has some like this `proxyconnect tcp: dial tcp 127.0.0.1:7890: connect: connection refused `.
Maybe you need to double-check the proxy setting right or not

[2022-07-06 03:04] manugupt1 commented on #1084
Can I work on this?
Thanks

[2022-07-06 03:33] #1176 closed

[2022-07-06 03:35] AkihiroSuda commented on #1193
Rootless has different view of 127.0.0.1.
Please use non-loopback address or rootful

[2022-07-06 09:25] AkihiroSuda opened #1198 "`nerdctl stats` shows false CPU usage 15.33% even for `sleep infinity`"
### Description

`nerdctl stats` shows false CPU usage 15.33% even for `sleep infinity`

[code]

Docker shows 0%
[code]

### Steps to reproduce the issue

See above

### Describe the results you received and expected

See above

### What version of nerdctl are you using?

[code]

### Are you using a variant of nerdctl? (e.g., Rancher Desktop)

_No response_

### Host information

[code]

- - -
htt

[2022-07-06 09:31] fahedouch commented on #1198
@AkihiroSuda effectively I take this

[2022-07-06 09:49] AkihiroSuda opened #1200 "TestRunCgroupV1 is skipped on the cgroup v1 CI"
[code]

[test-integration (20.04, v1.6.6)](https://github.com/containerd/nerdctl/runs/7196840988?check_suite_focus=true#logs)

[2022-07-06 10:31] junnplus opened #1202 "held broken packages on ubuntu 22.04"
[code]

_Originally posted by @junnplus in https://github.com/containerd/nerdctl/issues/1199#issuecomment-1176022816_

[2022-07-06 10:38] junnplus commented on #1202
Failed to install dbus-user-session

[2022-07-06 16:06] #1202 closed

[2022-07-06 17:34] junnplus opened #1207 "container exit should terminate tail logs"
### Description

👇
### Steps to reproduce the issue

[code]

[code]

### Describe the results you received and expected

logs command no exit. it should be terminated when stopping the container.

### What version of nerdctl are you using?

master

### Are you using a variant of nerdctl? (e.g., Rancher Desktop)

_No response_

### Host information

_No response_

[2022-07-06 23:17] #1200 closed

[2022-07-07 04:02] #1191 closed

[2022-07-07 21:16] fahedouch commented on #1144
Fixed by https://github.com/containerd/nerdctl/pull/1151

[2022-07-07 21:16] #1144 closed

[2022-07-08 03:06] manugupt1 commented on #1084
Hi @Kitanotori

Why wont simplify providing `-f Containerfile` work?

When a user does not specify a file, should the behavior be to:
1. use Dockerfile only
2.use Containerfile Only?
3. look for Dockerfile first (if it is present use it); then  use Containerfile later?
4. look for Containerfile first(if it is present use); then use Dockerfile?
5. What should we do when both are present (in the wei

[2022-07-08 04:32] Kitanotori commented on #1084
@manugupt1 I'm not proposing removing Dockerfile; I'm proposing to support also Containerfile. Ideally first check Containerfile and if not found then Dockerfile. But the order doesn't really matter, as it is unlikely both exist at the same time.

[2022-07-09 00:05] #1106 closed

[2022-07-09 02:57] manugupt1 commented on #1084
Thanks!
I think we should keep Dockerfile as default and if it does not exist Containerfile should be checked for. THis is because moving from Dockerfile to Containerfile is a breaking change.

 @AkihiroSuda @fahedouch @junnplus can you tell me which approach would you prefer? thanks!

[2022-07-09 04:32] junnplus commented on #1084
SGTM

[2022-07-10 23:14] #1077 closed

[2022-07-10 23:16] #1207 closed

[2022-07-11 11:48] ankitdbst opened #1213 "nerdctl load taking 4x longer than ctr image import"
### Description

nerdctl load taking 4 times longer than ctr image import

### Steps to reproduce the issue

1. Run `time nerdctl load -i <image>.tar.gz`

I am running this via root user

### Describe the results you received and expected

[root@xxx docker]# time nerdctl -n=k8s.io load -i pause-amd64.tar.gz
unpacking docker.io/library/pause-amd64:3.1 (sha256:0968e31df05b727234888883ba43ccaa4ec7556

[2022-07-11 12:14] junnplus commented on #1213
[code]

Normal for me.

[2022-07-11 12:22] ankitdbst commented on #1213
Which k8s version and containerd version are you on?

On Mon, 11 Jul, 2022, 5:44 pm Jun, ***@***.***> wrote:

[2022-07-11 12:27] junnplus commented on #1213
I tested on both 1.6.6 and 1.5.11. not related with k8s version.

[2022-07-11 14:56] fuweid commented on #1213
[code]
@ankitdbst would you mind to confirm you are using the same image for the test?

The nerdctl unpacks the image with `sha256:0968e31df05b727234888883ba43ccaa4ec75566113c75065af5a6124b62d93c`.
But the ctr uses `sha256:dbd83f9b94c312efd98b95b09ced85479fbba3c3b2d05a5c3e09c9cfa4421ff6`.

So please make sure that you are using the same image and  you clean all the related layers or images before

[2022-07-11 16:57] fahedouch commented on #499
fixed by https://github.com/containerd/nerdctl/pull/1151

[2022-07-12 00:43] gaocegege commented on #798
Personally, I also vote for the issue. It makes nerdctl integrate with existing infra seamlessly.

[2022-07-12 03:03] junnplus commented on #1213
[code]

[code]

Compression or not doesn't seem to affect performance.

[2022-07-12 03:06] ankitdbst commented on #1213
Thanks Jun.

I will be retesting on a different machine / instance.

On Tue, 12 Jul, 2022, 8:33 am Jun, ***@***.***> wrote:

[2022-07-12 03:22] fuweid commented on #1213
The unpack ID is digest. If the content is the same, the result should be the same.

[2022-07-12 12:05] TianZong48 commented on #1018
Also see this happen:

https://github.com/containerd/nerdctl/runs/7300392623?check_suite_focus=true#step:6:839
[code]

https://github.com/containerd/nerdctl/runs/7300393595?check_suite_focus=true#step:5:915
[code]
seems all these cases happen when `exec` on a `-d` container,  might be `exec` before the container process start? @AkihiroSuda

[2022-07-12 16:49] afbjorklund commented on #798
I happy to promote my hack for further testing, main remaining issue was interactive "run"

Starting a container in the background is not so much of a problem, but starting a shell...

One needs to handle events,  and then there is the whole business of switching protocols

So it will **not** be a substitute for dockerd, but then again nerdctl is not for docker either ?

[2022-07-13 03:53] manugupt1 opened #1222 "TestRunWithJsonFileLogDriver is flaky"
### Description

=== PAUSE TestRunStdin
=== RUN   TestRunWithJsonFileLogDriver
    run_test.go:237: the maximum number of old log files to retain exceeded 2 files
--- FAIL: TestRunWithJsonFileLogDriver (3.42s)

https://github.com/containerd/nerdctl/runs/7312918520?check_suite_focus=true

### Steps to reproduce the issue

N/A

### Describe the results you received and expected

Test should pass.

#

[2022-07-13 07:54] AkihiroSuda commented on #1222
=== RUN   TestRunWithJsonFileLogDriver
    run_test.go:237: the maximum number of old log files to retain exceeded 2 files, got: [/var/lib/nerdctl/1935db59/containers/nerdctl-test/76fbdf10f050749b2d84e4bb136cc4c8f02dddeb302b30244e33cc2c61fe01f4/76fbdf10f050749b2d84e4bb136cc4c8f02dddeb302b30244e33cc2c61fe01f4-json.log /var/lib/nerdctl/1935db59/containers/nerdctl-test/76fbdf10f050749b2d84e4bb136cc4c

[2022-07-13 08:02] fahedouch commented on #1222
Looks like an issue with `go-logrotate` , I will take a look

[2022-07-13 08:04] AkihiroSuda commented on #1198
@fahedouch Thanks, did you find the cause of this issue?

[2022-07-13 14:04] ankitdbst commented on #1213
I wasn't able to repro this on a different instance. Will reach out if i can repro again.

Thanks @junnplus @fuweid!

[2022-07-13 14:04] #1213 closed

[2022-07-14 00:13] manugupt1 commented on #1222
In this case.
[code]
https://github.com/containerd/nerdctl/runs/7319449412?check_suite_focus=true

[2022-07-15 07:38] AkihiroSuda opened #1231 "Flaky test: TestExecWithDoubleDash (`expected "success\n", got ""`)"
[code]

https://github.com/containerd/nerdctl/runs/7353495895?check_suite_focus=true

https://github.com/containerd/nerdctl/blob/b89f0aa0b1701acb376b2706396b4df329f8dc1a/cmd/nerdctl/exec_test.go#L38-L49

Something seems wrong with the stdio pipes

[2022-07-15 07:46] kkbruce commented on #559
In the beginning, I installed it through [install-containerd-runtime.ps1](https://github.com/microsoft/Windows-Containers/blob/Main/helpful_tools/Install-ContainerdRuntime/install-containerd-runtime.ps1), because the specified SYMLINKD  [directory](https://github.com/microsoft/windows-container-networking/issues/70#issuecomment-1185231433) was missing, so the `--cni` of `ctr` could not be used.

A

[2022-07-15 08:14] lippertmarkus commented on #559
@kkbruce Networking support for Windows is not implemented yet in nerdctl. Currently networking only works with crictl and ctr.

[2022-07-15 08:59] kkbruce commented on #559
@lippertmarkus Thanks for your info. Let's take a look at crictl first, and we can only look forward to its implementation.

[2022-07-15 16:04] nicolasespiau commented on #1071
I'm running a Gitlab CI step with image `ghcr.io/containerd/nerdctl:v0.21.0` and I have a similar error:
[code]

But nothing about log files or sthing like that.

[2022-07-15 16:40] nicolasespiau opened #1234 "nerdctl compose fails, profile 'nerdctl-default' does not exist"
### Description

I'm developing a nodejs app suite with some microservices and an API.

In order to perform integration testing before any deployment, I have a step in my Gitlab CI that uses a docker-compose.yaml to spawn all these MS and API and launch some tests against the API.

All of this happens in a Kube cluster based on containerd, so I'm trying to use `nerdctl compose`.

When my CI steps

[2022-07-15 18:05] Zheaoli commented on #1234
Seems like you need to follow the following guideline to add AppArmor Profile for nerdctl

[code]

https://github.com/containerd/nerdctl#features-present-in-nerdctl-but-not-present-in-docker

[2022-07-15 23:45] manugupt1 commented on #1222
I got another failure:
https://github.com/manugupt1/nerdctl/runs/7366257926?check_suite_focus=true#step:5:695

Test summary: https://github.com/manugupt1/nerdctl/actions/runs/2679791706

[2022-07-16 01:32] junnplus commented on #1222
Doesn't seem to be fully fixed.
[code]

[2022-07-16 03:23] TianZong48 commented on #1149
I can reproduce this by simply doing `nerdctl run` @Zheaoli
[code]

[2022-07-16 05:42] junnplus commented on #681
Fixed by https://github.com/containerd/nerdctl/pull/1108

[2022-07-16 09:00] Hellboy94520 commented on #666
Any news about this 'stop' command implementation ? :)
Thank you !

[2022-07-16 12:49] Antiarchitect commented on #681
@junnplus Thank you for the great news!

[2022-07-16 12:49] #681 closed

[2022-07-16 14:12] fahedouch commented on #1222
OK I am investigating

[2022-07-16 14:17] #1198 closed

[2022-07-16 15:19] alfclement commented on #1143
It seems nerdctl looks on it's own host in /proc ... but maybe it needs to look in WSL2 in /proc for the PID , right?

[2022-07-16 15:23] AkihiroSuda opened #1240 "`nerdctl stats` shows too much CPU usage than actual"
### Description

## Docker
[code]

## nerdctl
[code]

nerdctl shows 183.65%, but this should be around 100%

### Steps to reproduce the issue

See above

### Describe the results you received and expected

nerdctl shows 183.65%, but this should be around 100%

### What version of nerdctl are you using?

[code]

### Are you using a variant of nerdctl? (e.g., Rancher Desktop)

_No response_

### Hos

[2022-07-16 15:26] AkihiroSuda commented on #1143
Could you report to https://github.com/rancher-sandbox/rancher-desktop/issues

[2022-07-16 17:51] fahedouch commented on #1222
making log message more specific  https://github.com/containerd/nerdctl/pull/1241/files

[2022-07-16 18:18] AkihiroSuda opened #1242 "Typo: `:1` vs `::1` (IPv6 localhost)"
https://github.com/containerd/nerdctl/blob/820391725fe3ae110eca31780e51a934f65b2fc7/pkg/dnsutil/hostsstore/updater.go#L135

[2022-07-16 18:21] AkihiroSuda commented on #1242
This is not a recent regression.
Seems to have been broken since the beginning 😞
https://github.com/containerd/nerdctl/commit/674530033cf02b16ef440897b89d721d929293c5#diff-c080efad515234c7b3838385ae9f4abebae63941a1166fe1e644353053959f19R131

[2022-07-16 18:23] Zheaoli commented on #1242
This would be fixed in #1232

[2022-07-16 19:05] fahedouch commented on #1084
fixed by https://github.com/containerd/nerdctl/pull/1219

[2022-07-16 19:05] #1084 closed

[2022-07-16 19:30] Zheaoli commented on #666
Working on it now，maybe this feature can be released in v0.23.0

[2022-07-17 01:30] manugupt1 commented on #1039
I would like to try working on fluentbit driver if that is fine and no one is working on it.

[2022-07-17 01:55] #1149 closed

[2022-07-17 01:55] #1242 closed

[2022-07-17 02:46] AkihiroSuda commented on #1039
@containerd/nydus-maintainers

Are we fine to add the fluentbit driver as a built-in driver, or should it be an external driver (--log-driver binary://foo) ?

[2022-07-17 03:31] AkihiroSuda commented on #648
https://github.com/containerd/nerdctl/releases/tag/v0.22.0

nerdctl v0.22.0 supports `nerdctl image prune --all`, `nerdctl container prune`, and `nerdctl volume prune`.
No support for `nerdctl network prune` and `nerdctl system prune` yet though.

[2022-07-17 11:23] fahedouch commented on #1039
@AkihiroSuda I would say external driver;  fluentbit driver(s) are be built as go plugin https://docs.fluentbit.io/manual/development/golang-output-plugins#build-a-go-plugin which can be easily handled as external driver. Also fluentbit have multiple deps so I think it is better to isolate it as external plugin.

@manugupt1  Yes you can start working on this. I started implementing the local drive

[2022-07-18 07:55] AkihiroSuda commented on #940
Implemented in https://github.com/containerd/nerdctl/pull/1049

[2022-07-18 07:55] #940 closed

[2022-07-19 04:13] AkihiroSuda commented on #266
containerd 1.6.7 will support static binary mode
https://github.com/containerd/containerd/pull/7045

[2022-07-19 05:19] manugupt1 commented on #1039
@fahedouch do you have a draft PR for local that I can take inspiration from for external driver?

[2022-07-19 11:35] Huimintai opened #1246 "nerdctl info does not show cgroup driver the same as containerd"
### Description

I use nerdctl info to show cgroup driver for containerd.
[code]
For crictl info it shows systemd cgroup driver:
[code]
I config containerd cgroup driver as systemd:
[code]

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

Nerdctl info should show cgroup driver what the containerd use.

### What version of nerdctl are you using?

[code

[2022-07-22 05:04] Congee commented on #543
`ss` has to use (be used in) the isolated network namespace. Say if you have redis is started by nerdctl and want to see the default 6379 port, `sudo nsenter --net --target $(pidof redis-server) ss --listening --tcp --numeric` might help

[2022-07-22 08:21] junnplus opened #1257 "Flaky: TestCopyToContainer"
https://github.com/containerd/nerdctl/runs/7464047904?check_suite_focus=true#step:7:894

[code]

[2022-07-22 08:58] kkbruce commented on #759
[code]

Get "failed to parse" error message:

[code]

[2022-07-22 16:59] jsturtevant commented on #759
@kkbruce  this won't work, there is a patch in progress at https://github.com/containerd/nerdctl/pull/924

work around is to use `/path/` without the `drive :` https://github.com/containerd/nerdctl/issues/759#issuecomment-1036215481

[2022-07-23 07:20] junnplus opened #1259 "Container exit does not clear IP occupation"
### Description

nerdctl
[code]

docker
[code]

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

keep the same as docker

### What version of nerdctl are you using?

master

### Are you using a variant of nerdctl? (e.g., Rancher Desktop)

_No response_

### Host information

_No response_

[2022-07-25 08:12] kkbruce commented on #759
@jsturtevant @textminer

I've been trying for a long time and can't come up with the alternatives you mentioned. Can you provide a complete `run` description of the `-v` or `-mount` parameters?

Local `c:\\data` folder:

[code]

Test mount function:

[code]

[2022-07-25 12:09] AkihiroSuda opened #1261 "`nerdctl container inspect` lacks labels"
### Description

`nerdctl container inspect` lacks labels

### Steps to reproduce the issue

Docker:
[code]

nerdctl:
[code]

### Describe the results you received and expected

Received: no labels
Expected: labels to be set

### What version of nerdctl are you using?

v0.22.0

### Are you using a variant of nerdctl? (e.g., Rancher Desktop)

_No response_

### Host information

_No response_

[2022-07-25 12:42] thinkgos commented on #686
@alff thinks

[2022-07-25 15:33] TianZong48 commented on #1261
can I take this?  :D

[2022-07-25 20:39] jandubois opened #1263 "`nerdctl pull` calls `docker-credential-xxx get` with hostname instead of ServerURL"
### Description

`nerdctl login` stores Docker Hub credentials under the ServerURL `https://index.docker.io/v1/`.

But when pushing an image to the registry, it tries to fetch the credentials using just the registry hostname, i.e. `index.docker.io`. For some credential helpers (e.g. `docker-credential-osxkeychain`) this works, but for others (e.g. `docker-credential-pass`, and probably `docker-cre

[2022-07-27 05:54] junnplus commented on #648
`nerdctl network prune` and `nerdctl system prune` already support and should be released in v0.22.1.

[2022-07-27 05:54] #648 closed

[2022-07-27 06:05] #1261 closed

[2022-07-28 09:13] mbalmer commented on #434
I have tried this in rancherdeskop, but it does not work.

[2022-07-29 02:56] TinySong opened #1272 "cannot force multi same id images"
### Description

when there are multiple identical image ids, the image id cannot be forcibly deleted. like below:
<img width="790" alt="image" src="https://user-images.githubusercontent.com/16032654/181672388-e1fc3c78-9391-4bd8-9a2b-14a310ace36e.png">

delete images forcibly using command: `./nerdctl rmi -f d09eb50879e8` , execution will be interrupted with the following error message: `ERRO[0000

[2022-07-29 08:09] harshanarayana opened #1274 "Unable to Restart the Container via the `nerdctl restart` comamnd"
### Description

As per the document, the `nerdctl restart` should let me restart one or more containers running on the system. However, when I try to do that with the `containerd` based infra, it runs into a fatal error.

[code]

### Steps to reproduce the issue

1. Create Kubernetes cluster with Containerd based CRI
2. Use `nerdctl restart` to restart any non pause container of the pod in the no

[2022-07-29 18:40] rgl opened #1275 "nerdctl run pull logs the incorrect image name"
### Description

`nerdctl run pull` logs the incorrect image name.

### Steps to reproduce the issue

1. `nerdctl run pull registry.test:5000/example-docker-buildx-go:v1.6.0`

### Describe the results you received and expected

This is what the log looks like:

[code]

Notice that `failed to resolve reference \"docker.io/library/pull:latest\":`  should mention the `registry.test:5000/example-docke

[2022-07-29 18:56] rgl commented on #1275
ops. my bad... I had a stray `run` in `nerdctl run pull registry.test:5000/example-docker-buildx-go:v1.6.0`.

[2022-07-29 18:56] #1275 closed

[2022-07-30 05:13] #1263 closed

[2022-07-30 06:28] AkihiroSuda opened #1278 "The output of `nerdctl stats` disappears after a few minutes"
### Description

The output of `nerdctl stats` disappears after a few minutes

### Steps to reproduce the issue

1. `nerdctl run -d alpine sleep infinity`
2. `nerdctl stats`
3. Wait for a few minute

### Describe the results you received and expected

Received:
[code]

Expected: some stats

### What version of nerdctl are you using?

v0.22.0-42-g4c37225

### Are you using a variant of nerdctl? (e.

[2022-07-30 06:29] AkihiroSuda commented on #1278
@fahedouch PTAL

[2022-07-30 06:42] AkihiroSuda opened #1279 "`nerdctl system prune` should prune build caches too"

[2022-07-30 12:59] STRRL commented on #1279
Hi! I want to take it a try! Could you assign this issue to me? :heart:

[2022-07-30 17:36] GodYao1995 opened #1282 "nerdctl build image by Dockerfil failed (`exit code: 139`)"
### Description

[root@g10 temps]# nerdctl build -t ng:nerdctl -f Dockerfile .
[+] Building 5.0s (5/5) FINISHED
 => [internal] load build definition from Dockerfile                                    0.0s
 => => transferring dockerfile: 141B                                                    0.0s
 => [internal] load .dockerignore                                                       0.0s
 => => tr

[2022-07-30 17:49] Zheaoli opened #1283 "Support `filters` argument in `images` command"
**EDIT** by @AkihiroSuda
### What is the problem you're trying to solve

By following https://github.com/containerd/nerdctl/issues/54

We can impl the filters argument for images command first

### Describe the solution you'd like

- [x] Support --filters=since https://github.com/containerd/nerdctl/pull/1307
- [x] Support --filters=before https://github.com/containerd/nerdctl/pull/1307

### Additi

[2022-07-31 06:35] t1anz0ng commented on #1259
/assign
🙋‍♂️

[2022-07-31 06:52] GodYao1995 commented on #1282
check buildkitd  find :

Jul 31 13:05:47 g10 buildkitd[2453]: time="2022-07-31T13:05:47+08:00" level=warning msg="using host network as the default"
Jul 31 13:05:47 g10 buildkitd[2453]: time="2022-07-31T13:05:47+08:00" level=info msg="found worker \"sltzqyqx5nd5y55iwku2j4uqr\", labels=map[org.moby>
Jul 31 13:05:47 g10 buildkitd[2453]: time="2022-07-31T13:05:47+08:00" level=info msg="found 1 worker

[2022-07-31 07:05] AkihiroSuda commented on #1282
Does `sudo buildctl build --frontend dockerfile.v0 --local dockerfile=. --local context=.` work?

[2022-07-31 10:03] fahedouch commented on #1278
@AkihiroSuda I tested stats for 15 minutes and didn't get this behavior. I got an empty stats only when I killed the container after this 15 minutes of fetching stats

[code]

Please check if you container is still alive

[2022-07-31 10:09] junnplus commented on #1278
I can't also reproduce.

[2022-07-31 10:10] #1240 closed

[2022-08-01 04:44] AkihiroSuda commented on #1278
@fahedouch @junnplus

I still hit this issue.
Could you test it on a cgroup v2 host such as Ubuntu 22.04 ?

[2022-08-01 04:53] junnplus commented on #1278
@AkihiroSuda Yes, I tested on Ubuntu 22.04 LTS, and it can't reproduce.
[code]

[2022-08-01 05:12] junnplus commented on #1278
Sorry, I retried a few times to make sure it's reproducible.

[code]

[2022-08-01 05:23] AkihiroSuda commented on #1278
Looks like I can hit the issue with cgroup v1 mode too
[code]

[2022-08-01 13:12] GodYao1995 commented on #1282
[root@g10 temps]# cat Dockerfile
FROM nginx:alpine

RUN echo "Hello World"

[root@g10 temps]# buildctl build --frontend dockerfile.v0 --local dockerfile=. --local context=.
[+] Building 0.5s (5/5) FINISHED
 => [internal] load build definition from Dockerfile                                                                                         0.0s
 => => transferring dockerfile: 141B

[2022-08-01 13:18] GodYao1995 commented on #1282
find the same issue:

RHEL8 VM environment: error: failed to solve: process /bin/sh . exit code : 139 #2705
https://github.com/moby/buildkit/issues/2705

[2022-08-01 16:17] AkihiroSuda opened #1288 "[v0.22.1 regression] rootless mode fails on Fedora and Arch Linux: `runc create failed: unable to start container process: can't get final child's PID from pipe: EOF: unknown `"
### Description

Rootless mode seems broken in v0.22.1.

Works on Ubuntu 22.04, but fails on Fedora 36 and Arch Linux.
https://github.com/lima-vm/lima/pull/1006

### Steps to reproduce the issue

[code]

v0.22.0 works as expected.
Rootful mode works too.

### Describe the results you received and expected

Received: failing as shown above
Expected: should work

### What version of nerdctl are you

[2022-08-01 16:23] AkihiroSuda commented on #1288
Seems a regression in:
- https://github.com/containerd/nerdctl/pull/1255

Workaround: `nerdctl run --oom-score-adj 1000`

[2022-08-01 16:59] #1288 closed

[2022-08-01 18:06] AkihiroSuda opened #1290 "kata + privileged: `failed to create shim task: QMP command failed: The device is not writable: Permission denied: unknown`"
### Description

[code]

### Steps to reproduce the issue

1. `sudo PATH=/opt/kata/bin:$PATH containerd` (as root)
2.  `sudo nerdctl run -it --rm --runtime=io.containerd.kata.v2 --privileged alpine`

### Describe the results you received and expected

Received: failed with the error shown above
Expected: should work

Non-privileged mode works as expected

### What version of nerdctl are you using?

[2022-08-01 18:09] AkihiroSuda commented on #1290
Potentially related:
- https://github.com/kata-containers/tests/issues/3002#issuecomment-1049811275

cc @liubin

[2022-08-02 01:42] liubin commented on #1290
Thank you, @AkihiroSuda, there are also some issues related to this:

- https://github.com/kata-containers/kata-containers/issues/4488
- https://github.com/kata-containers/kata-containers/issues/3968

One approach is to add a command line option, for example named  `no-host-devices`, which like `privileged_without_host_devices` of containerd's `config.toml`.

[code]

If users want to pass devices

[2022-08-02 03:40] AkihiroSuda commented on #1290
@liubin Thanks, SGTM, but I guess the flag name should be like `--privileged-without-host-devices` or `--security-opt privileged-without-host-devices`

[2022-08-02 04:02] liubin commented on #1290
@AkihiroSuda thank you, I created #1291 to fix this.

[2022-08-02 05:16] t1anz0ng commented on #421
@ryanbrigden this feature was implemented in https://github.com/containerd/nerdctl/releases/tag/v0.22.1
please use check it out on  https://github.com/containerd/nerdctl/releases/tag/v0.22.2 (v0.22.2 fixed a regression from [v0.22.1](https://github.com/containerd/nerdctl/releases/tag/v0.22.1)) 😄

[2022-08-02 05:41] junnplus commented on #421
@t1anz0ng Thanks, and I close this.

[2022-08-02 05:41] #421 closed

[2022-08-02 09:26] ibayue opened #1293 "nerdctl run not support --pid=container:xxxx and --ipc=container:xxx but docker is supported"
### Description

nerdctl run not support --pid=container:xxxx and --ipc=container:xxx but docker is  supported

![image](https://user-images.githubusercontent.com/11729209/182340337-a8aeeaeb-d160-43eb-baaf-d90530958c1b.png)

![image](https://user-images.githubusercontent.com/11729209/182340814-05cf8f46-fc6c-447c-b9f2-3c300219ecb7.png)

### Steps to reproduce the issue

1.
2.
3.

### Describe the r

[2022-08-02 09:35] fahedouch commented on #1293
`joins another container's PID namespace` is not yet supported , same thing for `ipc`

[2022-08-03 09:08] liubin commented on #1278
I got on cgroup v1:

It's maybe due to the (netns?) FD leak: https://github.com/containerd/nerdctl/blob/4c37225fa31a63e32162f34bdbc26554430e6dc6/cmd/nerdctl/stats.go#L438

And here, when error occurred, should print it to screen?
https://github.com/containerd/nerdctl/blob/4c37225fa31a63e32162f34bdbc26554430e6dc6/cmd/nerdctl/stats.go#L474-L478

[2022-08-03 11:00] t1anz0ng commented on #1259
After thinking a little about this behavior,  I'm not sure if we need  to keep the same as `docker`

Because in nerdctl the IP is allocated/released by `host-local` `IPAM`  by
default and It actually clears the IP occupation, but just round-robin IP address.

I created >256 (actually only need 254?) containers by
`docker run --nettest-br alpine ip addr`,  we can see that the released  IP is availa

[2022-08-03 13:23] AkihiroSuda commented on #1259
Looks like this issue has to be fixed on the CNI plugin side (if we still want to fix it?)

[2022-08-03 13:38] junnplus commented on #1259
[code]

[2022-08-03 15:55] t1anz0ng commented on #1259
It will release after `nerdctl rm <cont_id>`.

TLDR:
`nerdctl run --rm` will release after container exit.

[code]

more detailed process:
[code]

[2022-08-04 03:07] AkihiroSuda opened #1295 "`nerdctl network prune` does not need to remove the default `bridge` network"
As of v0.22.2, `nerdctl network prune` removes the default `bridge` network when it is not in use, but the default `bridge` network does not need to be removed

[2022-08-04 03:28] Kitanotori opened #1296 "Using Containerfile shouldn't output warning"
@manugupt1 Why does this raise warning? I don't think using Containerfile when Dockerfile doesn't exist should output warning.

_Originally posted by @Kitanotori in https://github.com/containerd/nerdctl/pull/1219#discussion_r937313898_

[2022-08-04 05:29] junnplus commented on #1259
I know that deleting the container can release the IP, I mean stop a container.

[2022-08-04 07:38] AkihiroSuda opened #1297 "nerdctl.toml: allow disabling experimental features"
We may want to add a boolean value `experimental` in [`nerdctl.toml`](https://github.com/containerd/nerdctl/blob/master/docs/config.md) to allow disabling [experimental features](https://github.com/containerd/nerdctl/blob/master/docs/experimental.md).

The default value must stay `true` to keep enabling experimental features,

[2022-08-04 07:40] AkihiroSuda commented on #703
Not a "good first issue" probably

[2022-08-04 07:43] AkihiroSuda commented on #1278
Thank you @liubin , would you mind submitting a PR?

[2022-08-04 07:45] AkihiroSuda commented on #176
This was implemented in nerdctl 0.18.
Needs BuildKit (>= 0.10) to be running in the containerd worker mode.
https://github.com/containerd/nerdctl/blob/master/docs/build.md

[2022-08-04 07:45] #176 closed

[2022-08-04 07:48] AkihiroSuda commented on #48
python-on-whales supports nerdctl now:
- https://github.com/gabrieldemarmiesse/python-on-whales/pull/329

[2022-08-04 07:48] #48 closed

[2022-08-04 07:54] AkihiroSuda commented on #271
Fixed in https://github.com/containerd/nerdctl/pull/456

[2022-08-04 07:54] #271 closed

[2022-08-04 07:58] fahedouch commented on #1278
@AkihiroSuda  @liubin I am working on PR to fix this

[2022-08-04 11:11] akhramov commented on #379
Tracking this issue in runj: https://github.com/samuelkarp/runj/issues/30

[2022-08-04 11:44] liubin commented on #1278
Yes, I'd like to create a PR to fix this.

[2022-08-04 11:52] liubin commented on #1278
@fahedouch Please go on with your work. I only did some verify locally.

[2022-08-04 23:10] manugupt1 commented on #1296
I think we should log and let users know users with log.Info not log.Warn.
We should not removing logging though as it is nerdctl specific behavior.

[2022-08-05 08:40] reich80 opened #1299 "run nerdctl with --group-add report error group not found"
### Description

I run the nerdctl with following version:

[root@Cc5Apc ~]# nerdctl --version
nerdctl version 0.22.2

[root@Cc5Apc ~]# containerd --version
containerd containerd.io 1.6.6 10c12954828e7c7c9b6e0ea9b0c02b01407d3ae1

and run a container with --group-add parameter, it failed and report message to show that group not found. The details are as follows:

[root@Cc5Apc ~]# id nerdtest
uid=1

[2022-08-05 08:51] junnplus commented on #1299
`--group-add` flag requires the image have corresponding user groups instead of host.

Please check the `/etc/group` file in the image.

[2022-08-05 09:14] Kitanotori commented on #1296
There's already log for `=> [internal] load build definition from Containerfile`, so the mentioned log is unnecessary.

[2022-08-05 09:47] reich80 commented on #1299
That doesn't work in ldap cases.  If the host authenticate users via ldap, then /etc/group in image or host definitely doesn't have all the groups.  Why does docker work in this case?  It is reasonable to behave the same way as docker.

[2022-08-05 09:56] reich80 commented on #1299
It is reasonable to check the user/group relation at the time running the "nerdctl run" command.  It is not necessary to check it in the container.  Otherwise, any container which is launched by nerdctl need have ldap installed inside it. It places heavy burden on the end user who created the docker image, which discourage users to use docker/nerdctl in the production environment.

[2022-08-05 10:29] junnplus commented on #1299
https://github.com/containerd/containerd/pull/7257

[2022-08-05 18:05] bdols commented on #434
with https://github.com/moby/buildkit/pull/2660 , and installing buildkitd with `CONTAINERD_NAMESPACE=default containerd-rootless-setuptool.sh install-buildkit-containerd` I'm able to access my local images.

[2022-08-05 21:36] ericpromislow opened #1300 "`nerdctl run` is broken: emits bogus error on `ac.ServerAddress`"
### Description

Most likely introduced by PR 1270

[code]

### Steps to reproduce the issue

See above

### Describe the results you received and expected

See above.

### What version of nerdctl are you using?

[code]

### Are you using a variant of nerdctl? (e.g., Rancher Desktop)

Rancher Desktop for macOS

### Host information

[code]

[2022-08-05 21:51] ericpromislow commented on #1300
And after I reset my `.docker/config.json credsStore` field to `none` (which uses a shadow method over the standard docker (insecure) creds store:
[code]

the problem disappared. So I'm going to close this for now.

[2022-08-05 21:51] #1300 closed

[2022-08-07 08:58] #1299 closed

[2022-08-08 03:19] MrAwesomeRocks commented on #666
+1

[2022-08-08 14:54] AkihiroSuda commented on #560
Reopening, this is not relevant to rancher desktop but relevant to pipes

[2022-08-09 02:04] manugupt1 opened #1305 "TestRunCopyingUpInitialContentsOnDockerfileVolume is flaky"
### Description

https://github.com/containerd/nerdctl/runs/7736362053?check_suite_focus=true

Error logs

[code]

[2022-08-09 17:10] fahedouch commented on #1279
I believe that we should do the same thing for `nat` on windows

[2022-08-10 00:04] ericpromislow opened #1308 "Nerdctl client sometimes wants both a populated `auths` field when `credsStore` gives credentials"
### Description

A Rancher Desktop user can get into a state where when they run `nerdctl run SOME_IMAGE`, they see the error message
[code]

This was exposed when PR #1270 was merged into master.

### Steps to reproduce the issue

1. Run Rancher Desktop 1.5.0 after an install or FactoryReset (or delete /root/.docker/config.json on the VM)
2. Choose moby/docker mode
3. docker login
4. Switch to co

[2022-08-10 05:36] nakamorichi opened #1310 "nerdctl system prune --all doesn't work without "firewall" plugin"
### Description

Not exactly sure if this is a bug, but I tried running `nerdctl system prune --all` in k3s, and got following error:
[code]

`nerdctl version` output:
[code]

### Steps to reproduce the issue

run `nerdctl system prune --all` in k3s setup.

### Describe the results you received and expected

`nerdctl system prune --all` should complete without errors.

### What version of nerdctl

[2022-08-10 13:45] junnplus commented on #1310
It looks like missing the default network, `CNIEnv` will recreate it and the default network bridge need a firewall plugin.

[2022-08-10 13:54] GodYao1995 commented on #1282
anyway, I download  v0.10.3 version and try agian.
it works;

[2022-08-10 13:54] #1282 closed

[2022-08-11 11:07] fahedouch commented on #1308
Why you expect `uname -a` ,  what is the relation ?

[2022-08-11 11:59] xuegege5290 opened #1311 "build image fail in linux/arm64"
### Description

when i try to do the test of TestBuild ,it alway failed，and exitcode is 1.This is the log print(i add the log).There is lot of test failed when they start build images.

**cat Dockerfile**
[code]

[code]
### Steps to reproduce the issue

### Describe the results you received and expected

i wanna it build success

### What version of nerdctl are you using?
[code]

### Are you usin

[2022-08-11 14:25] xuegege5290 commented on #1311
@junnplus

[2022-08-11 14:25] xuegege5290 commented on #1311
@kzys @dqminh @mattfarina @vbatts

[2022-08-11 15:00] junnplus commented on #1311
You should make your question readable first.

[2022-08-11 15:12] xuegege5290 commented on #1311
i provide the message is actually mess, but it jsut the log i add,when i run test.
ok i will provide clearly logs later.

[2022-08-11 19:46] fahedouch commented on #1310
missing default network should not block deleting network

[2022-08-12 09:58] xuegege5290 commented on #1311
update the message ,please have a look.

[2022-08-12 22:03] ericpromislow commented on #1300
I think the error happens when I see this on linux:
[code]
where `~/.password/docker-credential-helpers` has a dir that's base64 for `https://index.docker.io/v1/`

The problem is that `ac.Username` and `ac.Password` are correctly retrieved via `pass`, but the config-file loader reports that `ac.ServerAddress` is the empty string, possibly because of the empty `auths` hash in the above `config.json

[2022-08-12 22:06] ericpromislow commented on #1308
Actually, `uname -a` had nothing to do with it.  It's just a matter of running the code at `dockerconfigresolver.NewAuthCreds`

[2022-08-12 22:09] ericpromislow commented on #1308
We have more of a repro:

[code]

Even then it depends on the state of `/root/.docker/config.json` on the Rancher Desktop VM

 I think the error happens when I see this from a linux host:

$ cat /root/.docker/config.json
{
  "auths": {},
  "credsStore": "pass"
}

and `~/.password/docker-credential-helpers` has a dir that's base64 for `https://index.docker.io/v1/`

The problem is that ac.Username a

[2022-08-13 16:49] #1295 closed

[2022-08-16 07:04] xuegege5290 opened #1318 "nerdctl run failed.failed to call cni.Setup: plugin type=\"bridge\" failed (add): running"
### Description

[code]

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you received and expected

run it successful

### What version of nerdctl are you using?

 Version:	v0.22.1
 OS/Arch:	linux/amd64

### Are you using a variant of nerdctl? (e.g., Rancher Desktop)

_No response_

### Host information

[root@zxsvp_docker_build ~]# nerdctl version
Client:
 Version:	v0.22.1
 O

[2022-08-16 07:09] xuegege5290 commented on #1318
# /usr/bin/bridge -v
CNI bridge plugin v1.0.0

[2022-08-16 07:10] xuegege5290 commented on #1318
@kzys @dqminh @mattfarina  @vbatts

[2022-08-16 10:26] xuegege5290 commented on #1311
u

[2022-08-16 10:27] #1311 closed

[2022-08-16 16:16] fatelei commented on #1297
assign to me

[2022-08-17 05:48] #1290 closed

[2022-08-17 13:36] Rajpratik71 opened #1321 "[Dockerfile] Multi arch image build support in nerdctl container image"
### Description

Inside nerdctl container image, wanted to build or run container image having different arch.

### Steps to reproduce the issue

1. Run nerdctl in the container using the official image at **ghcr.io/containerd/nerdctl:master** by `docker run --rm --privileged -it ghcr.io/containerd/nerdctl:master`
2. Try to run an "**arm64 based ubuntu image**" by `nerdctl run --rm -it arm64v8/ubu

[2022-08-17 13:48] Rajpratik71 commented on #1321
Further, arm based image build is also failing

root@fc84829df24d:/#
root@fc84829df24d:/# nerdctl build -t arm64-test-image  --platform=arm64  -f Dockerfile  .
[+] Building 3.0s (5/5) FINISHED
 => [internal] load build definition from Dockerfile                                                                                                                0.1s
 => => transferring dockerfile: 105B

[2022-08-17 23:25] AkihiroSuda commented on #1321
See https://github.com/containerd/nerdctl/blob/master/docs/multi-platform.md#preparation-register-qemu-to-procsysfsbinfmt_misc

[code]

[2022-08-17 23:25] #1321 closed

[2022-08-18 17:24] manugupt1 commented on #1296
This is fixed. Can we close this now

[2022-08-20 02:24] AkihiroSuda opened #1329 "Support SOCI snapshotter"
https://github.com/awslabs/soci-snapshotter

[2022-08-20 14:18] Zheaoli opened #1330 "Support filter in `nerdctl volume ls` command"
### What is the problem you're trying to solve

Just following #54, to support the filter argument in `nerdctl volume ls` command

- [ ] filtering by label
- [ ] filtering by name

### Describe the solution you'd like

Support filter in `nerdctl volume ls` command

### Additional context

_No response_

[2022-08-20 14:26] Zheaoli commented on #1329
I'm interested about this feature, maybe I can make a try(

[2022-08-20 14:28] #1283 closed

[2022-08-20 14:32] Retrospection commented on #1330
I'd like to fix this.

[2022-08-20 16:14] yuchanns commented on #1330
Assign to me plz.

[2022-08-21 11:31] hypeitnow opened #1333 "failed to call cni.Setup: plugin type=\"bridge\" in WSL 2 Ubuntu"
### Description

I installed nerdctl in WSL2 Ubuntu accoirding to the manual written here:
https://www.guide2wsl.com/nerdctl/
When I tried to execute a very simple container I get the following error:

nerdctl run --name dockertest --rm library/alpine:3.15.2 cat /etc/os-release
FATA[0000] failed to create shim task: OCI runtime create failed: runc create failed: unable to start container process:

[2022-08-21 14:36] AkihiroSuda commented on #1333
Is `CONFIG_NETFILTER_XT_MATCH_COMMENT` set on your kernel?
You might need to load `xt_comment.ko`

[2022-08-22 06:50] #1330 closed

[2022-08-22 07:09] vsaisujeeth opened #1334 "-n arg with nerdctl cp doesn't work"
### Description

namespace arg doesn't work with nerdctl cp cmd. I had to set CONTAINERD_NAMESPACE env variable to overcome this issue.

### Steps to reproduce the issue

_No response_

### Describe the results you received and expected

-n should change namespace

### What version of nerdctl are you using?

latest

### Are you using a variant of nerdctl? (e.g., Rancher Desktop)

_No response_

##

[2022-08-22 08:11] raktim-sixt commented on #492
yes, same here...cannot start the container which is in the `CREATED` state

```failed to create shim task: OCI runtime create failed: runc create failed: cannot allocate tty if runc will detach without setting console socket: unknown```

has anyone found any workaround/solution to this?

[2022-08-23 01:56] ningmingxiao opened #1336 "Is is necessary to add selinux at container-selinux ?"
### What is the problem you're trying to solve

 add selinux at  container-selinux

### Describe the solution you'd like

 add selinux at  container-selinux

### Additional context

 add selinux at  container-selinux

[2022-08-24 08:04] Sam-Sundar-Apty opened #1337 "FATA[0000] unknown logging driver "syslog": not found"
### Description

Hey Team,

We are trying to setup harbor registry with nerdctl compose and while spinning up the same, we got CNI errors which were fixed by solutions from [this](https://github.com/containerd/nerdctl/discussions/1129).
Now we are getting below error,
`FATA[0000] unknown logging driver "syslog": not found  `

### Steps to reproduce the issue

1.
2.
3.

### Describe the results you

[2022-08-24 12:18] AkihiroSuda commented on #1337
The `syslog` driver is unimplemented. Please use `json-file`, `fluentd`, or `journald`

[2022-08-24 12:18] AkihiroSuda commented on #1336
Yes. Help wanted.
https://github.com/containers/container-selinux/blob/main/container.fc

[2022-08-25 07:48] Zheaoli opened #1339 "Support filter argument in `nerdctl container ls` command"
### What is the problem you're trying to solve

Just following the #54 to support filter argument in `nerdctl container ls` command.

FYI https://github.com/moby/moby/blob/master/daemon/list.go#L20

### Describe the solution you'd like

- [ ] before
- [ ] existed
- [ ] id
- [ ] label
- [ ] name
- [ ] status
- [ ] since
- [ ] volume
- [ ] network

### Additional context

_No response_

[2022-08-25 07:59] yuchanns commented on #1339
I'd like to fix it

[2022-08-25 09:15] fahedouch commented on #1337
Added to the list of drivers https://github.com/containerd/nerdctl/issues/1039

[2022-08-25 09:17] fahedouch commented on #1278
Closed by https://github.com/containerd/nerdctl/pull/1298

[2022-08-25 09:17] #1278 closed

[2022-08-25 20:52] rhatdan commented on #1336
As I understand it nerdctrl is a client server tool like docker and talks to the container engine.  So it does not need to be labeled as a container engine.  Since it will not need special privs to create namespace, cgroups, SELinux ...

[2022-08-25 21:08] obataku commented on #1259
@junnplus did it formerly release IP on container exit? i.e. is this a breaking change in behavior or has it always been like this, to your knowledge?

[2022-08-25 21:09] obataku commented on #1259
@junnplus did it formerly release IP on container exit? i.e. is this a breaking change in behavior or has it always been like this, to your knowledge?

[2022-08-26 08:50] hypeitnow commented on #1333
Right now it should be enabled since I use a standard WSL2 kernel which actually contains that:
https://github.com/microsoft/WSL2-Linux-Kernel/blob/linux-msft-wsl-5.15.y/Microsoft/config-wsl
Line 1125
I will mention that other tools using iptables work just fine, I was thinking about
update-alternatives --set iptables /usr/sbin/iptables-legacy
Is there any chance it would help?

[2022-08-26 16:20] junnplus commented on #1334
[code]

[2022-08-26 16:24] junnplus commented on #1259
@obataku it always been like this

[2022-08-28 09:15] developer-guy commented on #669
kindly ping sir @AkihiroSuda

[2022-08-29 01:35] ningmingxiao commented on #1336
nerdctl will use /var/lib/nerdctl/ to save some information ,so I think it is necessary to add some selinux label @rhatdan

[2022-08-29 17:31] dbanty opened #1344 "`compose down --remove-orphans`"
### What is the problem you're trying to solve

Similar to #342, I would like to have the [`--remove-orphans` option for `compose down`](https://docs.docker.com/engine/reference/commandline/compose_down/#options).

### Describe the solution you'd like

Add the `--remove-orphans` flag to `compose down`.

### Additional context

_No response_

[2022-08-30 09:56] stillfox-lee commented on #1344
I'd like to help.

[2022-08-30 14:43] fahedouch commented on #1344
plz go ahead @stillfox-lee

[2022-08-31 06:52] #1297 closed

[2022-08-31 09:01] #270 closed

[2022-08-31 09:02] AkihiroSuda opened #1345 "`nerdctl compose run` should randomize the container name"
_Originally posted by @AkihiroSuda in https://github.com/containerd/nerdctl/issues/1340#issuecomment-1232668700_

[2022-08-31 16:09] fahedouch commented on #1334
it is a desired behaviour because `-n is nonPersistentAlias (conflicts with nerdctl logs -n)`  : https://github.com/containerd/nerdctl/blob/master/cmd/nerdctl/main.go#L144 .
plz use : `nerdctl --namespace test cp Makefile nginx:/home`

[2022-08-31 16:14] AkihiroSuda commented on #1334
Still shouldn't conflict with cp

[2022-08-31 16:17] fahedouch commented on #1334
@AkihiroSuda hmm right is should only conflict with `logs` . I will fix this

[2022-09-02 07:04] minuk-dev commented on #1345
I could not find any documentation about the container's name in `compose run`.

Can we just implement it to make it work like that?

[2022-09-02 07:09] AkihiroSuda commented on #1345
https://github.com/docker/compose/blob/v2.10.2/pkg/compose/run.go#L63-L66

[2022-09-03 01:14] PandaBlackAndWhitr opened #1350 "Restart option "unless-stopped" and "on-failure" doesn't work for nerdctl compose"
### Description

`nerdctl` had a [pull request](https://github.com/containerd/containerd/pull/6744) (#6744) that added `restart options`: `on-failure` and `unless-stopped`. These two options don't work from within a `docker-compose.yml` file.

**Note: tested on rootless containers, not sure about rootful.**

I suggest adding it to the list of "unimplemented YAML fields" in the readme for [`nerdctl

[2022-09-03 03:13] #1339 closed

[2022-09-03 11:11] lengrongfu commented on #1350
/assign

[2022-09-03 17:10] AkihiroSuda opened #1352 "`--runtime=crun`: `cannot set swap limit without the memory limit`"
[code]

Seems a bug on crun side, but could be mitigated on nerdctl side
- https://github.com/containers/crun/issues/1001

[2022-09-03 18:06] AkihiroSuda commented on #669
https://github.com/containerd/nerdctl/issues/669#issuecomment-1131525143
https://github.com/containerd/nerdctl/issues/669#issuecomment-1148069599

[2022-09-04 14:34] Zheaoli commented on #1039
@manugupt1 is there any update about this issue?

[2022-09-04 14:44] Zheaoli opened #1353 "Support `syslog` driver for nerdctl"
### What is the problem you're trying to solve

Based on the fact that docker has supported the `syslog` driver, and the syslog is one of the most popular logging ways for developers and is also supported in go std-lib

I think it's good to support syslog as an extension of #1039

FYI https://docs.docker.com/config/containers/logging/configure/#supported-logging-drivers

### Describe the solution

[2022-09-04 14:58] yuchanns commented on #1353
I would like to have a try

[2022-09-04 16:31] manugupt1 commented on #1039
Sorry, been busy with work a lot. So, I have not made much progress

[2022-09-04 22:14] fahedouch commented on #1353
can track logging driver enhancement on this ticket plz https://github.com/containerd/nerdctl/issues/1039

[2022-09-04 23:15] #1345 closed

[2022-09-05 14:39] #811 closed

[2022-09-05 15:39] #1308 closed

[2022-09-07 13:11] fahedouch opened #1363 "support --insecure-registry for nerdctl build"
### What is the problem you're trying to solve

The problem is that if I use it directly in the pod, I can pull the image directly, but not in the Dockerfile

[code]

nerdctl build --insecure-registry -t xxxx:30003/zikayou/springboot-demo:v0.0.4 .

[code]

_Source  https://github.com/containerd/nerdctl/discussions/1362_

### Describe the solution you'd like

nerdctl build --insecure-registry -t xx

[2022-09-07 15:38] ChandraReddy opened #1364 "FATA[0000] unknown flag: --filter (Unable to use -f/--filter option with nerdctl ps)"
### Description

FATA[0000] unknown flag: --filter (Unable to use -f/--filter option with **nerdctl ps**)

We have option called -f/--filter in the **docker ps**, same here I have tried but getting FATA error.

Command: nerdctl ps -f "name=an_gnodeb", nerdctl ps --filter "name=an_gnodeb"
Error: FATA[0000] unknown flag: --filter

Could you help me on this?

### Steps to reproduce the issue

1. Exec

[2022-09-08 01:30] AkihiroSuda commented on #1364
Please try the master branch or just wait until v0.23

- https://github.com/containerd/nerdctl/pull/1342

[2022-09-08 01:31] #1364 closed

[2022-09-08 02:21] l1douhua commented on #1363
nerdctl build --insecure-registry -t xxxx:30003/zikayou/springboot-demo:v0.0.4 . => should work

He is not a good way to solve my problem

[2022-09-08 10:41] paolobarbolini opened #1367 "Make it possible to set the zstd compression level"
### What is the problem you're trying to solve

I'm recompressing my images using `nerdctl image convert --oci --zstdchunked`. Unfortunately looking at the code it seems to use the default zstd compression level of 3, which is too low for my needs. The resulting zstd images are almost the same size as the gzipped ones.

### Describe the solution you'd like

Have a flag that allows setting the zstd

[2022-09-08 11:48] callahad opened #1368 "Support `version` subcommand to `compose`"
### What is the problem you're trying to solve

I'd like write a script that invokes `docker compose` and works with both Docker and Nerdctl.

To do so reliably, I need to detect whether the `compose` command is supported (e.g., `docker compose` is provided by an optional plugin, so I can't assume anything and must explicitly check).

An easy way to detect support would be to run a safe command li

[2022-09-08 13:26] ccureau commented on #1333
For what it's worth, I ran into this same issue when running the `nerdctl` container in a GKE environment this morning. After setting iptables to legacy mode, I was able to run all commands without error.

[2022-09-08 13:46] ccureau opened #1369 "nerdctl container running in nerdctl reports "subnet 10.4.0.0/24 overlaps with another one on this address space""
### Description

Environment: colima running containerd and nerdctl

I have followed the instructions for building and running `nerdctl` in `docker` from the repository README. I do not have `docker` installed locally because I prefer to use `nerdctl` for my container needs. When running `nerdctl` in `nerdctl`, the following error is reported:

`FATA[0000] subnet 10.4.0.0/24 overlaps with other on

[2022-09-08 22:14] AkihiroSuda commented on #1369
A custom CIDR can be specified via `/etc/cni.d/nerdctl-bridge.conflist` (`~/.config/cni/net.d/nerdctl-bridge.conflist` for rootless)

[2022-09-09 01:11] lengrongfu commented on #1350
Regarding this issue I see two expected behaviors，
- adding it to the list of "unimplemented YAML fields" in the readme for [nerdctl compose](https://github.com/containerd/nerdctl/blob/master/docs/compose.md)
- On nerdctl compose up: no warning message, and for restart policy to work

We should handle that expected behavior.
@Zheaoli

[2022-09-09 04:07] stillfox-lee commented on #1344
Hi @dbanty , I find a compatibility issue with docker and containerd in orphan container use case. When we execute `docker compose down` it will return failed. Docker found an orphan container still in active, and it won't remove the related network. But containerd just remove network and leave the orphan container alone.

[code]

docker:
[code]

containerd:
[code]

And the deviation also cause CI

[2022-09-10 14:14] Jiahonzheng commented on #665
Any updates?😭

[2022-09-10 14:17] AkihiroSuda commented on #665
Needs a reproducer

[2022-09-10 17:17] fahedouch commented on #1363
So what is the good way ?

[2022-09-10 17:33] Zheaoli opened #1374 "Support read logs from fluentd/journal log driver"
### What is the problem you're trying to solve

For now, we just support one-way write process for fluentd/journal log driver, but in some circumstances, the user may need to use `nerdctl logs` command to fetch the log.

So we can write to the driver destination and a local JSON file for the log driver simultaneously, and the `nerdctl logs` command can fetch the log from the local log file

### De

[2022-09-10 17:36] yuchanns commented on #1374
count me in

[2022-09-10 22:22] fahedouch commented on #1374
I started a PR around this https://github.com/containerd/nerdctl/pull/1115/files a few days ago. Unfortunately, I didn't have time to finish it.  @yuchanns  this may inspire you :)

[2022-09-10 22:32] t1anz0ng commented on #1374
I can take the journald driver's job😃

[2022-09-10 22:32] t1anz0ng commented on #1374
I can take the journald driver job😃

[2022-09-11 21:33] manugupt1 commented on #1374
@Zheaoli Should this be fluentbit and not fluentd? Ref: https://github.com/containerd/nerdctl/commit/8bf043a52b5d64a9a7a38103427c884e4a542271

[2022-09-11 21:34] manugupt1 commented on #1039
@AkihiroSuda @fahedouch @Zheaoli Should we close this as third party support is open or keep it open for inbuilt drivers?

[2022-09-12 08:53] ndeloof opened #1376 "add support for `diff` on running container"
### What is the problem you're trying to solve

Please add support for `docker diff` to inspect changes to files or directories on a running container

### Describe the solution you'd like

[code]

### Additional context

_No response_

[2022-09-13 22:26] davidhsingyuchen opened #1378 "Cannot create an anonymous volume: `nerdctl run --mount type=volume,dst=/foo` returns an error"
### Description

[code]

A Github search gives me #67, and `nerdctl run -v /foo` does work for me, so maybe it's a bug.

Relevant doc is in [`nerdctl run`](https://github.com/containerd/nerdctl#whale-blue_square-nerdctl-run) -> `Volume flags:` -> `--mount`:

This implies that for `type=volume`, if `src` is not given, an anonymous volume should be created, but currently an error is returned instead